# Example 1: Query a table with SQL and magic commands

In [1]:
# Running this code will query a table in BigQuery and download
# the results to a Pandas DataFrame named `results`.
# Learn more here: https://cloud.google.com/bigquery/docs/visualize-jupyter

%%bigquery results --project nimble-arcana-431708-c7
SELECT * FROM `physionet-data.mimiciv_hosp.d_labitems` #this table name was set based on the table you chose to query

Query is running:   0%|          |

Downloading:   0%|          |

In [2]:
# You can view the resulting Pandas DataFrame and work with using the Pandas library.
# https://pandas.pydata.org/docs/getting_started/index.html#getting-started
results

      itemid                       label                fluid    category
0      52038                 Base Excess                Fluid   Blood Gas
1      52039      Calculated Bicarbonate                Fluid   Blood Gas
2      52040                        pCO2                Fluid   Blood Gas
3      52041                          pH                Fluid   Blood Gas
4      52042                         pO2                Fluid   Blood Gas
...      ...                         ...                  ...         ...
1617   52285                    RBC, CSF  Cerebrospinal Fluid  Hematology
1618   52286  Total Nucleated Cells, CSF  Cerebrospinal Fluid  Hematology
1619   52287             Voided Specimen  Cerebrospinal Fluid  Hematology
1620   52288                       Young  Cerebrospinal Fluid  Hematology
1621   52289                      Young#  Cerebrospinal Fluid  Hematology

[1622 rows x 4 columns]

# Extraction for AMI patients

In [ ]:
# With BigQuery DataFrames, you can use many familiar Pandas methods, but the
# processing happens BigQuery rather than the runtime, allowing you to work with larger
# DataFrames that would otherwise not fit in the runtime memory.
# Learn more here: https://cloud.google.com/python/docs/reference/bigframes/latest

import bigframes.pandas as bf

bf.options.bigquery.location = "US" #this variable is set based on the dataset you chose to query
bf.options.bigquery.project = "nimble-arcana-431708-c7" #this variable is set based on the dataset you chose to query

In [ ]:
labevents = bf.read_gbq("physionet-data.mimiciv_hosp.labevents") #this variable is set based on the dataset you chose to query

In [ ]:
# Step 1: Identify subject_ids who have itemids (51002, 51003, 52642)
required_itemids = [51002, 51003, 52642]
required_subjects = labevents[
    (labevents['itemid'].isin(required_itemids)) &
    (labevents['flag'] == 'abnormal')
]['subject_id'].unique()

# Step 2: Filter the entire labevents for those subject_ids and itemids
elevated_troponin = labevents[
    (labevents['subject_id'].isin(required_subjects)) &
    (labevents['itemid'].isin([51002, 51003, 52642, 50903, 50904, 50905, 50906, 50907, 51583])) &
    (labevents['flag'] == 'abnormal')
]

# Step 3: Order by subject_id
elevated_troponin = elevated_troponin.sort_values(by='subject_id')

# Display the filtered and ordered dataframe
elevated_troponin

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
2037142,2577,10000764,27897940,43331822,51003,<NA>,2132-10-16 06:03:00,2132-10-16 08:50:00,___,0.57,ng/mL,0.0,0.01,abnormal,ROUTINE,___
23449472,2626,10000764,27897940,79417058,51003,<NA>,2132-10-18 06:10:00,2132-10-18 11:46:00,___,1.48,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
34519376,2502,10000764,27897940,13267968,51003,<NA>,2132-10-15 07:45:00,2132-10-15 09:12:00,___,0.04,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
41939708,2603,10000764,27897940,24885655,51003,<NA>,2132-10-17 05:59:00,2132-10-17 08:19:00,___,1.28,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
78398107,2584,10000764,27897940,83458790,51003,<NA>,2132-10-16 15:03:00,2132-10-16 16:34:00,___,0.89,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
88720314,2637,10000764,27897940,23075119,51003,<NA>,2132-10-19 07:28:00,2132-10-19 11:44:00,___,1.5,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
94215697,2607,10000764,27897940,23401102,51003,<NA>,2132-10-17 13:16:00,2132-10-17 14:46:00,___,1.29,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
603444,6447,10000980,<NA>,40151635,50905,P174XO,2189-10-11 10:05:00,2189-10-11 14:02:00,146,146.0,mg/dL,0.0,129.0,abnormal,ROUTINE,<NA>
1387965,8141,10000980,<NA>,51045619,50905,P101DT,2192-09-04 12:12:00,2192-09-04 13:50:00,___,135.0,mg/dL,0.0,129.0,abnormal,ROUTINE,LDL(calc) invalid if Non- Fasting sample..
1610826,5958,10000980,29654838,99307900,50907,<NA>,2188-01-04 03:56:00,2188-01-04 12:48:00,230,230.0,mg/dL,0.0,199.0,abnormal,STAT,<NA>
5500826,6364,10000980,26913865,3485215,51003,<NA>,2189-07-01 07:20:00,2189-07-01 08:58:00,___,0.15,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
8447117,5936,10000980,29654838,11261144,51003,<NA>,2188-01-03 20:43:00,2188-01-03 22:05:00,___,0.03,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
9886459,6246,10000980,26913865,9202804,51003,<NA>,2189-06-27 20:01:00,2189-06-27 21:24:00,___,0.15,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
11881834,7908,10000980,<NA>,85278958,50907,P101DT,2191-08-01 13:40:00,2191-08-01 14:50:00,207,207.0,mg/dL,0.0,199.0,abnormal,STAT,<NA>
12147836,6548,10000980,<NA>,6008480,50907,P29JE1,2190-08-27 12:00:00,2190-08-27 16:51:00,276,276.0,mg/dL,0.0,199.0,abnormal,ROUTINE,<NA>
12604438,5957,10000980,29654838,99307900,50905,<NA>,2188-01-04 03:56:00,2188-01-04 12:48:00,146,146.0,mg/dL,0.0,129.0,abnormal,STAT,<NA>
17980700,6675,10000980,<NA>,34061026,50907,P29JE1,2190-09-21 08:30:00,2190-09-21 11:24:00,278,278.0,mg/dL,0.0,199.0,abnormal,ROUTINE,<NA>
32166296,6530,10000980,<NA>,87109738,50907,P29JE1,2190-08-22 12:00:00,2190-08-22 20:16:00,259,259.0,mg/dL,0.0,199.0,abnormal,ROUTINE,<NA>
32698325,8375,10000980,20897796,82674109,51003,<NA>,2193-08-15 06:40:00,2193-08-15 08:44:00,___,0.05,ng/mL,0.0,0.01,abnormal,STAT,cTropnT > 0.10 ng/mL suggests Acute MI.
35307802,6244,10000980,26913865,31157898,51003,<NA>,2189-06-27 12:58:00,2189-06-27 14:18:00,___,0.11,ng/mL,0.0,0.01,abnormal,STAT,___
37270778,7033,10000980,<NA>,422899,50907,P29JE1,2190-11-16 10:54:00,2190-11-16 13:40:00,266,266.0,mg/dL,0.0,199.0,abnormal,ROUTINE,<NA>
38421463,6606,10000980,<NA>,84717381,50907,P29JE1,2190-09-07 08:50:00,2190-09-07 11:10:00,254,254.0,mg/dL,0.0,199.0,abnormal,STAT,<NA>
42777761,6762,10000980,<NA>,32926734,50907,P29JE1,2190-10-05 08:55:00,2190-10-05 12:19:00,240,240.0,mg/dL,0.0,199.0,abnormal,ROUTINE,<NA>
48888438,6264,10000980,26913865,68424706,51003,<NA>,2189-06-28 06:15:00,2189-06-28 08:47:00,___,0.13,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
52156500,8183,10000980,<NA>,85125075,50907,P29JE1,2192-09-23 11:05:00,2192-09-23 13:16:00,202,202.0,mg/dL,0.0,199.0,abnormal,ROUTINE,<NA>

In [ ]:
# Drop rows where hadm_id values are missing
elevated_troponin = elevated_troponin.dropna(subset=['hadm_id'])

# Order by subject_id and hadm_id
elevated_troponin = elevated_troponin.sort_values(by=['subject_id', 'hadm_id'])

# Display the filtered dataframe without missing hadm_id values
elevated_troponin

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
2037142,2577,10000764,27897940,43331822,51003,<NA>,2132-10-16 06:03:00,2132-10-16 08:50:00,___,0.57,ng/mL,0.0,0.01,abnormal,ROUTINE,___
23449472,2626,10000764,27897940,79417058,51003,<NA>,2132-10-18 06:10:00,2132-10-18 11:46:00,___,1.48,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
34519376,2502,10000764,27897940,13267968,51003,<NA>,2132-10-15 07:45:00,2132-10-15 09:12:00,___,0.04,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
41939708,2603,10000764,27897940,24885655,51003,<NA>,2132-10-17 05:59:00,2132-10-17 08:19:00,___,1.28,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
78398107,2584,10000764,27897940,83458790,51003,<NA>,2132-10-16 15:03:00,2132-10-16 16:34:00,___,0.89,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
88720314,2637,10000764,27897940,23075119,51003,<NA>,2132-10-19 07:28:00,2132-10-19 11:44:00,___,1.5,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
94215697,2607,10000764,27897940,23401102,51003,<NA>,2132-10-17 13:16:00,2132-10-17 14:46:00,___,1.29,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
32698325,8375,10000980,20897796,82674109,51003,<NA>,2193-08-15 06:40:00,2193-08-15 08:44:00,___,0.05,ng/mL,0.0,0.01,abnormal,STAT,cTropnT > 0.10 ng/mL suggests Acute MI.
86595781,8392,10000980,20897796,92709973,51003,<NA>,2193-08-15 14:01:00,2193-08-15 15:34:00,___,0.04,ng/mL,0.0,0.01,abnormal,ROUTINE,cTropnT > 0.10 ng/mL suggests Acute MI.
5500826,6364,10000980,26913865,3485215,51003,<NA>,2189-07-01 07:20:00,2189-07-01 08:58:00,___,0.15,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
9886459,6246,10000980,26913865,9202804,51003,<NA>,2189-06-27 20:01:00,2189-06-27 21:24:00,___,0.15,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
35307802,6244,10000980,26913865,31157898,51003,<NA>,2189-06-27 12:58:00,2189-06-27 14:18:00,___,0.11,ng/mL,0.0,0.01,abnormal,STAT,___
48888438,6264,10000980,26913865,68424706,51003,<NA>,2189-06-28 06:15:00,2189-06-28 08:47:00,___,0.13,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
64360527,6287,10000980,26913865,27853291,50907,<NA>,2189-06-28 11:00:00,2189-06-28 18:18:00,239,239.0,mg/dL,0.0,199.0,abnormal,STAT,<NA>
110403681,6353,10000980,26913865,35558668,51003,<NA>,2189-06-30 17:30:00,2189-06-30 19:24:00,___,0.11,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
1610826,5958,10000980,29654838,99307900,50907,<NA>,2188-01-04 03:56:00,2188-01-04 12:48:00,230,230.0,mg/dL,0.0,199.0,abnormal,STAT,<NA>
8447117,5936,10000980,29654838,11261144,51003,<NA>,2188-01-03 20:43:00,2188-01-03 22:05:00,___,0.03,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
12604438,5957,10000980,29654838,99307900,50905,<NA>,2188-01-04 03:56:00,2188-01-04 12:48:00,146,146.0,mg/dL,0.0,129.0,abnormal,STAT,<NA>
109894309,5968,10000980,29654838,99307900,51003,<NA>,2188-01-04 03:56:00,2188-01-04 05:25:00,___,0.04,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
13075006,12235,10001492,27463908,30104864,51003,<NA>,2136-09-24 00:15:00,2136-09-24 02:50:00,___,0.73,ng/mL,0.0,0.01,abnormal,STAT,___
99573048,12261,10001492,27463908,78348124,51003,<NA>,2136-09-24 05:10:00,2136-09-24 08:13:00,___,0.43,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
87775674,16552,10001884,26184834,46958040,51003,<NA>,2131-01-10 15:03:00,2131-01-10 16:24:00,___,0.05,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
96921292,16648,10001884,26184834,18388387,51003,<NA>,2131-01-11 06:31:00,2131-01-11 07:52:00,___,0.08,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
97883442,16578,10001884,26184834,96271110,51003,<NA>,2131-01-10 20:45:00,2131-01-10 21:53:00,___,0.05,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
55001457,16101,10001884,28664981,61161503,51003,<NA>,2130-11-29 07:45:00,2130-11-29 11:19:00,___,0.02,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.

In [ ]:


# Group by subject_id and count the number of hadm_ids
subject_hadm_count = elevated_troponin.groupby('subject_id')['hadm_id'].nunique().reset_index()

# Rename the columns for clarity
subject_hadm_count.columns = ['subject_id', 'hadm_id_count']

# Filter to keep only subject_ids with more than one hadm_id
subject_hadm_count = subject_hadm_count[subject_hadm_count['hadm_id_count'] > 1]

# Display the resulting dataframe
subject_hadm_count

    subject_id  hadm_id_count
1     10000980              3
3     10001884              2
5     10002155              2
6     10002428              2
8     10003019              2
9     10003502              3
11    10004401              5
23    10009635              2
25    10010058              3
26    10010471              2
27    10011365              2
33    10013310              3
34    10013502              2
35    10013569              2
37    10013653              2
39    10014610              3
41    10015931              2
42    10016367              2
43    10016742              2
44    10017531              2
47    10017886              2
48    10018081              2
57    10023117              2
58    10024331              3
59    10024913              2
...

[6515 rows x 2 columns]

In [ ]:
# Group by subject_id and count the number of unique hadm_ids
subject_hadm_count = elevated_troponin.groupby('subject_id')['hadm_id'].nunique().reset_index()

# Rename the columns for clarity
subject_hadm_count.columns = ['subject_id', 'hadm_id_count']

# Get a list of subject_ids with more than one hadm_id
multiple_hadm_ids = subject_hadm_count[subject_hadm_count['hadm_id_count'] > 1]['subject_id']

# Filter elevated_troponin to drop patients with multiple hadm_ids
elevated_troponin_single_hadm = elevated_troponin[~elevated_troponin['subject_id'].isin(multiple_hadm_ids)]

# Display the resulting DataFrame
elevated_troponin_single_hadm

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
2037142,2577,10000764,27897940,43331822,51003,<NA>,2132-10-16 06:03:00,2132-10-16 08:50:00,___,0.57,ng/mL,0.0,0.01,abnormal,ROUTINE,___
23449472,2626,10000764,27897940,79417058,51003,<NA>,2132-10-18 06:10:00,2132-10-18 11:46:00,___,1.48,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
34519376,2502,10000764,27897940,13267968,51003,<NA>,2132-10-15 07:45:00,2132-10-15 09:12:00,___,0.04,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
41939708,2603,10000764,27897940,24885655,51003,<NA>,2132-10-17 05:59:00,2132-10-17 08:19:00,___,1.28,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
78398107,2584,10000764,27897940,83458790,51003,<NA>,2132-10-16 15:03:00,2132-10-16 16:34:00,___,0.89,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
88720314,2637,10000764,27897940,23075119,51003,<NA>,2132-10-19 07:28:00,2132-10-19 11:44:00,___,1.5,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
94215697,2607,10000764,27897940,23401102,51003,<NA>,2132-10-17 13:16:00,2132-10-17 14:46:00,___,1.29,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
13075006,12235,10001492,27463908,30104864,51003,<NA>,2136-09-24 00:15:00,2136-09-24 02:50:00,___,0.73,ng/mL,0.0,0.01,abnormal,STAT,___
99573048,12261,10001492,27463908,78348124,51003,<NA>,2136-09-24 05:10:00,2136-09-24 08:13:00,___,0.43,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
61535971,18896,10002013,24760295,20690493,51003,<NA>,2160-07-11 00:09:00,2160-07-11 01:04:00,___,0.12,ng/mL,0.0,0.01,abnormal,STAT,___
67299515,18909,10002013,24760295,9061268,51003,<NA>,2160-07-11 07:15:00,2160-07-11 10:40:00,___,0.13,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
21364660,32480,10002495,24982426,94011196,51003,<NA>,2141-05-24 06:20:00,2141-05-24 08:23:00,___,6.74,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
36680408,32431,10002495,24982426,78572217,51003,<NA>,2141-05-23 16:57:00,2141-05-23 18:25:00,___,3.75,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
51695404,32413,10002495,24982426,9540818,51003,<NA>,2141-05-23 10:52:00,2141-05-23 12:34:00,___,3.11,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
54993824,32385,10002495,24982426,17729247,51003,<NA>,2141-05-23 05:48:00,2141-05-23 08:02:00,___,1.75,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
62329880,32350,10002495,24982426,35413205,51003,<NA>,2141-05-23 01:49:00,2141-05-23 02:35:00,___,0.84,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
73564345,32309,10002495,24982426,50868496,51003,<NA>,2141-05-22 21:23:00,2141-05-22 23:05:00,___,0.69,ng/mL,0.0,0.01,abnormal,ROUTINE,___
62608185,54539,10003637,22082422,67474387,51003,<NA>,2146-02-19 07:35:00,2146-02-19 13:04:00,___,0.03,ng/mL,0.0,0.01,abnormal,STAT,cTropnT > 0.10 ng/mL suggests Acute MI.
36315234,67720,10004720,22081550,59505170,51003,<NA>,2186-11-13 00:30:00,2186-11-13 01:40:00,___,0.41,ng/mL,0.0,0.01,abnormal,ROUTINE,___
63546851,67817,10004720,22081550,38034257,51003,<NA>,2186-11-13 14:29:00,2186-11-13 15:37:00,___,0.22,ng/mL,0.0,0.01,abnormal,STAT,cTropnT > 0.10 ng/mL suggests Acute MI.
88888825,67772,10004720,22081550,79907236,51003,<NA>,2186-11-13 07:32:00,2186-11-13 08:59:00,___,0.3,ng/mL,0.0,0.01,abnormal,STAT,cTropnT > 0.10 ng/mL suggests Acute MI.
75081651,68575,10004733,27411876,43641535,51003,<NA>,2174-12-13 21:15:00,2174-12-13 22:35:00,___,0.02,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
66756305,73528,10005606,29646384,80372257,51003,<NA>,2143-12-06 02:32:00,2143-12-06 08:29:00,___,0.05,ng/mL,0.0,0.01,abnormal,STAT,cTropnT > 0.10 ng/mL suggests Acute MI.
113094275,73482,10005606,29646384,65530962,51003,<NA>,2143-12-05 23:10:00,2143-12-06 01:38:00,___,0.06,ng/mL,0.0,0.01,abnormal,STAT,cTropnT > 0.10 ng/mL suggests Acute MI.
93612510,75593,10005817,20626031,29604932,51003,<NA>,2132-12-18 02:03:00,2132-12-18 07:01:00,___,0.68,ng/mL,0.0,0.01,abnormal,STAT,___

In [ ]:
# Count distinct subject_id in elevated_troponin
distinct_subject_count = elevated_troponin_single_hadm['itemid'].unique()

# Display the count
print(f"Count of distinct subject_id: {distinct_subject_count}")

Count of distinct subject_id: 2037142     51003
59166033    50905
87338874    50907
5505057     50904
24900215    50906
Name: itemid, dtype: Int64

In [ ]:
# Load the admissions data
admissions = bf.read_gbq("physionet-data.mimiciv_hosp.admissions")

# Merge admissions with elevated_troponin_single_hadm based on hadm_id
merged_data = admissions[admissions['hadm_id'].isin(elevated_troponin_single_hadm['hadm_id'])]

# Display the resulting DataFrame
merged_data

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
55,15249915,25244672,2139-03-03 18:59:00,2139-03-31 17:35:00,<NA>,URGENT,P04X8Y,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicare,ENGLISH,WIDOWED,WHITE,<NA>,<NA>,0
71,17469778,22441519,2128-11-15 03:05:00,2128-12-11 18:00:00,<NA>,EW EMER.,P48KFD,EMERGENCY ROOM,CHRONIC/LONG TERM ACUTE CARE,Medicare,ENGLISH,SINGLE,BLACK/AFRICAN AMERICAN,2128-11-15 02:33:00,2128-11-15 05:53:00,0
121,14447847,20390421,2141-03-01 18:53:00,2141-03-04 14:00:00,<NA>,EW EMER.,P44UQI,EMERGENCY ROOM,HOME,Medicare,ENGLISH,MARRIED,WHITE,2141-03-01 14:31:00,2141-03-01 19:23:00,0
140,11136204,25389136,2196-11-26 22:38:00,2196-12-09 15:51:00,<NA>,OBSERVATION ADMIT,P79IP0,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,ENGLISH,MARRIED,WHITE - RUSSIAN,2196-11-26 13:43:00,2196-11-27 17:32:00,0
157,12739652,25978400,2110-10-11 07:29:00,2110-10-12 20:30:00,2110-10-12 20:30:00,URGENT,P93MI7,TRANSFER FROM HOSPITAL,DIED,Medicare,ENGLISH,WIDOWED,WHITE,<NA>,<NA>,1
162,11699868,20798077,2125-12-24 17:15:00,2125-12-27 13:30:00,<NA>,EW EMER.,P23URY,EMERGENCY ROOM,HOME,Medicare,ENGLISH,WIDOWED,WHITE,2125-12-24 15:52:00,2125-12-24 18:00:00,0
170,19965303,22709834,2163-04-11 17:29:00,2163-04-13 15:32:00,<NA>,EW EMER.,P91RC2,EMERGENCY ROOM,HOME,Other,ENGLISH,SINGLE,WHITE,2163-04-11 14:53:00,2163-04-11 18:25:00,0
217,17727330,24230862,2176-06-20 21:21:00,2176-06-25 15:20:00,<NA>,URGENT,P74FFH,TRANSFER FROM HOSPITAL,CHRONIC/LONG TERM ACUTE CARE,Medicare,ENGLISH,WIDOWED,BLACK/AFRICAN AMERICAN,<NA>,<NA>,0
236,11533048,25552604,2117-04-02 23:25:00,2117-04-05 18:20:00,<NA>,OBSERVATION ADMIT,P43HX7,EMERGENCY ROOM,HOME HEALTH CARE,Other,?,<NA>,UNKNOWN,2117-04-02 17:58:00,2117-04-03 00:18:00,0
376,15710484,26736048,2186-12-19 20:04:00,2187-01-09 13:53:00,<NA>,URGENT,P44UQI,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,?,SINGLE,WHITE,<NA>,<NA>,0
403,13873595,23417361,2172-11-05 17:24:00,2172-11-26 16:51:00,<NA>,EW EMER.,P09IS0,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,ENGLISH,SINGLE,WHITE,2172-11-05 14:07:00,2172-11-05 18:00:00,0
481,14413724,25143811,2177-06-03 18:43:00,2177-06-08 14:26:00,<NA>,OBSERVATION ADMIT,P93MI7,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,ENGLISH,WIDOWED,WHITE,2177-06-03 11:19:00,2177-06-03 20:29:00,0
498,15644476,24889537,2174-02-03 22:49:00,2174-03-01 17:40:00,<NA>,URGENT,P7554I,TRANSFER FROM HOSPITAL,CHRONIC/LONG TERM ACUTE CARE,Medicare,ENGLISH,WIDOWED,WHITE,<NA>,<NA>,0
509,12124962,23447905,2155-10-14 22:07:00,2155-10-23 14:25:00,<NA>,EW EMER.,P38V7W,EMERGENCY ROOM,SKILLED NURSING FACILITY,Other,ENGLISH,SINGLE,WHITE,2155-10-14 19:13:00,2155-10-15 03:00:00,0
510,15457431,27980885,2189-08-05 21:46:00,2189-08-07 14:10:00,<NA>,EW EMER.,P132L1,EMERGENCY ROOM,HOME,Other,ENGLISH,MARRIED,WHITE,2189-08-05 19:28:00,2189-08-05 23:54:00,0
519,12124781,27861413,2187-11-23 16:16:00,2187-12-30 14:38:00,2187-12-30 14:38:00,EW EMER.,P30KEH,EMERGENCY ROOM,DIED,Medicare,ENGLISH,SINGLE,WHITE,2187-11-23 10:32:00,2187-11-23 17:34:00,1
527,12007754,22791290,2154-06-27 23:38:00,2154-07-04 14:11:00,<NA>,URGENT,P99LA7,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Other,ENGLISH,MARRIED,WHITE,<NA>,<NA>,0
598,16097925,20461991,2123-02-06 02:27:00,2123-02-25 07:45:00,2123-02-25 19:11:00,EW EMER.,P99BGS,EMERGENCY ROOM,DIED,Medicaid,?,<NA>,UNKNOWN,2123-02-06 01:05:00,2123-02-06 03:19:00,1
604,12940767,23330292,2156-02-20 23:33:00,2156-02-22 17:30:00,<NA>,EW EMER.,P637GX,PHYSICIAN REFERRAL,HOME,Medicare,ENGLISH,SINGLE,WHITE,2156-02-20 15:45:00,2156-02-21 00:48:00,0
607,15803225,22177699,2164-05-30 00:10:00,2164-06-02 13:00:00,<NA>,EW EMER.,P29CGZ,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,ENGLISH,WIDOWED,WHITE,2164-05-29 18:52:00,2164-05-30 01:13:00,0
656,17971413,21653499,2118-10-15 11:20:00,2118-10-28 13:55:00,<NA>,EW EMER.,P30KEH,EMERGENCY ROOM,REHAB,Other,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,2118-10-15 06:43:00,2118-10-15 13:09:00,0
697,13364025,21975198,2181-02-16 20:08:00,2181-02-24 15:30:00,<NA>,URGENT,P695KR,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,SINGLE,WHITE,<NA>,<NA>,0
740,10562589,22085831,2115-12-19 15:57:00,2115-12-23 16:13:00,<NA>,OBSERVATION ADMIT,P187JB,PHYSICIAN REFERRAL,HOME,Other,ENGLISH,SINGLE,BLACK/AFRICAN AMERICAN,2115-12-19 11:10:00,2115-12-21 17:18:00,0
750,11185674,25433770,2163-07-08 11:04:00,2163-07-13 18:30:00,2163-07-13 18:30:00,EW EMER.,P44UQI,EMERGENCY ROOM,DIED,Medicare,?,MARRIED,WHITE,2163-07-08 09:42:00,2163-07-08 12:07:00,1
817,19508604,28747200,2177-05-15 18:12:00,2177-05-24 14:59:00,<NA>,OBSERVATION ADMIT,P66A56,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,ENGLISH,DIVORCED,WHITE,2177-05-15 17:26:00,2177-05-15 19:36:00,0

In [ ]:
import bigframes.pandas as bf

# Calculate average values for specific itemids
average_troponin = (
    elevated_troponin_single_hadm[elevated_troponin_single_hadm['itemid'] == 51003]
    .groupby(['subject_id', 'hadm_id'])
    .agg(average_troponin_level=('valuenum', 'mean'))
    .reset_index()
)

average_cholesterol_HDL = (
    elevated_troponin_single_hadm[elevated_troponin_single_hadm['itemid'] == 50904]
    .groupby(['subject_id', 'hadm_id'])
    .agg(average_cholesterol_HDL=('valuenum', 'mean'))
    .reset_index()
)

average_cholesterol_LDL_Calculated = (
    elevated_troponin_single_hadm[elevated_troponin_single_hadm['itemid'] == 50905]
    .groupby(['subject_id', 'hadm_id'])
    .agg(average_cholesterol_LDL_Calculated=('valuenum', 'mean'))
    .reset_index()
)

average_cholesterol_LDL_Measured = (
    elevated_troponin_single_hadm[elevated_troponin_single_hadm['itemid'] == 50906]
    .groupby(['subject_id', 'hadm_id'])
    .agg(average_cholesterol_LDL_Measured=('valuenum', 'mean'))
    .reset_index()
)

average_cholesterol_Total = (
    elevated_troponin_single_hadm[elevated_troponin_single_hadm['itemid'] == 50907]
    .groupby(['subject_id', 'hadm_id'])
    .agg(average_cholesterol_Total=('valuenum', 'mean'))
    .reset_index()
)


# Step 1: Get the first charttime and storetime for each hadm_id
first_entries = (
     elevated_troponin_single_hadm[elevated_troponin_single_hadm['itemid'] == 51003]
    .groupby(['subject_id', 'hadm_id'], as_index=False)
    .agg(
        charttime=('charttime', 'min'),
        storetime=('storetime', 'min')
    #.reset_index()
)
)
# Merge all the average DataFrames together
lab_results = first_entries.merge(average_troponin, on=['subject_id', 'hadm_id'], how='outer') \
    .merge(average_cholesterol_HDL, on=['subject_id', 'hadm_id'], how='outer')\
    .merge(average_cholesterol_LDL_Calculated, on=['subject_id', 'hadm_id'], how='outer') \
    .merge(average_cholesterol_LDL_Measured, on=['subject_id', 'hadm_id'], how='outer') \
    .merge(average_cholesterol_Total, on=['subject_id', 'hadm_id'], how='outer')

# Step 3: Merge the first entries into lab_results
#lab_results = lab_results.merge(first_entries, on=['subject_id', 'hadm_id'], how='outer')

# Replace NaN values with 0 for the averages
#lab_results = lab_results.fillna(0)

# Display the resulting DataFrame
lab_results

,subject_id,hadm_id,charttime,storetime,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,average_cholesterol_LDL_Measured,average_cholesterol_Total
0,10000764,27897940,2132-10-15 07:45:00,2132-10-15 09:12:00,1.007143,<NA>,<NA>,<NA>,<NA>
1,10001492,27463908,2136-09-24 00:15:00,2136-09-24 02:50:00,0.58,<NA>,<NA>,<NA>,<NA>
2,10002013,24760295,2160-07-11 00:09:00,2160-07-11 01:04:00,0.125,<NA>,<NA>,<NA>,<NA>
3,10002495,24982426,2141-05-22 21:23:00,2141-05-22 23:05:00,2.813333,<NA>,<NA>,<NA>,<NA>
4,10003637,22082422,2146-02-19 07:35:00,2146-02-19 13:04:00,0.03,<NA>,<NA>,<NA>,<NA>
5,10004720,22081550,2186-11-13 00:30:00,2186-11-13 01:40:00,0.31,<NA>,<NA>,<NA>,<NA>
6,10004733,27411876,2174-12-13 21:15:00,2174-12-13 22:35:00,0.02,<NA>,<NA>,<NA>,<NA>
7,10005606,29646384,2143-12-05 23:10:00,2143-12-06 01:38:00,0.055,<NA>,<NA>,<NA>,<NA>
8,10005817,20626031,2132-12-18 02:03:00,2132-12-18 07:01:00,0.68,<NA>,<NA>,<NA>,<NA>
9,10006431,25086012,2129-02-02 06:15:00,2129-02-02 10:53:00,0.02,<NA>,<NA>,<NA>,<NA>
10,10007058,22954658,2167-11-08 00:19:00,2167-11-08 01:18:00,1.82,<NA>,<NA>,<NA>,<NA>
11,10007818,22987108,2146-06-22 11:54:00,2146-06-22 13:13:00,0.02,<NA>,<NA>,<NA>,<NA>
12,10008077,27668147,2191-03-05 21:52:00,2191-03-05 23:03:00,0.325,<NA>,<NA>,<NA>,<NA>
13,10009142,26957110,2127-01-23 07:02:00,2127-01-23 08:32:00,0.02,<NA>,<NA>,<NA>,<NA>
14,10009585,23010368,2111-04-12 21:15:00,2111-04-12 22:28:00,0.094,<NA>,<NA>,<NA>,<NA>
15,10009628,25926192,2153-09-17 19:30:00,2153-09-17 20:29:00,0.26,<NA>,<NA>,<NA>,<NA>
16,10009686,29681222,2164-04-30 14:05:00,2164-04-30 16:19:00,1.4375,<NA>,<NA>,<NA>,<NA>
17,10011668,24061001,2141-04-14 20:29:00,2141-04-14 21:22:00,0.19,<NA>,<NA>,<NA>,<NA>
18,10011938,23501236,2128-02-11 21:00:00,2128-02-11 22:15:00,0.026667,<NA>,<NA>,<NA>,<NA>
19,10012292,28665904,2171-07-17 20:30:00,2171-07-17 21:38:00,0.085,<NA>,<NA>,<NA>,<NA>
20,10012343,27658045,2146-03-18 22:30:00,2146-03-18 23:52:00,0.8775,<NA>,<NA>,<NA>,<NA>
21,10012853,26369609,2175-04-05 21:20:00,2175-04-05 22:57:00,0.03,<NA>,<NA>,<NA>,<NA>
22,10013643,22009484,2200-10-01 11:50:00,2200-10-01 13:08:00,0.34,<NA>,<NA>,<NA>,<NA>
23,10014194,29175068,2166-12-05 02:50:00,2166-12-05 04:36:00,0.035,<NA>,<NA>,<NA>,<NA>
24,10015048,21854603,2131-08-25 03:09:00,2131-08-25 04:21:00,0.103333,<NA>,<NA>,<NA>,<NA>

In [ ]:
lab_results.describe()

,subject_id,hadm_id,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,average_cholesterol_LDL_Measured,average_cholesterol_Total
count,17881.0,17881.0,17726.0,439.0,470.0,90.0,654.0
mean,14974737.746994,24989910.753034,0.555044,30.230068,158.009574,164.744444,235.61366
std,2884869.068207,2867016.55853,1.649223,7.370149,32.001873,36.458553,41.377021
min,10000764.0,20000094.0,0.02,10.0,130.0,130.0,200.0
25%,12400287.0,22484747.0,0.035,26.0,138.0,137.0,211.0
50%,15004194.0,24981789.0,0.083333,31.0,149.0,153.0,224.0
75%,17478025.0,27382528.0,0.3275,36.0,168.0,186.0,247.0
max,19999987.0,29999670.0,51.84,40.0,481.0,311.0,576.0

In [ ]:
# Perform the join on 'subject_id' and select all columns from merged_data and specific columns from lab_results
final_data = merged_data.merge(
    lab_results.drop(columns=['hadm_id']),  # Drop 'hadm_id' from lab_results to avoid duplication
    on='subject_id',  # Join on 'subject_id'
    how='left'  # Use left join to keep all rows from merged_data
)

# Display the resulting DataFrame
final_data

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,edregtime,edouttime,hospital_expire_flag,charttime,storetime,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,average_cholesterol_LDL_Measured,average_cholesterol_Total
0,15249915,25244672,2139-03-03 18:59:00,2139-03-31 17:35:00,<NA>,URGENT,P04X8Y,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicare,...,<NA>,<NA>,0,2139-03-03 21:10:00,2139-03-03 22:17:00,0.0825,<NA>,<NA>,<NA>,<NA>
1,17469778,22441519,2128-11-15 03:05:00,2128-12-11 18:00:00,<NA>,EW EMER.,P48KFD,EMERGENCY ROOM,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,2128-11-15 02:33:00,2128-11-15 05:53:00,0,2128-11-15 07:30:00,2128-11-15 08:43:00,0.073333,<NA>,<NA>,<NA>,<NA>
2,14447847,20390421,2141-03-01 18:53:00,2141-03-04 14:00:00,<NA>,EW EMER.,P44UQI,EMERGENCY ROOM,HOME,Medicare,...,2141-03-01 14:31:00,2141-03-01 19:23:00,0,2141-03-01 19:35:00,2141-03-01 20:34:00,0.02,<NA>,<NA>,<NA>,<NA>
3,11136204,25389136,2196-11-26 22:38:00,2196-12-09 15:51:00,<NA>,OBSERVATION ADMIT,P79IP0,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,...,2196-11-26 13:43:00,2196-11-27 17:32:00,0,2196-11-27 00:15:00,2196-11-27 00:57:00,0.023333,<NA>,<NA>,<NA>,<NA>
4,12739652,25978400,2110-10-11 07:29:00,2110-10-12 20:30:00,2110-10-12 20:30:00,URGENT,P93MI7,TRANSFER FROM HOSPITAL,DIED,Medicare,...,<NA>,<NA>,1,2110-10-12 03:20:00,2110-10-12 05:42:00,0.04,<NA>,<NA>,<NA>,<NA>
5,11699868,20798077,2125-12-24 17:15:00,2125-12-27 13:30:00,<NA>,EW EMER.,P23URY,EMERGENCY ROOM,HOME,Medicare,...,2125-12-24 15:52:00,2125-12-24 18:00:00,0,2125-12-25 04:34:00,2125-12-25 08:43:00,0.02,<NA>,<NA>,<NA>,<NA>
6,19965303,22709834,2163-04-11 17:29:00,2163-04-13 15:32:00,<NA>,EW EMER.,P91RC2,EMERGENCY ROOM,HOME,Other,...,2163-04-11 14:53:00,2163-04-11 18:25:00,0,2163-04-12 00:55:00,2163-04-12 02:16:00,0.113333,<NA>,130.0,<NA>,212.0
7,17727330,24230862,2176-06-20 21:21:00,2176-06-25 15:20:00,<NA>,URGENT,P74FFH,TRANSFER FROM HOSPITAL,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,<NA>,<NA>,0,2176-06-20 22:47:00,2176-06-21 00:09:00,0.065,<NA>,<NA>,<NA>,<NA>
8,11533048,25552604,2117-04-02 23:25:00,2117-04-05 18:20:00,<NA>,OBSERVATION ADMIT,P43HX7,EMERGENCY ROOM,HOME HEALTH CARE,Other,...,2117-04-02 17:58:00,2117-04-03 00:18:00,0,2117-04-03 05:42:00,2117-04-03 07:06:00,0.51,<NA>,<NA>,<NA>,<NA>
9,15710484,26736048,2186-12-19 20:04:00,2187-01-09 13:53:00,<NA>,URGENT,P44UQI,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,...,<NA>,<NA>,0,2186-12-26 01:05:00,2186-12-26 02:32:00,0.11,<NA>,<NA>,<NA>,<NA>
10,13873595,23417361,2172-11-05 17:24:00,2172-11-26 16:51:00,<NA>,EW EMER.,P09IS0,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,...,2172-11-05 14:07:00,2172-11-05 18:00:00,0,2172-11-07 01:18:00,2172-11-07 02:17:00,1.191538,<NA>,<NA>,<NA>,<NA>
11,14413724,25143811,2177-06-03 18:43:00,2177-06-08 14:26:00,<NA>,OBSERVATION ADMIT,P93MI7,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,2177-06-03 11:19:00,2177-06-03 20:29:00,0,2177-06-03 21:34:00,2177-06-03 23:03:00,0.02,<NA>,<NA>,<NA>,<NA>
12,15644476,24889537,2174-02-03 22:49:00,2174-03-01 17:40:00,<NA>,URGENT,P7554I,TRANSFER FROM HOSPITAL,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,<NA>,<NA>,0,2174-02-07 02:25:00,2174-02-07 05:57:00,0.375,<NA>,<NA>,<NA>,<NA>
13,12124962,23447905,2155-10-14 22:07:00,2155-10-23 14:25:00,<NA>,EW EMER.,P38V7W,EMERGENCY ROOM,SKILLED NURSING FACILITY,Other,...,2155-10-14 19:13:00,2155-10-15 03:00:00,0,2155-10-15 08:15:00,2155-10-15 16:30:00,0.253333,<NA>,<NA>,<NA>,<NA>
14,15457431,27980885,2189-08-05 21:46:00,2189-08-07 14:10:00,<NA>,EW EMER.,P132L1,EMERGENCY ROOM,HOME,Other,...,2189-08-05 19:28:00,2189-08-05 23:54:00,0,2189-08-06 02:16:00,2189-08-06 03:07:00,0.056667,<NA>,<NA>,<NA>,<NA>
15,12124781,27861413,2187-11-23 16:16:00,2187-12-30 14:38:00,2187-12-30 14:38:00,EW EMER.,P30KEH,EMERGENCY ROOM,DIED,Medicare,...,2187-11-23 10:32:00,2187-11-23 17:34:00,1,2187-11-24 21:39:00,2187-11-24 23:37:00,0.099167,<NA>,<NA>,<NA>,<NA>
16,12007754,22791290,2154-06-27 23:38:00,2154-07-04 14:11:00,<NA>,URGENT,P99LA7,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Other,...,<NA>,<NA>,0,2154-06-29 10:50:00,2154-06-29 12:38:00,0.04,<NA>,<NA>,<NA>,<NA>
17,16097925,20461991,2123-02-06 02:27:00,2123-02-25 07:45:00,2123-02-25 19:11:00,EW EMER.,P99BGS,EMERGENCY ROOM,DIED,Medicaid,...,2123-02-06 01:05:00,2123-02-06 03:19:00,1,2123-02-06 04:09:00,2123-02-06 05:54:00,0.0525,<NA>,<NA>,<NA>,<NA>
18,12940767,23330292,2156-02-20 23:33:00,2156-02-22 17:30:00,<NA>,EW EMER.,P637GX,PHYSICIAN REFERRAL,HOME,Medicare,...,2156-02-20 15:45:00,2156-02-21 00:48:00,0,2156-02-21 01:59:00,2156-02-21 02:53:00,0.115,27.0,<NA>,<NA>,<NA>
19,15803225,22177699,2164-05-30 00:10:00,2164-06-02 13:00:00,<NA>,EW EMER.,P29CGZ,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,...,2164-05-29 18:52:00,2164-05-30 01:13:00,0,2164-05-29 19:50:00,2164-05-29 21:30:00,0.04,<NA>,<NA>,<NA>,<NA>
20,17971413,21653499,2118-10-15 11:20:00,2118-10-28 13:55:00,<NA>,EW EMER.,P30KEH,EMERGENCY ROOM,REHAB,Other,...,2118-10-15 06:43:00,2118-10-15 13:09:00,0,2118-10-15 13:59:00,2118-10-15 15:24:00,0.075,<NA>,<NA>,<NA>,<NA>
21,13364025,21975198,2181-02-16 20:08:00,2181-02-24 15:30:00,<NA>,URGENT,P695KR,TRANSFER FROM HOSPITAL,HOME,Other,...,<NA>,<NA>,0,2181-02-16 21:11:00,2181-02-16 22:40:00,0.32,<NA>,<NA>,<NA>,<NA>
22,10562589,22085831,2115-12-19 15:57:00,2115-12-23 16:13:00,<NA>,OBSERVATION ADMIT,P187JB,PHYSICIAN REFERRAL,HOME,Other,...,2115-12-19 11:10:00,2115-12-21 17:18:00,0,2115-12-19 19:28:00,2115-12-19 19:57:00,0.02,<NA>,<NA>,<NA>,<NA>
23,11185674,25433770,2163-07-08 11:04:00,2163-07-13 18:30:00,2163-07-13 18:30:00,EW EMER.,P44UQI,EMERGENCY ROOM,DIED,Medicare,...,2163-07-08 09:42:00,2163-07-08 12:07:00,1,2163-07-08 15:14:00,2163-07-08 17:13:00,0.29,<NA>,<NA>,<NA>,<NA>
24,19508604,28747200,2177-05-15 18:12:00,2177-05-24 14:59:00,<NA>,OBSERVATION ADMIT,P66A56,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,2177-05-15 17:26:00,2177-05-15 19:36:00,0,2177-05-16 01:23:00,2177-05-16 02:37:00,1.086,<NA>,<NA>,<NA>,<NA>

In [ ]:
print(final_data.dtypes)

subject_id                                             Int64
hadm_id                                                Int64
admittime                             timestamp[us][pyarrow]
dischtime                             timestamp[us][pyarrow]
deathtime                             timestamp[us][pyarrow]
admission_type                               string[pyarrow]
admit_provider_id                            string[pyarrow]
admission_location                           string[pyarrow]
discharge_location                           string[pyarrow]
insurance                                    string[pyarrow]
language                                     string[pyarrow]
marital_status                               string[pyarrow]
race                                         string[pyarrow]
edregtime                             timestamp[us][pyarrow]
edouttime                             timestamp[us][pyarrow]
hospital_expire_flag                                   Int64
charttime                             timestamp[us][pyarrow]
storetime                             timestamp[us][pyarrow]
average_troponin_level                               Float64
average_cholesterol_HDL                              Float64
average_cholesterol_LDL_Calculated                   Float64
average_cholesterol_LDL_Measured                     Float64
average_cholesterol_Total                            Float64
dtype: object

In [ ]:
final_data['average_cholesterol_HDL'] = final_data['average_cholesterol_HDL'].fillna(0)
final_data['average_cholesterol_LDL_Calculated'] = final_data['average_cholesterol_LDL_Calculated'].fillna(0)
final_data['average_cholesterol_LDL_Measured'] = final_data['average_cholesterol_LDL_Measured'].fillna(0)
final_data['average_cholesterol_Total'] = final_data['average_cholesterol_Total'].fillna(0)

In [ ]:
final_data

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,edregtime,edouttime,hospital_expire_flag,charttime,storetime,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,average_cholesterol_LDL_Measured,average_cholesterol_Total
0,15249915,25244672,2139-03-03 18:59:00,2139-03-31 17:35:00,<NA>,URGENT,P04X8Y,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicare,...,<NA>,<NA>,0,2139-03-03 21:10:00,2139-03-03 22:17:00,0.0825,0.0,0.0,0.0,0.0
1,17469778,22441519,2128-11-15 03:05:00,2128-12-11 18:00:00,<NA>,EW EMER.,P48KFD,EMERGENCY ROOM,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,2128-11-15 02:33:00,2128-11-15 05:53:00,0,2128-11-15 07:30:00,2128-11-15 08:43:00,0.073333,0.0,0.0,0.0,0.0
2,14447847,20390421,2141-03-01 18:53:00,2141-03-04 14:00:00,<NA>,EW EMER.,P44UQI,EMERGENCY ROOM,HOME,Medicare,...,2141-03-01 14:31:00,2141-03-01 19:23:00,0,2141-03-01 19:35:00,2141-03-01 20:34:00,0.02,0.0,0.0,0.0,0.0
3,11136204,25389136,2196-11-26 22:38:00,2196-12-09 15:51:00,<NA>,OBSERVATION ADMIT,P79IP0,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,...,2196-11-26 13:43:00,2196-11-27 17:32:00,0,2196-11-27 00:15:00,2196-11-27 00:57:00,0.023333,0.0,0.0,0.0,0.0
4,12739652,25978400,2110-10-11 07:29:00,2110-10-12 20:30:00,2110-10-12 20:30:00,URGENT,P93MI7,TRANSFER FROM HOSPITAL,DIED,Medicare,...,<NA>,<NA>,1,2110-10-12 03:20:00,2110-10-12 05:42:00,0.04,0.0,0.0,0.0,0.0
5,11699868,20798077,2125-12-24 17:15:00,2125-12-27 13:30:00,<NA>,EW EMER.,P23URY,EMERGENCY ROOM,HOME,Medicare,...,2125-12-24 15:52:00,2125-12-24 18:00:00,0,2125-12-25 04:34:00,2125-12-25 08:43:00,0.02,0.0,0.0,0.0,0.0
6,19965303,22709834,2163-04-11 17:29:00,2163-04-13 15:32:00,<NA>,EW EMER.,P91RC2,EMERGENCY ROOM,HOME,Other,...,2163-04-11 14:53:00,2163-04-11 18:25:00,0,2163-04-12 00:55:00,2163-04-12 02:16:00,0.113333,0.0,130.0,0.0,212.0
7,17727330,24230862,2176-06-20 21:21:00,2176-06-25 15:20:00,<NA>,URGENT,P74FFH,TRANSFER FROM HOSPITAL,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,<NA>,<NA>,0,2176-06-20 22:47:00,2176-06-21 00:09:00,0.065,0.0,0.0,0.0,0.0
8,11533048,25552604,2117-04-02 23:25:00,2117-04-05 18:20:00,<NA>,OBSERVATION ADMIT,P43HX7,EMERGENCY ROOM,HOME HEALTH CARE,Other,...,2117-04-02 17:58:00,2117-04-03 00:18:00,0,2117-04-03 05:42:00,2117-04-03 07:06:00,0.51,0.0,0.0,0.0,0.0
9,15710484,26736048,2186-12-19 20:04:00,2187-01-09 13:53:00,<NA>,URGENT,P44UQI,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,...,<NA>,<NA>,0,2186-12-26 01:05:00,2186-12-26 02:32:00,0.11,0.0,0.0,0.0,0.0
10,13873595,23417361,2172-11-05 17:24:00,2172-11-26 16:51:00,<NA>,EW EMER.,P09IS0,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,...,2172-11-05 14:07:00,2172-11-05 18:00:00,0,2172-11-07 01:18:00,2172-11-07 02:17:00,1.191538,0.0,0.0,0.0,0.0
11,14413724,25143811,2177-06-03 18:43:00,2177-06-08 14:26:00,<NA>,OBSERVATION ADMIT,P93MI7,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,2177-06-03 11:19:00,2177-06-03 20:29:00,0,2177-06-03 21:34:00,2177-06-03 23:03:00,0.02,0.0,0.0,0.0,0.0
12,15644476,24889537,2174-02-03 22:49:00,2174-03-01 17:40:00,<NA>,URGENT,P7554I,TRANSFER FROM HOSPITAL,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,<NA>,<NA>,0,2174-02-07 02:25:00,2174-02-07 05:57:00,0.375,0.0,0.0,0.0,0.0
13,12124962,23447905,2155-10-14 22:07:00,2155-10-23 14:25:00,<NA>,EW EMER.,P38V7W,EMERGENCY ROOM,SKILLED NURSING FACILITY,Other,...,2155-10-14 19:13:00,2155-10-15 03:00:00,0,2155-10-15 08:15:00,2155-10-15 16:30:00,0.253333,0.0,0.0,0.0,0.0
14,15457431,27980885,2189-08-05 21:46:00,2189-08-07 14:10:00,<NA>,EW EMER.,P132L1,EMERGENCY ROOM,HOME,Other,...,2189-08-05 19:28:00,2189-08-05 23:54:00,0,2189-08-06 02:16:00,2189-08-06 03:07:00,0.056667,0.0,0.0,0.0,0.0
15,12124781,27861413,2187-11-23 16:16:00,2187-12-30 14:38:00,2187-12-30 14:38:00,EW EMER.,P30KEH,EMERGENCY ROOM,DIED,Medicare,...,2187-11-23 10:32:00,2187-11-23 17:34:00,1,2187-11-24 21:39:00,2187-11-24 23:37:00,0.099167,0.0,0.0,0.0,0.0
16,12007754,22791290,2154-06-27 23:38:00,2154-07-04 14:11:00,<NA>,URGENT,P99LA7,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Other,...,<NA>,<NA>,0,2154-06-29 10:50:00,2154-06-29 12:38:00,0.04,0.0,0.0,0.0,0.0
17,16097925,20461991,2123-02-06 02:27:00,2123-02-25 07:45:00,2123-02-25 19:11:00,EW EMER.,P99BGS,EMERGENCY ROOM,DIED,Medicaid,...,2123-02-06 01:05:00,2123-02-06 03:19:00,1,2123-02-06 04:09:00,2123-02-06 05:54:00,0.0525,0.0,0.0,0.0,0.0
18,12940767,23330292,2156-02-20 23:33:00,2156-02-22 17:30:00,<NA>,EW EMER.,P637GX,PHYSICIAN REFERRAL,HOME,Medicare,...,2156-02-20 15:45:00,2156-02-21 00:48:00,0,2156-02-21 01:59:00,2156-02-21 02:53:00,0.115,27.0,0.0,0.0,0.0
19,15803225,22177699,2164-05-30 00:10:00,2164-06-02 13:00:00,<NA>,EW EMER.,P29CGZ,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,...,2164-05-29 18:52:00,2164-05-30 01:13:00,0,2164-05-29 19:50:00,2164-05-29 21:30:00,0.04,0.0,0.0,0.0,0.0
20,17971413,21653499,2118-10-15 11:20:00,2118-10-28 13:55:00,<NA>,EW EMER.,P30KEH,EMERGENCY ROOM,REHAB,Other,...,2118-10-15 06:43:00,2118-10-15 13:09:00,0,2118-10-15 13:59:00,2118-10-15 15:24:00,0.075,0.0,0.0,0.0,0.0
21,13364025,21975198,2181-02-16 20:08:00,2181-02-24 15:30:00,<NA>,URGENT,P695KR,TRANSFER FROM HOSPITAL,HOME,Other,...,<NA>,<NA>,0,2181-02-16 21:11:00,2181-02-16 22:40:00,0.32,0.0,0.0,0.0,0.0
22,10562589,22085831,2115-12-19 15:57:00,2115-12-23 16:13:00,<NA>,OBSERVATION ADMIT,P187JB,PHYSICIAN REFERRAL,HOME,Other,...,2115-12-19 11:10:00,2115-12-21 17:18:00,0,2115-12-19 19:28:00,2115-12-19 19:57:00,0.02,0.0,0.0,0.0,0.0
23,11185674,25433770,2163-07-08 11:04:00,2163-07-13 18:30:00,2163-07-13 18:30:00,EW EMER.,P44UQI,EMERGENCY ROOM,DIED,Medicare,...,2163-07-08 09:42:00,2163-07-08 12:07:00,1,2163-07-08 15:14:00,2163-07-08 17:13:00,0.29,0.0,0.0,0.0,0.0
24,19508604,28747200,2177-05-15 18:12:00,2177-05-24 14:59:00,<NA>,OBSERVATION ADMIT,P66A56,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,2177-05-15 17:26:00,2177-05-15 19:36:00,0,2177-05-16 01:23:00,2177-05-16 02:37:00,1.086,0.0,0.0,0.0,0.0

In [ ]:
# Save the final_data DataFrame as a CSV file
final_data.to_csv('final_data.csv', index=False)

In [ ]:
# loading ICU data
chartevents = bf.read_gbq("physionet-data.mimiciv_icu.chartevents")

In [ ]:
# Step 1: Filter chartevents for rows with itemid 220615 (Creatinine)
creatinine_data = chartevents[chartevents['itemid'] == 220615]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
creatinine_stats = creatinine_data.groupby('hadm_id').agg(
    min_creatinine=('valuenum', 'min'),
    max_creatinine=('valuenum', 'max'),
    avg_creatinine=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
final_data = final_data.merge(creatinine_stats, on='hadm_id', how='left')

# Display the updated final_data DataFrame
final_data.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,avg_creatinine_x,min_natiurectic,max_natiurectic,avg_natiurectic,min_creatinine_y,max_creatinine_y,avg_creatinine_y,min_creatinine,max_creatinine,avg_creatinine
0,15249915,25244672,2139-03-03 18:59:00,2139-03-31 17:35:00,<NA>,URGENT,P04X8Y,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicare,...,4.214286,<NA>,<NA>,<NA>,1.7,5.7,4.214286,1.7,5.7,4.214286
1,17469778,22441519,2128-11-15 03:05:00,2128-12-11 18:00:00,<NA>,EW EMER.,P48KFD,EMERGENCY ROOM,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,5.85625,<NA>,<NA>,<NA>,1.3,12.4,5.85625,1.3,12.4,5.85625
2,14447847,20390421,2141-03-01 18:53:00,2141-03-04 14:00:00,<NA>,EW EMER.,P44UQI,EMERGENCY ROOM,HOME,Medicare,...,1.45,<NA>,<NA>,<NA>,1.3,1.6,1.45,1.3,1.6,1.45
3,11136204,25389136,2196-11-26 22:38:00,2196-12-09 15:51:00,<NA>,OBSERVATION ADMIT,P79IP0,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,12739652,25978400,2110-10-11 07:29:00,2110-10-12 20:30:00,2110-10-12 20:30:00,URGENT,P93MI7,TRANSFER FROM HOSPITAL,DIED,Medicare,...,1.66,<NA>,<NA>,<NA>,1.3,2.3,1.66,1.3,2.3,1.66

In [ ]:
# Step 4: Replace missing values (NaN) with 0 for each column individually in the final_data
final_data['min_creatinine'] = final_data['min_creatinine'].fillna(0)
final_data['max_creatinine'] = final_data['max_creatinine'].fillna(0)
final_data['avg_creatinine'] = final_data['avg_creatinine'].fillna(0)

# Display the updated final_data DataFrame
final_data.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,avg_creatinine_x,min_natiurectic,max_natiurectic,avg_natiurectic,min_creatinine_y,max_creatinine_y,avg_creatinine_y,min_creatinine,max_creatinine,avg_creatinine
0,15249915,25244672,2139-03-03 18:59:00,2139-03-31 17:35:00,<NA>,URGENT,P04X8Y,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicare,...,4.214286,<NA>,<NA>,<NA>,1.7,5.7,4.214286,1.7,5.7,4.214286
1,17469778,22441519,2128-11-15 03:05:00,2128-12-11 18:00:00,<NA>,EW EMER.,P48KFD,EMERGENCY ROOM,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,5.85625,<NA>,<NA>,<NA>,1.3,12.4,5.85625,1.3,12.4,5.85625
2,14447847,20390421,2141-03-01 18:53:00,2141-03-04 14:00:00,<NA>,EW EMER.,P44UQI,EMERGENCY ROOM,HOME,Medicare,...,1.45,<NA>,<NA>,<NA>,1.3,1.6,1.45,1.3,1.6,1.45
3,11136204,25389136,2196-11-26 22:38:00,2196-12-09 15:51:00,<NA>,OBSERVATION ADMIT,P79IP0,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.0,0.0,0.0
4,12739652,25978400,2110-10-11 07:29:00,2110-10-12 20:30:00,2110-10-12 20:30:00,URGENT,P93MI7,TRANSFER FROM HOSPITAL,DIED,Medicare,...,1.66,<NA>,<NA>,<NA>,1.3,2.3,1.66,1.3,2.3,1.66

In [ ]:
# Step 1: Filter chartevents for rows with itemid 227446 (Natiurectic)
natiurectic_data = chartevents[chartevents['itemid'] == 227446]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
natiurectic_stats = natiurectic_data.groupby('hadm_id').agg(
    min_natiurectic=('valuenum', 'min'),
    max_natiurectic=('valuenum', 'max'),
    avg_natiurectic=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
final_data = final_data.merge(natiurectic_stats, on='hadm_id', how='left')

# Display the updated final_data DataFrame
final_data.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,average_cholesterol_LDL_Measured,average_cholesterol_Total,min_creatinine,max_creatinine,avg_creatinine,min_natiurectic,max_natiurectic,avg_natiurectic
0,15249915,25244672,2139-03-03 18:59:00,2139-03-31 17:35:00,<NA>,URGENT,P04X8Y,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicare,...,0.0,0.0,0.0,0.0,1.7,5.7,4.214286,<NA>,<NA>,<NA>
1,17469778,22441519,2128-11-15 03:05:00,2128-12-11 18:00:00,<NA>,EW EMER.,P48KFD,EMERGENCY ROOM,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,0.0,0.0,0.0,0.0,1.3,12.4,5.85625,<NA>,<NA>,<NA>
2,14447847,20390421,2141-03-01 18:53:00,2141-03-04 14:00:00,<NA>,EW EMER.,P44UQI,EMERGENCY ROOM,HOME,Medicare,...,0.0,0.0,0.0,0.0,1.3,1.6,1.45,<NA>,<NA>,<NA>
3,11136204,25389136,2196-11-26 22:38:00,2196-12-09 15:51:00,<NA>,OBSERVATION ADMIT,P79IP0,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,...,0.0,0.0,0.0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,12739652,25978400,2110-10-11 07:29:00,2110-10-12 20:30:00,2110-10-12 20:30:00,URGENT,P93MI7,TRANSFER FROM HOSPITAL,DIED,Medicare,...,0.0,0.0,0.0,0.0,1.3,2.3,1.66,<NA>,<NA>,<NA>

In [ ]:
final_data['min_natiurectic'] = final_data['min_natiurectic'].fillna(0)
final_data['max_natiurectic'] = final_data['max_natiurectic'].fillna(0)
final_data['avg_natiurectic'] = final_data['avg_natiurectic'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 220603 (icu_cholestrol)
icu_cholestrol_data = chartevents[chartevents['itemid'] == 220603]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
icu_cholestrol_stats = icu_cholestrol_data.groupby('hadm_id').agg(
    min_icu_cholestrol=('valuenum', 'min'),
    max_icu_cholestrol=('valuenum', 'max'),
    avg_icu_cholestrol=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
final_data = final_data.merge(icu_cholestrol_stats, on='hadm_id', how='left')

final_data['min_icu_cholestrol'] = final_data['min_icu_cholestrol'].fillna(0)
final_data['max_icu_cholestrol'] = final_data['max_icu_cholestrol'].fillna(0)
final_data['avg_icu_cholestrol'] = final_data['avg_icu_cholestrol'].fillna(0)

# Display the updated final_data DataFrame
final_data.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,avg_natiurectic,min_creatinine_y,max_creatinine_y,avg_creatinine_y,min_creatinine,max_creatinine,avg_creatinine,min_icu_cholestrol,max_icu_cholestrol,avg_icu_cholestrol
0,15249915,25244672,2139-03-03 18:59:00,2139-03-31 17:35:00,<NA>,URGENT,P04X8Y,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicare,...,0.0,1.7,5.7,4.214286,1.7,5.7,4.214286,0.0,0.0,0.0
1,17469778,22441519,2128-11-15 03:05:00,2128-12-11 18:00:00,<NA>,EW EMER.,P48KFD,EMERGENCY ROOM,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,0.0,1.3,12.4,5.85625,1.3,12.4,5.85625,0.0,0.0,0.0
2,14447847,20390421,2141-03-01 18:53:00,2141-03-04 14:00:00,<NA>,EW EMER.,P44UQI,EMERGENCY ROOM,HOME,Medicare,...,0.0,1.3,1.6,1.45,1.3,1.6,1.45,0.0,0.0,0.0
3,11136204,25389136,2196-11-26 22:38:00,2196-12-09 15:51:00,<NA>,OBSERVATION ADMIT,P79IP0,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,...,0.0,<NA>,<NA>,<NA>,0.0,0.0,0.0,0.0,0.0,0.0
4,12739652,25978400,2110-10-11 07:29:00,2110-10-12 20:30:00,2110-10-12 20:30:00,URGENT,P93MI7,TRANSFER FROM HOSPITAL,DIED,Medicare,...,0.0,1.3,2.3,1.66,1.3,2.3,1.66,0.0,0.0,0.0

In [ ]:
# Step 1: Filter chartevents for rows with itemid 220603 (icu_cholestrol)
icu_cholestrol_data = chartevents[chartevents['itemid'] == 220603]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
icu_cholestrol_stats = icu_cholestrol_data.groupby('hadm_id').agg(
    min_icu_cholestrol=('valuenum', 'min'),
    max_icu_cholestrol=('valuenum', 'max'),
    avg_icu_cholestrol=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
final_data = final_data.merge(icu_cholestrol_stats, on='hadm_id', how='left')

final_data['min_icu_cholestrol'] = final_data['min_icu_cholestrol'].fillna(0)
final_data['max_icu_cholestrol'] = final_data['max_icu_cholestrol'].fillna(0)
final_data['avg_icu_cholestrol'] = final_data['avg_icu_cholestrol'].fillna(0)

# Display the updated final_data DataFrame
final_data.head()

In [ ]:
# Step 1: Filter chartevents for rows with itemid 226537 (glucose)
glucose_data = chartevents[chartevents['itemid'] == 226537]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
glucose_stats = glucose_data.groupby('hadm_id').agg(
    min_glucose=('valuenum', 'min'),
    max_glucose=('valuenum', 'max'),
    avg_glucose=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
final_data = final_data.merge(glucose_stats, on='hadm_id', how='left')

final_data['min_glucose'] = final_data['min_glucose'].fillna(0)
final_data['max_glucose'] = final_data['max_glucose'].fillna(0)
final_data['avg_glucose'] = final_data['avg_glucose'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 227445 (CK-MB)
ck_mb_data = chartevents[chartevents['itemid'] == 227445]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
ck_mb_stats = ck_mb_data.groupby('hadm_id').agg(
    min_ck_mb=('valuenum', 'min'),
    max_ck_mb=('valuenum', 'max'),
    avg_ck_mb=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
final_data = final_data.merge(ck_mb_stats, on='hadm_id', how='left')

final_data['min_ck_mb'] = final_data['min_ck_mb'].fillna(0)
final_data['max_ck_mb'] = final_data['max_ck_mb'].fillna(0)
final_data['avg_ck_mb'] = final_data['avg_ck_mb'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 225634 (CK-CPK)
ck_cpk_data = chartevents[chartevents['itemid'] == 225634]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
ck_cpk_stats = ck_cpk_data.groupby('hadm_id').agg(
    min_ck_cpk=('valuenum', 'min'),
    max_ck_cpk=('valuenum', 'max'),
    avg_ck_cpk=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
final_data = final_data.merge(ck_cpk_stats, on='hadm_id', how='left')

In [ ]:
final_data['min_ck_cpk'] = final_data['min_ck_cpk'].fillna(0)
final_data['max_ck_cpk'] = final_data['max_ck_cpk'].fillna(0)
final_data['avg_ck_cpk'] = final_data['avg_ck_cpk'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 228368 (Cardiac index)
c_index_data = chartevents[chartevents['itemid'] == 228368]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
c_index_stats = c_index_data.groupby('hadm_id').agg(
    min_c_index=('valuenum', 'min'),
    max_c_index=('valuenum', 'max'),
    avg_c_index=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
final_data = final_data.merge(c_index_stats, on='hadm_id', how='left')

In [ ]:
final_data['min_c_index'] = final_data['min_c_index'].fillna(0)
final_data['max_c_index'] = final_data['max_c_index'].fillna(0)
final_data['avg_c_index'] = final_data['avg_c_index'].fillna(0)

In [ ]:
final_data.describe()

,subject_id,hadm_id,hospital_expire_flag,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,average_cholesterol_LDL_Measured,average_cholesterol_Total,min_natiurectic,max_natiurectic,...,avg_glucose,min_ck_mb,max_ck_mb,avg_ck_mb,min_ck_cpk,max_ck_cpk,avg_ck_cpk,min_c_index,max_c_index,avg_c_index
count,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,...,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0
mean,14974737.746994,24989910.753034,0.150103,0.550233,0.742184,4.153263,0.829204,8.617602,698.800626,735.413456,...,55.125586,8.15366,128.478978,38.79512,255.818914,931.182205,531.268189,0.064342,0.099027,0.077464
std,2884869.068207,2867016.55853,0.357183,1.642865,4.818434,25.805127,11.939146,44.93103,11272.039111,11327.959336,...,2093.828921,32.631687,10575.616873,2712.309509,1869.055805,13036.316064,5099.948734,0.422092,0.831313,0.503141
min,10000764.0,20000094.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,12476400.0,22559108.0,0.0,0.0325,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,14972887.0,24957900.0,0.0,0.083333,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,17519449.0,27446018.0,0.0,0.3325,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,6.0,5.5,86.0,136.0,118.333333,0.0,0.0,0.0
max,19999987.0,29999670.0,1.0,51.84,40.0,481.0,311.0,576.0,999999.0,999999.0,...,250100.25,600.0,999999.0,333334.666667,90620.0,999999.0,333381.333333,6.2,48.0,9.6625

In [ ]:
# Add a new column 'AMI/No AMI' and assign the value 1 to all rows
final_data['AMI/No AMI'] = 1

In [ ]:
final_data.columns

Index(['subject_id', 'hadm_id', 'admittime', 'dischtime', 'deathtime',
       'admission_type', 'admit_provider_id', 'admission_location',
       'discharge_location', 'insurance', 'language', 'marital_status', 'race',
       'edregtime', 'edouttime', 'hospital_expire_flag',
       'average_troponin_level', 'average_cholesterol_HDL',
       'average_cholesterol_LDL_Calculated',
       'average_cholesterol_LDL_Measured', 'average_cholesterol_Total',
       'min_natiurectic', 'max_natiurectic', 'avg_natiurectic',
       'min_creatinine', 'max_creatinine', 'avg_creatinine',
       'min_icu_cholestrol', 'max_icu_cholestrol', 'avg_icu_cholestrol',
       'min_glucose', 'max_glucose', 'avg_glucose', 'min_ck_mb', 'max_ck_mb',
       'avg_ck_mb', 'min_ck_cpk', 'max_ck_cpk', 'avg_ck_cpk', 'min_c_index',
       'max_c_index', 'avg_c_index', 'AMI/No AMI'],
      dtype='object')

In [ ]:
final_data

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,min_ck_mb,max_ck_mb,avg_ck_mb,min_ck_cpk,max_ck_cpk,avg_ck_cpk,min_c_index,max_c_index,avg_c_index,AMI/No AMI
0,15249915,25244672,2139-03-03 18:59:00,2139-03-31 17:35:00,<NA>,URGENT,P04X8Y,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicare,...,5.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,17469778,22441519,2128-11-15 03:05:00,2128-12-11 18:00:00,<NA>,EW EMER.,P48KFD,EMERGENCY ROOM,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,135.0,196.0,170.0,5088.0,31300.0,19077.75,0.0,0.0,0.0,1
2,14447847,20390421,2141-03-01 18:53:00,2141-03-04 14:00:00,<NA>,EW EMER.,P44UQI,EMERGENCY ROOM,HOME,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,11136204,25389136,2196-11-26 22:38:00,2196-12-09 15:51:00,<NA>,OBSERVATION ADMIT,P79IP0,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,12739652,25978400,2110-10-11 07:29:00,2110-10-12 20:30:00,2110-10-12 20:30:00,URGENT,P93MI7,TRANSFER FROM HOSPITAL,DIED,Medicare,...,2.0,2.0,2.0,53.0,53.0,53.0,0.0,0.0,0.0,1
5,11699868,20798077,2125-12-24 17:15:00,2125-12-27 13:30:00,<NA>,EW EMER.,P23URY,EMERGENCY ROOM,HOME,Medicare,...,6.0,6.0,6.0,116.0,116.0,116.0,0.0,0.0,0.0,1
6,19965303,22709834,2163-04-11 17:29:00,2163-04-13 15:32:00,<NA>,EW EMER.,P91RC2,EMERGENCY ROOM,HOME,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
7,17727330,24230862,2176-06-20 21:21:00,2176-06-25 15:20:00,<NA>,URGENT,P74FFH,TRANSFER FROM HOSPITAL,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,2.0,2.0,2.0,91.0,105.0,98.0,0.0,0.0,0.0,1
8,11533048,25552604,2117-04-02 23:25:00,2117-04-05 18:20:00,<NA>,OBSERVATION ADMIT,P43HX7,EMERGENCY ROOM,HOME HEALTH CARE,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
9,15710484,26736048,2186-12-19 20:04:00,2187-01-09 13:53:00,<NA>,URGENT,P44UQI,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
10,13873595,23417361,2172-11-05 17:24:00,2172-11-26 16:51:00,<NA>,EW EMER.,P09IS0,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,...,8.0,41.0,25.428571,200.0,460.0,318.8,0.0,0.0,0.0,1
11,14413724,25143811,2177-06-03 18:43:00,2177-06-08 14:26:00,<NA>,OBSERVATION ADMIT,P93MI7,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,3.0,4.0,3.666667,227.0,297.0,264.333333,0.0,0.0,0.0,1
12,15644476,24889537,2174-02-03 22:49:00,2174-03-01 17:40:00,<NA>,URGENT,P7554I,TRANSFER FROM HOSPITAL,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,6.0,6.0,6.0,22.0,37.0,29.5,0.0,0.0,0.0,1
13,12124962,23447905,2155-10-14 22:07:00,2155-10-23 14:25:00,<NA>,EW EMER.,P38V7W,EMERGENCY ROOM,SKILLED NURSING FACILITY,Other,...,9.0,14.0,11.0,395.0,912.0,589.333333,0.0,0.0,0.0,1
14,15457431,27980885,2189-08-05 21:46:00,2189-08-07 14:10:00,<NA>,EW EMER.,P132L1,EMERGENCY ROOM,HOME,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
15,12124781,27861413,2187-11-23 16:16:00,2187-12-30 14:38:00,2187-12-30 14:38:00,EW EMER.,P30KEH,EMERGENCY ROOM,DIED,Medicare,...,2.0,20.0,9.181818,98.0,3215.0,1473.357143,0.0,0.0,0.0,1
16,12007754,22791290,2154-06-27 23:38:00,2154-07-04 14:11:00,<NA>,URGENT,P99LA7,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
17,16097925,20461991,2123-02-06 02:27:00,2123-02-25 07:45:00,2123-02-25 19:11:00,EW EMER.,P99BGS,EMERGENCY ROOM,DIED,Medicaid,...,6.0,15.0,10.2,124.0,851.0,493.8,0.0,0.0,0.0,1
18,12940767,23330292,2156-02-20 23:33:00,2156-02-22 17:30:00,<NA>,EW EMER.,P637GX,PHYSICIAN REFERRAL,HOME,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
19,15803225,22177699,2164-05-30 00:10:00,2164-06-02 13:00:00,<NA>,EW EMER.,P29CGZ,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
20,17971413,21653499,2118-10-15 11:20:00,2118-10-28 13:55:00,<NA>,EW EMER.,P30KEH,EMERGENCY ROOM,REHAB,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
21,13364025,21975198,2181-02-16 20:08:00,2181-02-24 15:30:00,<NA>,URGENT,P695KR,TRANSFER FROM HOSPITAL,HOME,Other,...,2.0,3.0,2.5,92.0,109.0,100.5,0.0,0.0,0.0,1
22,10562589,22085831,2115-12-19 15:57:00,2115-12-23 16:13:00,<NA>,OBSERVATION ADMIT,P187JB,PHYSICIAN REFERRAL,HOME,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
23,11185674,25433770,2163-07-08 11:04:00,2163-07-13 18:30:00,2163-07-13 18:30:00,EW EMER.,P44UQI,EMERGENCY ROOM,DIED,Medicare,...,17.0,28.0,22.5,263.0,414.0,338.5,0.0,0.0,0.0,1
24,19508604,28747200,2177-05-15 18:12:00,2177-05-24 14:59:00,<NA>,OBSERVATION ADMIT,P66A56,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [ ]:
# Save the final_data DataFrame as a CSV file
final_data.to_csv('final_troponin_data.csv', index=False)

#Extraction for Non - AMI patients

In [ ]:
# Filter out rows where itemid is not 51003 and sort by subject_id and hadm_id
non_ami = (
    labevents[labevents['itemid'] != 51003]  # Filter condition
    .sort_values(by=['subject_id', 'hadm_id'])  # Sorting by subject_id and hadm_id
)

# Display the first few rows of the filtered and sorted data
non_ami

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
1067193,122,10000032,22595853,39504011,51514,<NA>,2180-05-07 00:10:00,2180-05-07 00:40:00,4,4.0,mg/dL,0.2,1.0,abnormal,ROUTINE,<NA>
1377414,155,10000032,22595853,93044861,50983,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,137,137.0,mEq/L,133.0,145.0,<NA>,ROUTINE,<NA>
2881159,158,10000032,22595853,10941085,50843,<NA>,2180-05-07 10:11:00,2180-05-07 12:50:00,31,31.0,IU/L,<NA>,<NA>,<NA>,STAT,<NA>
5834746,139,10000032,22595853,63952157,51277,<NA>,2180-05-07 05:05:00,2180-05-07 06:22:00,15.3,15.3,%,10.5,15.5,<NA>,ROUTINE,<NA>
12708506,132,10000032,22595853,5305050,51275,<NA>,2180-05-07 05:05:00,2180-05-07 06:43:00,32.3,32.3,sec,25.0,36.5,<NA>,ROUTINE,<NA>
14749134,147,10000032,22595853,93044861,50885,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,1.3,1.3,mg/dL,0.0,1.5,<NA>,ROUTINE,<NA>
22213514,118,10000032,22595853,39504011,51492,<NA>,2180-05-07 00:10:00,2180-05-07 00:40:00,30,30.0,mg/dL,<NA>,<NA>,<NA>,ROUTINE,<NA>
22772881,166,10000032,22595853,40687535,51127,<NA>,2180-05-07 10:11:00,2180-05-07 11:40:00,8800,8800.0,#/uL,0.0,0.0,abnormal,STAT,<NA>
25071058,123,10000032,22595853,70106972,51071,<NA>,2180-05-07 00:10:00,2180-05-07 00:45:00,NEG,<NA>,<NA>,<NA>,<NA>,<NA>,ROUTINE,<NA>
26298533,157,10000032,22595853,10941085,50835,<NA>,2180-05-07 10:11:00,2180-05-07 12:50:00,<NA>,<NA>,g/dL,<NA>,<NA>,<NA>,STAT,LESS THAN 1.0.
26517483,114,10000032,22595853,39504011,51484,<NA>,2180-05-07 00:10:00,2180-05-07 00:40:00,<NA>,<NA>,mg/dL,<NA>,<NA>,<NA>,ROUTINE,NEG.
26795556,165,10000032,22595853,40687535,51125,<NA>,2180-05-07 10:11:00,2180-05-07 12:17:00,13,13.0,%,0.0,0.0,abnormal,STAT,<NA>
26903728,121,10000032,22595853,39504011,51508,<NA>,2180-05-07 00:10:00,2180-05-07 00:40:00,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,ROUTINE,Yellow.
27096308,145,10000032,22595853,93044861,50878,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,98,98.0,IU/L,0.0,40.0,abnormal,ROUTINE,<NA>
28033758,143,10000032,22595853,93044861,50863,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,103,103.0,IU/L,35.0,105.0,<NA>,ROUTINE,<NA>
30829759,151,10000032,22595853,93044861,50931,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,___,99.0,mg/dL,70.0,100.0,<NA>,ROUTINE,"IF FASTING, 70-100 NORMAL, >125 PROVISIONAL DI..."
31544272,144,10000032,22595853,93044861,50868,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,9,9.0,mEq/L,8.0,20.0,<NA>,ROUTINE,<NA>
33143192,129,10000032,22595853,70106972,51092,<NA>,2180-05-07 00:10:00,2180-05-07 00:45:00,POS,<NA>,<NA>,<NA>,<NA>,<NA>,ROUTINE,OPIATE IMMUNOASSAY SCREEN DOES NOT DETECT SYNT...
34174658,134,10000032,22595853,63952157,51222,<NA>,2180-05-07 05:05:00,2180-05-07 06:22:00,12.7,12.7,g/dL,12.0,16.0,<NA>,ROUTINE,<NA>
36360617,125,10000032,22595853,70106972,51075,<NA>,2180-05-07 00:10:00,2180-05-07 00:45:00,NEG,<NA>,<NA>,<NA>,<NA>,<NA>,ROUTINE,BENZODIAZEPINE IMMUNOASSAY SCREEN DOES NOT DET...
36777275,161,10000032,22595853,40687535,51116,<NA>,2180-05-07 10:11:00,2180-05-07 12:17:00,49,49.0,%,0.0,0.0,abnormal,STAT,<NA>
39127096,133,10000032,22595853,63952157,51221,<NA>,2180-05-07 05:05:00,2180-05-07 06:22:00,37.6,37.6,%,36.0,48.0,<NA>,ROUTINE,<NA>
41669940,130,10000032,22595853,5305050,51237,<NA>,2180-05-07 05:05:00,2180-05-07 06:43:00,1.5,1.5,<NA>,0.9,1.1,abnormal,ROUTINE,<NA>
43343143,113,10000032,22595853,39504011,51478,<NA>,2180-05-07 00:10:00,2180-05-07 00:40:00,<NA>,<NA>,mg/dL,<NA>,<NA>,<NA>,ROUTINE,NEG.
46802748,138,10000032,22595853,63952157,51265,<NA>,2180-05-07 05:05:00,2180-05-07 06:22:00,71,71.0,K/uL,150.0,440.0,abnormal,ROUTINE,<NA>

In [ ]:
# Step 1: Drop rows where hadm_id is missing
non_ami_cleaned = non_ami.dropna(subset=['hadm_id'])

# Display the first few rows of the cleaned non_cohort DataFrame
non_ami_cleaned

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
1067193,122,10000032,22595853,39504011,51514,<NA>,2180-05-07 00:10:00,2180-05-07 00:40:00,4,4.0,mg/dL,0.2,1.0,abnormal,ROUTINE,<NA>
1377414,155,10000032,22595853,93044861,50983,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,137,137.0,mEq/L,133.0,145.0,<NA>,ROUTINE,<NA>
2881159,158,10000032,22595853,10941085,50843,<NA>,2180-05-07 10:11:00,2180-05-07 12:50:00,31,31.0,IU/L,<NA>,<NA>,<NA>,STAT,<NA>
5834746,139,10000032,22595853,63952157,51277,<NA>,2180-05-07 05:05:00,2180-05-07 06:22:00,15.3,15.3,%,10.5,15.5,<NA>,ROUTINE,<NA>
12708506,132,10000032,22595853,5305050,51275,<NA>,2180-05-07 05:05:00,2180-05-07 06:43:00,32.3,32.3,sec,25.0,36.5,<NA>,ROUTINE,<NA>
14749134,147,10000032,22595853,93044861,50885,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,1.3,1.3,mg/dL,0.0,1.5,<NA>,ROUTINE,<NA>
22213514,118,10000032,22595853,39504011,51492,<NA>,2180-05-07 00:10:00,2180-05-07 00:40:00,30,30.0,mg/dL,<NA>,<NA>,<NA>,ROUTINE,<NA>
22772881,166,10000032,22595853,40687535,51127,<NA>,2180-05-07 10:11:00,2180-05-07 11:40:00,8800,8800.0,#/uL,0.0,0.0,abnormal,STAT,<NA>
25071058,123,10000032,22595853,70106972,51071,<NA>,2180-05-07 00:10:00,2180-05-07 00:45:00,NEG,<NA>,<NA>,<NA>,<NA>,<NA>,ROUTINE,<NA>
26298533,157,10000032,22595853,10941085,50835,<NA>,2180-05-07 10:11:00,2180-05-07 12:50:00,<NA>,<NA>,g/dL,<NA>,<NA>,<NA>,STAT,LESS THAN 1.0.
26517483,114,10000032,22595853,39504011,51484,<NA>,2180-05-07 00:10:00,2180-05-07 00:40:00,<NA>,<NA>,mg/dL,<NA>,<NA>,<NA>,ROUTINE,NEG.
26795556,165,10000032,22595853,40687535,51125,<NA>,2180-05-07 10:11:00,2180-05-07 12:17:00,13,13.0,%,0.0,0.0,abnormal,STAT,<NA>
26903728,121,10000032,22595853,39504011,51508,<NA>,2180-05-07 00:10:00,2180-05-07 00:40:00,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,ROUTINE,Yellow.
27096308,145,10000032,22595853,93044861,50878,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,98,98.0,IU/L,0.0,40.0,abnormal,ROUTINE,<NA>
28033758,143,10000032,22595853,93044861,50863,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,103,103.0,IU/L,35.0,105.0,<NA>,ROUTINE,<NA>
30829759,151,10000032,22595853,93044861,50931,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,___,99.0,mg/dL,70.0,100.0,<NA>,ROUTINE,"IF FASTING, 70-100 NORMAL, >125 PROVISIONAL DI..."
31544272,144,10000032,22595853,93044861,50868,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,9,9.0,mEq/L,8.0,20.0,<NA>,ROUTINE,<NA>
33143192,129,10000032,22595853,70106972,51092,<NA>,2180-05-07 00:10:00,2180-05-07 00:45:00,POS,<NA>,<NA>,<NA>,<NA>,<NA>,ROUTINE,OPIATE IMMUNOASSAY SCREEN DOES NOT DETECT SYNT...
34174658,134,10000032,22595853,63952157,51222,<NA>,2180-05-07 05:05:00,2180-05-07 06:22:00,12.7,12.7,g/dL,12.0,16.0,<NA>,ROUTINE,<NA>
36360617,125,10000032,22595853,70106972,51075,<NA>,2180-05-07 00:10:00,2180-05-07 00:45:00,NEG,<NA>,<NA>,<NA>,<NA>,<NA>,ROUTINE,BENZODIAZEPINE IMMUNOASSAY SCREEN DOES NOT DET...
36777275,161,10000032,22595853,40687535,51116,<NA>,2180-05-07 10:11:00,2180-05-07 12:17:00,49,49.0,%,0.0,0.0,abnormal,STAT,<NA>
39127096,133,10000032,22595853,63952157,51221,<NA>,2180-05-07 05:05:00,2180-05-07 06:22:00,37.6,37.6,%,36.0,48.0,<NA>,ROUTINE,<NA>
41669940,130,10000032,22595853,5305050,51237,<NA>,2180-05-07 05:05:00,2180-05-07 06:43:00,1.5,1.5,<NA>,0.9,1.1,abnormal,ROUTINE,<NA>
43343143,113,10000032,22595853,39504011,51478,<NA>,2180-05-07 00:10:00,2180-05-07 00:40:00,<NA>,<NA>,mg/dL,<NA>,<NA>,<NA>,ROUTINE,NEG.
46802748,138,10000032,22595853,63952157,51265,<NA>,2180-05-07 05:05:00,2180-05-07 06:22:00,71,71.0,K/uL,150.0,440.0,abnormal,ROUTINE,<NA>

In [ ]:
# Step 1: Get the subject_ids from final_data
excluded_subject_ids = set(final_data['subject_id'].to_list())

# Step 2: Filter out rows in non_ami_cleaned where subject_id is in excluded_subject_ids
non_ami_cleaned_filtered = non_ami_cleaned[~non_ami_cleaned['subject_id'].isin(excluded_subject_ids)]

# Display the first few rows of the filtered DataFrame
non_ami_cleaned_filtered

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
1067193,122,10000032,22595853,39504011,51514,<NA>,2180-05-07 00:10:00,2180-05-07 00:40:00,4,4.0,mg/dL,0.2,1.0,abnormal,ROUTINE,<NA>
1377414,155,10000032,22595853,93044861,50983,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,137,137.0,mEq/L,133.0,145.0,<NA>,ROUTINE,<NA>
2881159,158,10000032,22595853,10941085,50843,<NA>,2180-05-07 10:11:00,2180-05-07 12:50:00,31,31.0,IU/L,<NA>,<NA>,<NA>,STAT,<NA>
5834746,139,10000032,22595853,63952157,51277,<NA>,2180-05-07 05:05:00,2180-05-07 06:22:00,15.3,15.3,%,10.5,15.5,<NA>,ROUTINE,<NA>
12708506,132,10000032,22595853,5305050,51275,<NA>,2180-05-07 05:05:00,2180-05-07 06:43:00,32.3,32.3,sec,25.0,36.5,<NA>,ROUTINE,<NA>
14749134,147,10000032,22595853,93044861,50885,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,1.3,1.3,mg/dL,0.0,1.5,<NA>,ROUTINE,<NA>
22213514,118,10000032,22595853,39504011,51492,<NA>,2180-05-07 00:10:00,2180-05-07 00:40:00,30,30.0,mg/dL,<NA>,<NA>,<NA>,ROUTINE,<NA>
22772881,166,10000032,22595853,40687535,51127,<NA>,2180-05-07 10:11:00,2180-05-07 11:40:00,8800,8800.0,#/uL,0.0,0.0,abnormal,STAT,<NA>
25071058,123,10000032,22595853,70106972,51071,<NA>,2180-05-07 00:10:00,2180-05-07 00:45:00,NEG,<NA>,<NA>,<NA>,<NA>,<NA>,ROUTINE,<NA>
26298533,157,10000032,22595853,10941085,50835,<NA>,2180-05-07 10:11:00,2180-05-07 12:50:00,<NA>,<NA>,g/dL,<NA>,<NA>,<NA>,STAT,LESS THAN 1.0.
26517483,114,10000032,22595853,39504011,51484,<NA>,2180-05-07 00:10:00,2180-05-07 00:40:00,<NA>,<NA>,mg/dL,<NA>,<NA>,<NA>,ROUTINE,NEG.
26795556,165,10000032,22595853,40687535,51125,<NA>,2180-05-07 10:11:00,2180-05-07 12:17:00,13,13.0,%,0.0,0.0,abnormal,STAT,<NA>
26903728,121,10000032,22595853,39504011,51508,<NA>,2180-05-07 00:10:00,2180-05-07 00:40:00,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,ROUTINE,Yellow.
27096308,145,10000032,22595853,93044861,50878,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,98,98.0,IU/L,0.0,40.0,abnormal,ROUTINE,<NA>
28033758,143,10000032,22595853,93044861,50863,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,103,103.0,IU/L,35.0,105.0,<NA>,ROUTINE,<NA>
30829759,151,10000032,22595853,93044861,50931,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,___,99.0,mg/dL,70.0,100.0,<NA>,ROUTINE,"IF FASTING, 70-100 NORMAL, >125 PROVISIONAL DI..."
31544272,144,10000032,22595853,93044861,50868,<NA>,2180-05-07 05:05:00,2180-05-07 07:03:00,9,9.0,mEq/L,8.0,20.0,<NA>,ROUTINE,<NA>
33143192,129,10000032,22595853,70106972,51092,<NA>,2180-05-07 00:10:00,2180-05-07 00:45:00,POS,<NA>,<NA>,<NA>,<NA>,<NA>,ROUTINE,OPIATE IMMUNOASSAY SCREEN DOES NOT DETECT SYNT...
34174658,134,10000032,22595853,63952157,51222,<NA>,2180-05-07 05:05:00,2180-05-07 06:22:00,12.7,12.7,g/dL,12.0,16.0,<NA>,ROUTINE,<NA>
36360617,125,10000032,22595853,70106972,51075,<NA>,2180-05-07 00:10:00,2180-05-07 00:45:00,NEG,<NA>,<NA>,<NA>,<NA>,<NA>,ROUTINE,BENZODIAZEPINE IMMUNOASSAY SCREEN DOES NOT DET...
36777275,161,10000032,22595853,40687535,51116,<NA>,2180-05-07 10:11:00,2180-05-07 12:17:00,49,49.0,%,0.0,0.0,abnormal,STAT,<NA>
39127096,133,10000032,22595853,63952157,51221,<NA>,2180-05-07 05:05:00,2180-05-07 06:22:00,37.6,37.6,%,36.0,48.0,<NA>,ROUTINE,<NA>
41669940,130,10000032,22595853,5305050,51237,<NA>,2180-05-07 05:05:00,2180-05-07 06:43:00,1.5,1.5,<NA>,0.9,1.1,abnormal,ROUTINE,<NA>
43343143,113,10000032,22595853,39504011,51478,<NA>,2180-05-07 00:10:00,2180-05-07 00:40:00,<NA>,<NA>,mg/dL,<NA>,<NA>,<NA>,ROUTINE,NEG.
46802748,138,10000032,22595853,63952157,51265,<NA>,2180-05-07 05:05:00,2180-05-07 06:22:00,71,71.0,K/uL,150.0,440.0,abnormal,ROUTINE,<NA>

In [ ]:
# Step 1: Get distinct subject_id and hadm_id pairs
distinct_pairs = non_ami_cleaned_filtered[['subject_id', 'hadm_id']].drop_duplicates()

# Step 2: Check the number of unique pairs
num_pairs = distinct_pairs.shape[0]

# Step 3: Randomly select pairs, ensuring we don't exceed the available number
if num_pairs < 11000:
    non_cohort = distinct_pairs.sample(n=num_pairs, random_state=42)  # Sample all available pairs
else:
    non_cohort = distinct_pairs.sample(n=11000, random_state=42)  # Sample 11,000 pairs

# Display the first few rows of the non_cohort DataFrame
non_cohort

           subject_id   hadm_id
5239967      19930120  22090434
352685       13239154  25488071
1178710      17724257  27634089
2392347      17489724  29357186
857300       13162333  28126831
13362831     15676917  27314880
5475956      13196499  28443447
7183152      19085057  27097632
897420       17878731  25848148
71365529     18416439  24976961
4221         15588383  22017900
1716139      12796574  20168214
560287       12069778  20096221
80415        14728956  20595416
6216048      14588844  25385641
2003414      11242742  29293179
917201       10641683  25808802
103202328    19198671  28441983
502500       15809175  28306795
2657752      11603380  28937411
2641293      16992093  24697836
822266       18550222  27519624
442298       15590502  22662556
1004734      16520375  29064260
7390328      18298936  23289571
...

[11000 rows x 2 columns]

In [ ]:
# Perform the join on 'hadm_id'
non_data = non_cohort.merge(
    admissions,  # DataFrame to join with
    on='hadm_id',  # Column to join on
    how='left'  # Left join to keep all rows from non_cohort
)

# Display the first few rows of the merged DataFrame
non_data

,subject_id_x,hadm_id,subject_id_y,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,19930120,22090434,19930120,2175-08-06 14:25:00,2175-08-07 15:45:00,<NA>,AMBULATORY OBSERVATION,P29UXJ,PROCEDURE SITE,<NA>,Other,ENGLISH,MARRIED,OTHER,<NA>,<NA>,0
1,13239154,25488071,13239154,2132-07-19 02:41:00,2132-07-26 16:15:00,<NA>,SURGICAL SAME DAY ADMISSION,P2720E,PHYSICIAN REFERRAL,HOME,Medicare,ENGLISH,SINGLE,WHITE,<NA>,<NA>,0
2,17724257,27634089,17724257,2134-02-11 11:39:00,2134-02-16 13:54:00,<NA>,OBSERVATION ADMIT,P38ULE,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,ENGLISH,MARRIED,WHITE,2134-02-11 09:40:00,2134-02-11 13:35:00,0
3,17489724,29357186,17489724,2132-05-20 15:13:00,2132-05-21 14:27:00,<NA>,AMBULATORY OBSERVATION,P04W4S,PACU,<NA>,Medicare,ENGLISH,MARRIED,WHITE,<NA>,<NA>,0
4,13162333,28126831,13162333,2132-10-29 18:47:00,2132-11-03 13:10:00,<NA>,DIRECT EMER.,P88A32,PHYSICIAN REFERRAL,HOME,Medicare,ENGLISH,MARRIED,WHITE,<NA>,<NA>,0
5,15676917,27314880,15676917,2175-03-19 06:07:00,2175-03-22 11:15:00,<NA>,URGENT,P6302I,PHYSICIAN REFERRAL,HOME,Other,ENGLISH,MARRIED,WHITE,<NA>,<NA>,0
6,13196499,28443447,13196499,2184-04-18 16:17:00,2184-04-20 17:34:00,<NA>,EW EMER.,P92GJO,EMERGENCY ROOM,HOME,Medicare,ENGLISH,MARRIED,WHITE,2184-04-18 12:34:00,2184-04-18 17:38:00,0
7,19085057,27097632,19085057,2177-01-10 17:06:00,2177-01-11 16:45:00,<NA>,EU OBSERVATION,P503ZI,EMERGENCY ROOM,<NA>,Other,ENGLISH,SINGLE,OTHER,2177-01-10 11:35:00,2177-01-10 18:45:00,0
8,17878731,25848148,17878731,2183-07-14 01:50:00,2183-07-16 12:00:00,<NA>,OBSERVATION ADMIT,P48GIG,WALK-IN/SELF REFERRAL,HOME,Medicare,ENGLISH,MARRIED,BLACK/CAPE VERDEAN,2183-07-13 10:43:00,2183-07-14 02:51:00,0
9,18416439,24976961,18416439,2153-07-30 14:16:00,2153-08-01 13:30:00,<NA>,URGENT,P43K1W,PHYSICIAN REFERRAL,HOME,Other,ENGLISH,DIVORCED,BLACK/AFRICAN AMERICAN,<NA>,<NA>,0
10,15588383,22017900,15588383,2186-03-19 16:00:00,2186-05-21 16:30:00,<NA>,OBSERVATION ADMIT,P06BFR,TRANSFER FROM SKILLED NURSING FACILITY,SKILLED NURSING FACILITY,Medicare,ENGLISH,SINGLE,WHITE,2186-03-19 05:50:00,2186-03-19 17:38:00,0
11,12796574,20168214,12796574,2150-07-12 00:00:00,2150-07-16 12:30:00,<NA>,ELECTIVE,P99698,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,ENGLISH,DIVORCED,WHITE,<NA>,<NA>,0
12,12069778,20096221,12069778,2160-08-17 17:49:00,2160-08-20 14:25:00,<NA>,OBSERVATION ADMIT,P48P6U,PHYSICIAN REFERRAL,HOME,Other,ENGLISH,MARRIED,WHITE,2160-08-17 14:17:00,2160-08-17 19:51:00,0
13,14728956,20595416,14728956,2185-10-25 03:20:00,2185-11-07 16:18:00,<NA>,EW EMER.,P72G4H,EMERGENCY ROOM,HOME,Other,ENGLISH,SINGLE,WHITE,2185-10-25 00:25:00,2185-10-25 06:05:00,0
14,14588844,25385641,14588844,2188-06-05 21:19:00,2188-06-06 14:19:00,<NA>,EW EMER.,P73RXE,EMERGENCY ROOM,HOME,Other,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,2188-06-05 18:26:00,2188-06-06 00:02:00,0
15,11242742,29293179,11242742,2159-03-17 16:31:00,2159-03-23 21:33:00,<NA>,OBSERVATION ADMIT,P25H29,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,?,WIDOWED,HISPANIC/LATINO - CUBAN,2159-03-17 09:22:00,2159-03-17 18:20:00,0
16,10641683,25808802,10641683,2142-05-01 16:42:00,2142-05-07 15:05:00,<NA>,EW EMER.,P783DV,PROCEDURE SITE,HOME HEALTH CARE,Other,ENGLISH,SINGLE,WHITE,<NA>,<NA>,0
17,19198671,28441983,19198671,2125-06-25 07:30:00,2125-06-26 12:50:00,<NA>,SURGICAL SAME DAY ADMISSION,P99698,PHYSICIAN REFERRAL,HOME,Medicare,ENGLISH,MARRIED,WHITE,<NA>,<NA>,0
18,15809175,28306795,15809175,2134-03-20 20:26:00,2134-03-26 13:34:00,<NA>,EW EMER.,P75S70,PACU,HOME HEALTH CARE,Other,ENGLISH,MARRIED,OTHER,<NA>,<NA>,0
19,11603380,28937411,11603380,2180-01-03 16:29:00,2180-02-06 17:00:00,<NA>,DIRECT EMER.,P28MTY,PHYSICIAN REFERRAL,HOME,Other,ENGLISH,SINGLE,WHITE,<NA>,<NA>,0
20,16992093,24697836,16992093,2163-09-22 20:22:00,2163-09-29 13:00:00,<NA>,URGENT,P39QC3,INTERNAL TRANSFER TO OR FROM PSYCH,HOME HEALTH CARE,Other,ENGLISH,SINGLE,HISPANIC/LATINO - PUERTO RICAN,2163-09-22 14:24:00,2163-09-22 21:22:00,0
21,18550222,27519624,18550222,2165-09-24 16:59:00,2165-09-26 15:10:00,<NA>,EW EMER.,P22M16,EMERGENCY ROOM,HOME HEALTH CARE,Other,ENGLISH,DIVORCED,ASIAN,2165-09-24 13:42:00,2165-09-24 18:47:00,0
22,15590502,22662556,15590502,2174-09-10 21:29:00,2174-09-16 17:20:00,<NA>,EW EMER.,P73Y1N,EMERGENCY ROOM,HOME HEALTH CARE,Other,?,SINGLE,ASIAN,2174-09-10 16:50:00,2174-09-10 22:27:00,0
23,16520375,29064260,16520375,2138-08-13 18:05:00,2138-08-17 16:46:00,<NA>,EW EMER.,P20N5X,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,MARRIED,OTHER,2138-08-13 15:45:00,2138-08-13 18:52:00,0
24,18298936,23289571,18298936,2171-10-05 19:17:00,2171-10-06 13:20:00,<NA>,AMBULATORY OBSERVATION,P95P90,PROCEDURE SITE,<NA>,Medicare,ENGLISH,MARRIED,WHITE,<NA>,<NA>,0

In [ ]:
# Drop the 'subject_id_y' column and assign it back to non_data
non_data = non_data.drop(columns=['subject_id_y'])

# Rename 'subject_id_x' to 'subject_id' and assign it back to non_data
non_data = non_data.rename(columns={'subject_id_x': 'subject_id'})

# Display the updated DataFrame (optional)
print(non_data.head())  # Check the first few rows

   subject_id   hadm_id            admittime            dischtime deathtime  \
0    19930120  22090434  2175-08-06 14:25:00  2175-08-07 15:45:00      <NA>
1    13239154  25488071  2132-07-19 02:41:00  2132-07-26 16:15:00      <NA>
2    17724257  27634089  2134-02-11 11:39:00  2134-02-16 13:54:00      <NA>
3    17489724  29357186  2132-05-20 15:13:00  2132-05-21 14:27:00      <NA>
4    13162333  28126831  2132-10-29 18:47:00  2132-11-03 13:10:00      <NA>

                admission_type admit_provider_id  admission_location  \
0       AMBULATORY OBSERVATION            P29UXJ      PROCEDURE SITE
1  SURGICAL SAME DAY ADMISSION            P2720E  PHYSICIAN REFERRAL
2            OBSERVATION ADMIT            P38ULE  PHYSICIAN REFERRAL
3       AMBULATORY OBSERVATION            P04W4S                PACU
4                 DIRECT EMER.            P88A32  PHYSICIAN REFERRAL

  discharge_location insurance language marital_status   race  \
0               <NA>     Other  ENGLISH        MARRIED  OTHER
1               HOME  Medicare  ENGLISH         SINGLE  WHITE
2   HOME HEALTH CARE  Medicare  ENGLISH        MARRIED  WHITE
3               <NA>  Medicare  ENGLISH        MARRIED  WHITE
4               HOME  Medicare  ENGLISH        MARRIED  WHITE

             edregtime            edouttime  hospital_expire_flag
0                 <NA>                 <NA>                     0
1                 <NA>                 <NA>                     0
2  2134-02-11 09:40:00  2134-02-11 13:35:00                     0
3                 <NA>                 <NA>                     0
4                 <NA>                 <NA>                     0

[5 rows x 16 columns]

In [ ]:
import bigframes.pandas as bf

# Define a function to calculate the average values and return a DataFrame
def calculate_average(itemid):
    return (
        non_ami_cleaned[non_ami_cleaned['itemid'] == itemid]
        .groupby(['subject_id', 'hadm_id'])
        .agg(average_value=('valuenum', 'mean'))
        .reset_index()
    )

# List of itemids and their corresponding column names
itemids_columns = {
    51003: 'average_troponin_level',
    50904: 'average_cholesterol_HDL',
    50905: 'average_cholesterol_LDL_Calculated',
    50906: 'average_cholesterol_LDL_Measured',
    50907: 'average_cholesterol_Total'
}

# Initialize a list to hold DataFrames
average_dfs = []

# Calculate average values for each itemid and handle missing values
for itemid, column_name in itemids_columns.items():
    avg_df = calculate_average(itemid)
    avg_df = avg_df.rename(columns={'average_value': column_name})  # Rename without inplace
    average_dfs.append(avg_df)

# Merge all the average DataFrames together into a single DataFrame
average_results = average_dfs[0]  # Start with the first DataFrame
for avg_df in average_dfs[1:]:
    average_results = average_results.merge(avg_df, on=['subject_id', 'hadm_id'], how='outer')

# Merge the average results with the existing non_data DataFrame
non_data = non_data.merge(average_results, on=['subject_id', 'hadm_id'], how='left')

# Replace NaN values selectively for newly added columns with 0
for column in itemids_columns.values():
    if column in non_data.columns:  # Ensure the column exists
        non_data[column] = non_data[column].fillna(0)

In [ ]:
non_data.describe()

,subject_id,hadm_id,hospital_expire_flag,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,average_cholesterol_LDL_Measured,average_cholesterol_Total
count,11000.0,11000.0,11000.0,11000.0,11000.0,11000.0,11000.0,11000.0
mean,14999534.653727,25036901.874545,0.016091,0.0,2.748015,4.991379,0.547682,9.662455
std,2893979.821406,2884049.684135,0.125831,0.0,11.968228,22.613544,8.193178,40.659472
min,10000935.0,20001259.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,12488949.0,22541070.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,14952948.0,25076231.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,17507176.0,27513164.0,0.0,0.0,0.0,0.0,0.0,0.0
max,19998330.0,29998421.0,1.0,0.0,145.0,356.0,233.0,451.0

In [ ]:
# Step 1: Filter chartevents for rows with itemid 227446 (Natiurectic)
natiurectic_data = chartevents[chartevents['itemid'] == 227446]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
natiurectic_stats = natiurectic_data.groupby('hadm_id').agg(
    min_natiurectic=('valuenum', 'min'),
    max_natiurectic=('valuenum', 'max'),
    avg_natiurectic=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
non_data = non_data.merge(natiurectic_stats, on='hadm_id', how='left')

non_data['min_natiurectic'] = non_data['min_natiurectic'].fillna(0)
non_data['max_natiurectic'] = non_data['max_natiurectic'].fillna(0)
non_data['avg_natiurectic'] = non_data['avg_natiurectic'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 220615 (creatinine)
data = chartevents[chartevents['itemid'] == 220615]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
stats = data.groupby('hadm_id').agg(
    min_creatinine=('valuenum', 'min'),
    max_creatinine=('valuenum', 'max'),
    avg_creatinine=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
non_data = non_data.merge(stats, on='hadm_id', how='left')

non_data['min_creatinine'] = non_data['min_creatinine'].fillna(0)
non_data['max_creatinine'] = non_data['max_creatinine'].fillna(0)
non_data['avg_creatinine'] = non_data['avg_creatinine'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 220603 (icu_cholestrol)
data = chartevents[chartevents['itemid'] == 220603]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
stats = data.groupby('hadm_id').agg(
    min_icu_cholestrol=('valuenum', 'min'),
    max_icu_cholestrol=('valuenum', 'max'),
    avg_icu_cholestrol=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
non_data = non_data.merge(stats, on='hadm_id', how='left')

non_data['min_icu_cholestrol'] = non_data['min_icu_cholestrol'].fillna(0)
non_data['max_icu_cholestrol'] = non_data['max_icu_cholestrol'].fillna(0)
non_data['avg_icu_cholestrol'] = non_data['avg_icu_cholestrol'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 226537 (glucose)
data = chartevents[chartevents['itemid'] == 226537]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
stats = data.groupby('hadm_id').agg(
    min_glucose=('valuenum', 'min'),
    max_glucose=('valuenum', 'max'),
    avg_glucose=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
non_data = non_data.merge(stats, on='hadm_id', how='left')

non_data['min_glucose'] = non_data['min_glucose'].fillna(0)
non_data['max_glucose'] = non_data['max_glucose'].fillna(0)
non_data['avg_glucose'] = non_data['avg_glucose'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 227445 (ck_mb)
data = chartevents[chartevents['itemid'] == 227445]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
stats = data.groupby('hadm_id').agg(
    min_ck_mb=('valuenum', 'min'),
    max_ck_mb=('valuenum', 'max'),
    avg_ck_mb=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
non_data = non_data.merge(stats, on='hadm_id', how='left')

non_data['min_ck_mb'] = non_data['min_ck_mb'].fillna(0)
non_data['max_ck_mb'] = non_data['max_ck_mb'].fillna(0)
non_data['avg_ck_mb'] = non_data['avg_ck_mb'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 225634 (ck_cpk)
data = chartevents[chartevents['itemid'] == 225634]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
stats = data.groupby('hadm_id').agg(
    min_ck_cpk=('valuenum', 'min'),
    max_ck_cpk=('valuenum', 'max'),
    avg_ck_cpk=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
non_data = non_data.merge(stats, on='hadm_id', how='left')

non_data['min_ck_cpk'] = non_data['min_ck_cpk'].fillna(0)
non_data['max_ck_cpk'] = non_data['max_ck_cpk'].fillna(0)
non_data['avg_ck_cpk'] = non_data['avg_ck_cpk'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 228368 (c_index)
data = chartevents[chartevents['itemid'] == 228368]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
stats = data.groupby('hadm_id').agg(
    min_c_index=('valuenum', 'min'),
    max_c_index=('valuenum', 'max'),
    avg_c_index=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
non_data = non_data.merge(stats, on='hadm_id', how='left')

non_data['min_c_index'] = non_data['min_c_index'].fillna(0)
non_data['max_c_index'] = non_data['max_c_index'].fillna(0)
non_data['avg_c_index'] = non_data['avg_c_index'].fillna(0)

In [ ]:
# Add a new column 'AMI/No AMI' and assign the value 1 to all rows
non_data['AMI/No AMI'] = 0

In [ ]:
non_data.describe()

,subject_id,hadm_id,hospital_expire_flag,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,average_cholesterol_LDL_Measured,average_cholesterol_Total,min_natiurectic,max_natiurectic,...,min_ck_mb,max_ck_mb,avg_ck_mb,min_ck_cpk,max_ck_cpk,avg_ck_cpk,min_c_index,max_c_index,avg_c_index,AMI/No AMI
count,11000.0,11000.0,11000.0,11000.0,11000.0,11000.0,11000.0,11000.0,11000.0,11000.0,...,11000.0,11000.0,11000.0,11000.0,11000.0,11000.0,11000.0,11000.0,11000.0,11000.0
mean,14999534.653727,25036901.874545,0.016091,0.0,2.748015,4.991379,0.547682,9.662455,37.682636,39.271909,...,0.217455,0.352771,0.282663,16.096636,33.469,24.782486,0.010655,0.014382,0.012355,0.0
std,2893979.821406,2884049.684135,0.125831,0.0,11.968228,22.613544,8.193178,40.659472,855.476707,874.290978,...,2.548018,5.338018,3.732506,238.890825,670.38799,431.293044,0.182215,0.247806,0.209219,0.0
min,10000935.0,20001259.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,12488949.0,22541070.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,14952948.0,25076231.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,17507176.0,27513164.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,19998330.0,29998421.0,1.0,0.0,145.0,356.0,233.0,451.0,44785.0,44785.0,...,155.0,375.0,245.0,14910.0,46050.0,26314.666667,5.8,8.3,5.8,0.0

In [ ]:
final_data.describe()

,subject_id,hadm_id,hospital_expire_flag,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,average_cholesterol_LDL_Measured,average_cholesterol_Total,min_natiurectic,max_natiurectic,...,min_ck_mb,max_ck_mb,avg_ck_mb,min_ck_cpk,max_ck_cpk,avg_ck_cpk,min_c_index,max_c_index,avg_c_index,AMI/No AMI
count,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,...,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0,17881.0
mean,14974737.746994,24989910.753034,0.150103,0.550233,0.742184,4.153263,0.829204,8.617602,698.800626,735.413456,...,8.15366,128.478978,38.79512,255.818914,931.182205,531.268189,0.064342,0.099027,0.077464,1.0
std,2884869.068207,2867016.55853,0.357183,1.642865,4.818434,25.805127,11.939146,44.93103,11272.039111,11327.959336,...,32.631687,10575.616873,2712.309509,1869.055805,13036.316064,5099.948734,0.422092,0.831313,0.503141,0.0
min,10000764.0,20000094.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25%,12476400.0,22559108.0,0.0,0.0325,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
50%,14972887.0,24957900.0,0.0,0.083333,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
75%,17519449.0,27446018.0,0.0,0.3325,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,6.0,5.5,86.0,136.0,118.333333,0.0,0.0,0.0,1.0
max,19999987.0,29999670.0,1.0,51.84,40.0,481.0,311.0,576.0,999999.0,999999.0,...,600.0,999999.0,333334.666667,90620.0,999999.0,333381.333333,6.2,48.0,9.6625,1.0

In [ ]:
# Save the final_data DataFrame as a CSV file
non_data.to_csv('non_ami_data.csv', index=False)

In [ ]:
# Concatenate the two datasets
sup_data = bf.concat([final_data, non_data])

In [ ]:
# Count occurrences of each subject_id
duplicate_subjects = sup_data.groupby('subject_id').size().reset_index(name='count')

# Filter for subject_ids that occur more than once
duplicate_subjects = duplicate_subjects[duplicate_subjects['count'] > 1]

# If you want to display the rows with those subject_ids
if not duplicate_subjects.empty:
    # Get the subject_ids that have duplicates
    duplicate_ids = duplicate_subjects['subject_id'].to_list()

    # Filter sup_data for those subject_ids
    duplicate_rows = sup_data[sup_data['subject_id'].isin(duplicate_ids)]

    print(duplicate_rows)
else:
    print("No subject_id occurs more than once.")

     subject_id   hadm_id            admittime            dischtime deathtime  \
2      17724257  27634089  2134-02-11 11:39:00  2134-02-16 13:54:00      <NA>
4      13162333  28126831  2132-10-29 18:47:00  2132-11-03 13:10:00      <NA>
8      17878731  25848148  2183-07-14 01:50:00  2183-07-16 12:00:00      <NA>
10     15588383  22017900  2186-03-19 16:00:00  2186-05-21 16:30:00      <NA>
13     14728956  20595416  2185-10-25 03:20:00  2185-11-07 16:18:00      <NA>
25     19546784  23264317  2141-02-03 20:38:00  2141-02-12 17:00:00      <NA>
26     18935733  20320564  2138-11-06 14:32:00  2138-11-08 14:00:00      <NA>
28     12563258  29067440  2170-11-01 22:45:00  2170-11-04 12:19:00      <NA>
41     18705722  27711562  2154-06-28 23:37:00  2154-07-07 18:07:00      <NA>
42     10144359  29787205  2152-02-13 22:07:00  2152-02-16 16:25:00      <NA>
44     11438336  25518953  2130-03-03 19:27:00  2130-03-04 12:15:00      <NA>
48     11816652  26223183  2124-12-22 15:49:00  2125-01-02 13:40:00      <NA>
49     16293344  27653840  2148-08-15 23:16:00  2148-08-27 15:52:00      <NA>
61     15869025  22604813  2186-06-08 02:23:00  2186-06-08 11:06:00      <NA>
62     13245156  24255280  2138-06-17 14:02:00  2138-06-20 10:56:00      <NA>
67     18760108  24479207  2138-08-13 20:31:00  2138-08-20 17:10:00      <NA>
68     10760122  28363092  2118-07-18 09:10:00  2118-07-25 10:59:00      <NA>
71     13961294  27558777  2150-09-18 08:56:00  2150-09-26 19:00:00      <NA>
73     11965254  20366738  2149-08-24 21:16:00  2149-08-27 18:26:00      <NA>
95     13050816  23597875  2170-03-05 13:51:00  2170-03-07 18:04:00      <NA>
96     15211758  25763336  2157-06-13 15:32:00  2157-06-14 20:07:00      <NA>
103    13848056  21927173  2189-10-12 14:12:00  2189-10-19 15:10:00      <NA>
107    18764644  21703923  2138-10-18 09:03:00  2138-10-22 20:00:00      <NA>
114    16668648  27768031  2149-08-29 16:29:00  2149-08-30 11:30:00      <NA>
116    19193125  21354865  2161-08-11 12:26:00  2161-08-13 13:15:00      <NA>

        admission_type admit_provider_id  \
2    OBSERVATION ADMIT            P38ULE
4         DIRECT EMER.            P88A32
8    OBSERVATION ADMIT            P48GIG
10   OBSERVATION ADMIT            P06BFR
13            EW EMER.            P72G4H
25   OBSERVATION ADMIT            P54Q2B
26            ELECTIVE            P616WL
28      EU OBSERVATION            P257ZL
41   OBSERVATION ADMIT            P172D4
42   OBSERVATION ADMIT            P44OSG
44            EW EMER.            P68ILJ
48            EW EMER.            P61MSW
49            EW EMER.            P68URZ
61      EU OBSERVATION            P20D67
62              URGENT            P65MY4
67              URGENT            P29CGZ
68            EW EMER.            P43BTJ
71   OBSERVATION ADMIT            P434W4
73            EW EMER.            P503ZI
95            EW EMER.            P39043
96            EW EMER.            P100U2
103  OBSERVATION ADMIT            P434W4
107           ELECTIVE            P34653
114           ELECTIVE            P616WL
116       DIRECT EMER.            P82B0E

                         admission_location        discharge_location  \
2                        PHYSICIAN REFERRAL          HOME HEALTH CARE
4                        PHYSICIAN REFERRAL                      HOME
8                     WALK-IN/SELF REFERRAL                      HOME
10   TRANSFER FROM SKILLED NURSING FACILITY  SKILLED NURSING FACILITY
13                           EMERGENCY ROOM                      HOME
25                       PHYSICIAN REFERRAL  SKILLED NURSING FACILITY
26                       PHYSICIAN REFERRAL                      HOME
28                           EMERGENCY ROOM                      <NA>
41                           EMERGENCY ROOM          HOME HEALTH CARE
42                       PHYSICIAN REFERRAL                      HOME
44                           EMERGENCY ROOM                      HOME
48                           EMERGENCY ROOM  SKILLED NURSING FACILITY
49                           EMERGENCY ROOM          HOME HEALTH CARE
61                           EMERGENCY ROOM                      <NA>
62                                     PACU                      HOME
67                   TRANSFER FROM HOSPITAL  SKILLED NURSING FACILITY
68                           EMERGENCY ROOM            OTHER FACILITY
71                   TRANSFER FROM HOSPITAL  SKILLED NURSING FACILITY
73                           EMERGENCY ROOM          HOME HEALTH CARE
95                           EMERGENCY ROOM  SKILLED NURSING FACILITY
96                           EMERGENCY ROOM                      HOME
103                          PROCEDURE SITE          HOME HEALTH CARE
107                      PHYSICIAN REFERRAL                      HOME
114                      PHYSICIAN REFERRAL                      HOME
116                         CLINIC REFERRAL                      HOME

    insurance  ... min_ck_mb max_ck_mb avg_ck_mb min_ck_cpk max_ck_cpk  \
2    Medicare  ...       0.0       0.0       0.0        0.0        0.0
4    Medicare  ...       0.0       0.0       0.0        0.0        0.0
8    Medicare  ...       0.0       0.0       0.0        0.0        0.0
10   Medicare  ...       0.0       0.0       0.0        0.0        0.0
13      Other  ...       0.0       0.0       0.0        0.0        0.0
25   Medicare  ...       0.0       0.0       0.0        0.0        0.0
26      Other  ...       0.0       0.0       0.0        0.0        0.0
28   Medicaid  ...       0.0       0.0       0.0        0.0        0.0
41   Medicare  ...       0.0       0.0       0.0        0.0        0.0
42   Medicare  ...       0.0       0.0       0.0        0.0        0.0
44      Other  ...       0.0       0.0       0.0        0.0        0.0
48   Medicare  ...       0.0       0.0       0.0        0.0        0.0
49   Medicare  ...       0.0       0.0       0.0        0.0        0.0
61   Medicaid  ...       0.0       0.0       0.0        0.0        0.0
62   Medicare  ...       0.0       0.0       0.0        0.0        0.0
67   Medicaid  ...       0.0       0.0       0.0        0.0        0.0
68      Other  ...       0.0       0.0       0.0        0.0        0.0
71   Medicare  ...       0.0       0.0       0.0        0.0        0.0
73      Other  ...       0.0       0.0       0.0        0.0        0.0
95   Medicaid  ...       0.0       0.0       0.0        0.0        0.0
96      Other  ...       0.0       0.0       0.0        0.0        0.0
103     Other  ...       0.0       0.0       0.0        0.0        0.0
107  Medicare  ...       0.0       0.0       0.0        0.0        0.0
114     Other  ...       0.0       0.0       0.0        0.0        0.0
116  Medicare  ...       0.0       0.0       0.0        0.0        0.0

     avg_ck_cpk  min_c_index  max_c_index  avg_c_index  AMI/No AMI
2           0.0          0.0          0.0          0.0           0
4           0.0          0.0          0.0          0.0           0
8           0.0          0.0          0.0          0.0           0
10          0.0          0.0          0.0          0.0           0
13          0.0          0.0          0.0          0.0           0
25          0.0          0.0          0.0          0.0           0
26          0.0          0.0          0.0          0.0           0
28          0.0          0.0          0.0          0.0           0
41          0.0          0.0          0.0          0.0           0
42          0.0          0.0          0.0          0.0           0
44          0.0          0.0          0.0          0.0           0
48          0.0          0.0          0.0          0.0           0
49          0.0          0.0          0.0          0.0           0
61          0.0          0.0          0.0          0.0           0
62          0.0          0.0          0.0          0.0           0
67          0.0          0.0          0.0          0.0           0
68          0.0          0.0          0.0          0.0           0
71          0.0          0.0          0.0          0.0           0
73          0.0          0.0          0.0          0.0           0
95          0.0          0.0          0.0          0.0           0
96          0.0          0.0          0.0          0.0           0
103         0.0          0.0          0.0          0.0           0
107         0.0          0.0          0.0          0.0           0
114         0.0          0.0          0.0          0.0           0
116         0.0          0.0          0.0          0.0           0
...

[1540 rows x 43 columns]

In [ ]:
# Drop duplicates in sup_data
sup_data = sup_data.drop_duplicates(subset='subject_id')

# Display the first few rows of the deduplicated DataFrame
sup_data

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,min_ck_mb,max_ck_mb,avg_ck_mb,min_ck_cpk,max_ck_cpk,avg_ck_cpk,min_c_index,max_c_index,avg_c_index,AMI/No AMI
0,15249915,25244672,2139-03-03 18:59:00,2139-03-31 17:35:00,<NA>,URGENT,P04X8Y,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicare,...,5.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,17469778,22441519,2128-11-15 03:05:00,2128-12-11 18:00:00,<NA>,EW EMER.,P48KFD,EMERGENCY ROOM,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,135.0,196.0,170.0,5088.0,31300.0,19077.75,0.0,0.0,0.0,1
2,14447847,20390421,2141-03-01 18:53:00,2141-03-04 14:00:00,<NA>,EW EMER.,P44UQI,EMERGENCY ROOM,HOME,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,11136204,25389136,2196-11-26 22:38:00,2196-12-09 15:51:00,<NA>,OBSERVATION ADMIT,P79IP0,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,12739652,25978400,2110-10-11 07:29:00,2110-10-12 20:30:00,2110-10-12 20:30:00,URGENT,P93MI7,TRANSFER FROM HOSPITAL,DIED,Medicare,...,2.0,2.0,2.0,53.0,53.0,53.0,0.0,0.0,0.0,1
5,11699868,20798077,2125-12-24 17:15:00,2125-12-27 13:30:00,<NA>,EW EMER.,P23URY,EMERGENCY ROOM,HOME,Medicare,...,6.0,6.0,6.0,116.0,116.0,116.0,0.0,0.0,0.0,1
6,19965303,22709834,2163-04-11 17:29:00,2163-04-13 15:32:00,<NA>,EW EMER.,P91RC2,EMERGENCY ROOM,HOME,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
7,17727330,24230862,2176-06-20 21:21:00,2176-06-25 15:20:00,<NA>,URGENT,P74FFH,TRANSFER FROM HOSPITAL,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,2.0,2.0,2.0,91.0,105.0,98.0,0.0,0.0,0.0,1
8,11533048,25552604,2117-04-02 23:25:00,2117-04-05 18:20:00,<NA>,OBSERVATION ADMIT,P43HX7,EMERGENCY ROOM,HOME HEALTH CARE,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
9,15710484,26736048,2186-12-19 20:04:00,2187-01-09 13:53:00,<NA>,URGENT,P44UQI,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
10,13873595,23417361,2172-11-05 17:24:00,2172-11-26 16:51:00,<NA>,EW EMER.,P09IS0,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,...,8.0,41.0,25.428571,200.0,460.0,318.8,0.0,0.0,0.0,1
11,14413724,25143811,2177-06-03 18:43:00,2177-06-08 14:26:00,<NA>,OBSERVATION ADMIT,P93MI7,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,3.0,4.0,3.666667,227.0,297.0,264.333333,0.0,0.0,0.0,1
12,15644476,24889537,2174-02-03 22:49:00,2174-03-01 17:40:00,<NA>,URGENT,P7554I,TRANSFER FROM HOSPITAL,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,6.0,6.0,6.0,22.0,37.0,29.5,0.0,0.0,0.0,1
13,12124962,23447905,2155-10-14 22:07:00,2155-10-23 14:25:00,<NA>,EW EMER.,P38V7W,EMERGENCY ROOM,SKILLED NURSING FACILITY,Other,...,9.0,14.0,11.0,395.0,912.0,589.333333,0.0,0.0,0.0,1
14,15457431,27980885,2189-08-05 21:46:00,2189-08-07 14:10:00,<NA>,EW EMER.,P132L1,EMERGENCY ROOM,HOME,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
15,12124781,27861413,2187-11-23 16:16:00,2187-12-30 14:38:00,2187-12-30 14:38:00,EW EMER.,P30KEH,EMERGENCY ROOM,DIED,Medicare,...,2.0,20.0,9.181818,98.0,3215.0,1473.357143,0.0,0.0,0.0,1
16,12007754,22791290,2154-06-27 23:38:00,2154-07-04 14:11:00,<NA>,URGENT,P99LA7,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
17,16097925,20461991,2123-02-06 02:27:00,2123-02-25 07:45:00,2123-02-25 19:11:00,EW EMER.,P99BGS,EMERGENCY ROOM,DIED,Medicaid,...,6.0,15.0,10.2,124.0,851.0,493.8,0.0,0.0,0.0,1
18,12940767,23330292,2156-02-20 23:33:00,2156-02-22 17:30:00,<NA>,EW EMER.,P637GX,PHYSICIAN REFERRAL,HOME,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
19,15803225,22177699,2164-05-30 00:10:00,2164-06-02 13:00:00,<NA>,EW EMER.,P29CGZ,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
20,17971413,21653499,2118-10-15 11:20:00,2118-10-28 13:55:00,<NA>,EW EMER.,P30KEH,EMERGENCY ROOM,REHAB,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
21,13364025,21975198,2181-02-16 20:08:00,2181-02-24 15:30:00,<NA>,URGENT,P695KR,TRANSFER FROM HOSPITAL,HOME,Other,...,2.0,3.0,2.5,92.0,109.0,100.5,0.0,0.0,0.0,1
22,10562589,22085831,2115-12-19 15:57:00,2115-12-23 16:13:00,<NA>,OBSERVATION ADMIT,P187JB,PHYSICIAN REFERRAL,HOME,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
23,11185674,25433770,2163-07-08 11:04:00,2163-07-13 18:30:00,2163-07-13 18:30:00,EW EMER.,P44UQI,EMERGENCY ROOM,DIED,Medicare,...,17.0,28.0,22.5,263.0,414.0,338.5,0.0,0.0,0.0,1
24,19508604,28747200,2177-05-15 18:12:00,2177-05-24 14:59:00,<NA>,OBSERVATION ADMIT,P66A56,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [ ]:
# Count distinct subject_id in sup_data
distinct_subject_id_count = sup_data['hadm_id'].nunique()

# Display the count of distinct subject_id
distinct_subject_id_count

28041

In [ ]:
# Show class distribution (imbalance) in the dataset based on the 'AMI/No AMI' column
class_distribution = sup_data['AMI/No AMI'].value_counts()

# Display the distribution
print(class_distribution)

AMI/No AMI
1    17881
0    10160
Name: count, dtype: Int64

# Non AMI but have undergone troponin test

In [ ]:
# Step 1: Get the list of subject_ids from sup_data
sup_data_subject_ids = sup_data['subject_id'].unique()

# Step 2: Filter out rows in labevents that have subject_id present in sup_data
filtered_labevents = labevents[~labevents['subject_id'].isin(sup_data_subject_ids)]

# Display the filtered dataset
filtered_labevents

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
2,76268301,16442211,<NA>,24500068,50853,P720KZ,2172-02-11 12:31:00,2172-02-12 12:22:00,___,41.0,ng/mL,30.0,60.0,<NA>,ROUTINE,NEW ASSAY IN USE ___: DETECTS D2 AND D3 25-OH ...
3,111302523,19419572,26879570,15738246,51249,<NA>,2166-04-19 04:57:00,2166-04-19 06:24:00,32.3,32.3,g/dL,32.0,37.0,<NA>,STAT,<NA>
4,92239451,17800862,22365355,65231011,51248,<NA>,2169-03-15 11:17:00,2169-03-15 11:45:00,31.2,31.2,pg,27.0,32.0,<NA>,ROUTINE,<NA>
5,73425719,16200045,27596478,1248781,50971,<NA>,2154-10-27 17:30:00,2154-10-27 18:12:00,3.7,3.7,mEq/L,3.3,5.1,<NA>,STAT,<NA>
8,93293953,17889509,24459677,99128964,50934,<NA>,2154-03-09 05:20:00,2154-03-09 06:39:00,14,14.0,<NA>,<NA>,<NA>,<NA>,STAT,<NA>
11,55370091,14684362,<NA>,3234126,51244,<NA>,2159-06-23 17:45:00,2159-06-23 19:10:00,24,24.0,%,18.0,42.0,<NA>,STAT,<NA>
14,116971336,19886758,<NA>,54555585,51277,<NA>,2126-07-30 05:08:00,2126-07-30 06:13:00,12.2,12.2,%,10.5,15.5,<NA>,STAT,<NA>
15,10732637,10932032,<NA>,20932119,51248,P101DT,2177-09-27 14:07:00,2177-09-27 21:25:00,29.2,29.2,pg,27.0,32.0,<NA>,ROUTINE,<NA>
16,6118385,10543355,20961066,21389311,52172,<NA>,2178-04-12 06:30:00,2178-04-12 07:14:00,41.3,41.3,fL,35.1,46.3,<NA>,ROUTINE,<NA>
17,14793903,11266771,<NA>,92267790,50861,<NA>,2202-01-17 09:55:00,2202-01-17 12:08:00,11,11.0,IU/L,0.0,40.0,<NA>,STAT,<NA>
18,33051971,12805506,28223567,26473371,50912,<NA>,2153-03-26 07:47:00,2153-03-26 08:49:00,1.1,1.1,mg/dL,0.4,1.1,<NA>,STAT,<NA>
19,41033539,13475592,<NA>,21701816,50912,P86461,2170-10-22 10:59:00,2170-10-22 11:52:00,0.8,0.8,mg/dL,0.4,1.1,<NA>,STAT,<NA>
21,45588688,13868339,27574870,45673456,50808,<NA>,2178-08-28 13:11:00,2178-08-28 13:14:00,___,0.95,mmol/L,1.12,1.32,abnormal,<NA>,VERIFIED.
23,86194342,17287745,21622919,49017452,50802,<NA>,2137-11-27 14:17:00,2137-11-27 14:22:00,-6,-6.0,mEq/L,<NA>,<NA>,<NA>,<NA>,<NA>
24,91551237,17739871,26655376,17784601,52172,<NA>,2194-08-22 03:41:00,2194-08-22 04:04:00,50.0,50.0,fL,35.1,46.3,abnormal,ROUTINE,<NA>
25,53694906,14538441,24133056,89197321,51146,<NA>,2185-03-29 00:00:00,2185-03-29 00:55:00,0.0,0.0,%,0.0,1.0,<NA>,ROUTINE,<NA>
30,80268852,16793547,<NA>,77377343,50910,P73NI9,2187-08-31 12:40:00,2187-08-31 15:13:00,___,105.0,IU/L,47.0,322.0,<NA>,ROUTINE,NEW REFERENCE INTERVAL AS OF ___;UPPER LIMIT (...
31,75227982,16355861,<NA>,734819,50974,P56B4N,2190-10-22 12:30:00,2190-10-22 17:19:00,___,15.1,ng/mL,0.0,4.0,abnormal,ROUTINE,MEASURED BY ___.
32,89917505,17602942,23771949,41986222,51237,<NA>,2169-08-21 05:20:00,2169-08-21 07:59:00,1.1,1.1,<NA>,0.9,1.1,<NA>,ROUTINE,<NA>
33,14786127,11266631,<NA>,53194382,51260,P60CC5,2154-06-03 13:45:00,2154-06-03 18:16:00,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,ROUTINE,OCCASIONAL.
34,61639451,15212172,28728038,5047777,50971,<NA>,2126-01-26 08:15:00,2126-01-26 09:19:00,4.4,4.4,mEq/L,3.3,5.1,<NA>,STAT,<NA>
35,82640896,16983240,22225220,84135642,50934,<NA>,2139-04-25 04:55:00,2139-04-25 06:54:00,8,8.0,<NA>,<NA>,<NA>,<NA>,ROUTINE,<NA>
36,110926897,19388584,<NA>,93425058,51200,P40VVZ,2158-06-29 13:27:00,2158-06-29 17:29:00,1.0,1.0,%,1.0,7.0,<NA>,ROUTINE,<NA>
40,81408625,16888516,27916654,99871656,51265,<NA>,2178-03-24 05:43:00,2178-03-24 06:23:00,71,71.0,K/uL,150.0,440.0,abnormal,ROUTINE,<NA>
41,97243856,18229728,<NA>,63177981,51237,P32IMQ,2162-07-01 12:40:00,2162-07-01 13:26:00,1.3,1.3,<NA>,0.9,1.1,abnormal,STAT,<NA>

In [ ]:
# Step 1: Filter rows where itemid = 51003
filtered_labevents_51003 = filtered_labevents[filtered_labevents['itemid'] == 51003]

# Step 2: Further filter rows where flag is null or NaN
filtered_labevents_final = filtered_labevents_51003[filtered_labevents_51003['flag'].isna()]

# Display the filtered dataset
filtered_labevents_final

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
1526,36269857,13081978,<NA>,28404908,51003,<NA>,2172-06-09 16:15:00,2172-06-09 17:02:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
1888,97438690,18249046,<NA>,15932489,51003,<NA>,2171-12-27 01:30:00,2171-12-27 02:17:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
2244,83941404,17095997,<NA>,47282961,51003,<NA>,2203-01-12 02:00:00,2203-01-12 03:37:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
2535,102958869,18700695,<NA>,27165473,51003,<NA>,2185-06-28 00:55:00,2185-06-28 01:32:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. cTropnT > 0.10 ng/mL suggests Acute MI.
3538,98003902,18292980,20746968,11394773,51003,<NA>,2183-05-20 07:20:00,2183-05-20 10:11:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,ROUTINE,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
3724,74480643,16289474,<NA>,84585792,51003,<NA>,2192-04-13 15:25:00,2192-04-13 18:48:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
4060,775636,10071379,23735613,32364070,51003,<NA>,2127-09-09 06:55:00,2127-09-09 09:10:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,ROUTINE,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
4325,101120372,18556362,24322345,42570947,51003,<NA>,2141-03-10 11:06:00,2141-03-10 12:34:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
4355,57126942,14829955,22431535,75065390,51003,<NA>,2125-08-08 05:20:00,2125-08-08 06:23:00,___,0.01,ng/mL,0.0,0.01,<NA>,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
5236,116590840,19855341,<NA>,87372386,51003,<NA>,2126-09-03 05:10:00,2126-09-03 05:45:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
5824,81279310,16880265,<NA>,58264491,51003,<NA>,2156-02-06 17:40:00,2156-02-06 18:36:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
6170,52719352,14455728,<NA>,68946632,51003,<NA>,2161-10-17 20:22:00,2161-10-17 21:21:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
7130,99695668,18436957,23725005,68270550,51003,<NA>,2163-07-03 21:20:00,2163-07-03 23:23:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
7834,82450063,16966137,<NA>,69597787,51003,<NA>,2154-01-15 15:05:00,2154-01-15 19:47:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. cTropnT > 0.10 ng/mL suggests Acute MI.
7956,92920250,17860331,23039878,24012492,51003,<NA>,2189-06-28 09:10:00,2189-06-28 11:11:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,ROUTINE,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
8184,79112166,16686469,<NA>,95906438,51003,<NA>,2188-08-03 11:23:00,2188-08-03 13:08:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
10800,80078370,16777170,29182033,78395423,51003,<NA>,2185-07-26 20:10:00,2185-07-26 22:30:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
11115,24897014,12135709,<NA>,84048857,51003,<NA>,2192-11-05 16:50:00,2192-11-05 18:39:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
11240,4620290,10407730,22078488,13268848,51003,<NA>,2148-07-26 10:07:00,2148-07-26 12:04:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
11973,50604678,14280310,<NA>,49599064,51003,<NA>,2182-09-11 10:45:00,2182-09-11 11:51:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
12269,94104447,17960078,<NA>,9121651,51003,<NA>,2146-03-14 05:15:00,2146-03-14 06:06:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
12299,25931298,12218250,<NA>,66711279,51003,P1037P,2177-08-03 10:35:00,2177-08-03 11:40:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
13238,31281572,12659391,28935610,22410043,51003,<NA>,2178-04-10 07:14:00,2178-04-10 08:08:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,ROUTINE,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
15734,55405614,14686885,<NA>,36284040,51003,<NA>,2169-05-10 16:20:00,2169-05-10 17:27:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
15749,8822775,10767527,<NA>,58826774,51003,P104ZH,2205-12-17 15:45:00,2205-12-20 02:28:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,ROUTINE,<0.01. cTropnT > 0.10 ng/mL suggests Acute MI.

In [ ]:
# Drop rows where hadm_id is null or NaN
filtered_labevents_final= filtered_labevents_final.dropna(subset=['hadm_id'])

# Display the cleaned dataset
filtered_labevents_final

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
3538,98003902,18292980,20746968,11394773,51003,<NA>,2183-05-20 07:20:00,2183-05-20 10:11:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,ROUTINE,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
4060,775636,10071379,23735613,32364070,51003,<NA>,2127-09-09 06:55:00,2127-09-09 09:10:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,ROUTINE,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
4325,101120372,18556362,24322345,42570947,51003,<NA>,2141-03-10 11:06:00,2141-03-10 12:34:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
4355,57126942,14829955,22431535,75065390,51003,<NA>,2125-08-08 05:20:00,2125-08-08 06:23:00,___,0.01,ng/mL,0.0,0.01,<NA>,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
7130,99695668,18436957,23725005,68270550,51003,<NA>,2163-07-03 21:20:00,2163-07-03 23:23:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
7956,92920250,17860331,23039878,24012492,51003,<NA>,2189-06-28 09:10:00,2189-06-28 11:11:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,ROUTINE,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
10800,80078370,16777170,29182033,78395423,51003,<NA>,2185-07-26 20:10:00,2185-07-26 22:30:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
11240,4620290,10407730,22078488,13268848,51003,<NA>,2148-07-26 10:07:00,2148-07-26 12:04:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
13238,31281572,12659391,28935610,22410043,51003,<NA>,2178-04-10 07:14:00,2178-04-10 08:08:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,ROUTINE,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
18036,103027117,18704402,29110596,36806067,51003,<NA>,2127-02-17 17:27:00,2127-02-17 18:45:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
19455,116638569,19859251,25165505,82117683,51003,<NA>,2173-09-25 18:00:00,2173-09-25 18:59:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
20185,50746425,14291542,28499446,54914754,51003,<NA>,2122-11-29 06:40:00,2122-11-29 10:01:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. cTropnT > 0.10 ng/mL suggests Acute MI.
20291,27488959,12346049,27077070,3412221,51003,<NA>,2111-07-30 22:17:00,2111-07-31 01:42:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
20912,69109685,15837443,29181302,11677947,51003,<NA>,2169-05-09 07:15:00,2169-05-09 10:08:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,ROUTINE,<0.01. cTropnT > 0.10 ng/mL suggests Acute MI.
21093,15385581,11317376,26139374,29239984,51003,<NA>,2132-06-03 04:05:00,2132-06-03 05:39:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
26615,58028015,14907199,26056855,57095111,51003,<NA>,2183-07-25 03:05:00,2183-07-25 04:06:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,ROUTINE,<0.01. cTropnT > 0.10 ng/mL suggests Acute MI.
32235,83547699,17064981,26193736,96127320,51003,<NA>,2139-02-03 09:30:00,2139-02-03 10:40:00,___,0.01,ng/mL,0.0,0.01,<NA>,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
39398,52682458,14452331,25597088,87696264,51003,<NA>,2159-09-13 07:15:00,2159-09-13 08:41:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,ROUTINE,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
39614,14706831,11259141,25963696,22446750,51003,<NA>,2184-07-11 09:07:00,2184-07-11 11:09:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. cTropnT > 0.10 ng/mL suggests Acute MI.
41662,29419663,12499519,23501241,26234161,51003,<NA>,2145-03-23 19:35:00,2145-03-23 23:33:00,___,0.01,ng/mL,0.0,0.01,<NA>,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
43173,28956289,12465521,21605717,17944008,51003,<NA>,2153-12-26 19:30:00,2153-12-26 21:21:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. cTropnT > 0.10 ng/mL suggests Acute MI.
44377,85791102,17253770,28550468,91133294,51003,<NA>,2185-11-22 00:23:00,2185-11-22 01:25:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
44739,7386898,10645933,26882053,83479410,51003,<NA>,2199-09-18 06:10:00,2199-09-18 09:44:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,ROUTINE,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
46174,29356133,12493668,20337714,7697874,51003,<NA>,2167-08-04 23:00:00,2167-08-05 02:29:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
47865,33243434,12824281,25743254,65173645,51003,<NA>,2210-01-29 01:05:00,2210-01-29 02:34:00,<NA>,<NA>,ng/mL,0.0,0.01,<NA>,STAT,<0.01. cTropnT > 0.10 ng/mL suggests Acute MI.

In [ ]:
# Count the number of distinct subject_id
num_distinct_subjects = filtered_labevents_final['subject_id'].nunique()

# Display the result
num_distinct_subjects

31367

In [ ]:
# Step 1: Drop duplicates to ensure distinct subject_id and hadm_id pairs
distinct_pairs = filtered_labevents_final[['subject_id', 'hadm_id']].drop_duplicates()

# Step 2: Randomly select 7,721 distinct pairs
ami_prone = distinct_pairs.sample(n=7721, random_state=42)

# Optionally, save the selected pairs to a new DataFrame
ami_prone

           subject_id   hadm_id
100144496    16915844  28603001
41245713     12408629  28282634
62892167     16542549  26603762
7734158      11184688  25317417
13746940     15614323  27164070
30752494     11064674  26327106
80152478     17177156  26336470
50635357     15978842  20052246
68373981     12190387  20815300
20717912     18750487  23235885
56295538     16742655  22494861
84946644     14236544  23327910
61292839     17581522  25707891
36924066     17031372  25246940
23055789     14392384  25296322
46408509     11034601  28197223
50496673     10606960  26621995
62826029     17604315  25323690
17508365     12166138  28815793
85256118     17929176  22981444
70010191     14566045  26466677
12177366     17148407  25750218
39632323     16013259  20318256
83678990     14650125  29375325
113178499    13477807  27401226
...

[7721 rows x 2 columns]

In [ ]:
# Step 1: Check for common subject_ids between ami_prone and sup_data
common_subject_ids = ami_prone['subject_id'].isin(sup_data['subject_id'])

# Step 2: Filter the rows in ami_prone that have common subject_ids with sup_data
common_subject_rows = ami_prone[common_subject_ids]

# Step 3: Display the result
common_subject_rows

# Optionally, count how many common subject_ids are present
num_common_subjects = common_subject_rows['subject_id'].nunique()
print(f"Number of common subject_ids between ami_prone and sup_data: {num_common_subjects}")

Number of common subject_ids between ami_prone and sup_data: 0

In [ ]:
# Step 1: Perform a join between admission and ami_prone on hadm_id
# We use inner join to retain only the rows from admission that have matching hadm_id in ami_prone
admission_filtered = admissions.merge(ami_prone[['hadm_id']], on='hadm_id', how='inner')

# Step 2: Display the first few rows of the filtered admission DataFrame
admission_filtered

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,18666020,23259272,2156-11-20 05:44:00,2156-11-24 16:33:00,<NA>,EW EMER.,P54RLA,EMERGENCY ROOM,HOME HEALTH CARE,Other,ENGLISH,WIDOWED,WHITE,2156-11-20 02:02:00,2156-11-20 07:36:00,0
1,11936434,25424317,2130-05-25 20:39:00,2130-06-02 19:00:00,<NA>,EW EMER.,P20DGX,EMERGENCY ROOM,HOME HEALTH CARE,Medicaid,?,SINGLE,BLACK/CAPE VERDEAN,2130-05-25 17:19:00,2130-05-25 22:04:00,0
2,13260794,27499028,2180-06-03 23:18:00,2180-06-06 17:22:00,<NA>,OBSERVATION ADMIT,P91RC2,EMERGENCY ROOM,HOME,Other,ENGLISH,SINGLE,WHITE,2180-06-03 19:25:00,2180-06-04 14:14:00,0
3,10963517,25974873,2192-01-28 00:00:00,2192-02-05 14:21:00,<NA>,SURGICAL SAME DAY ADMISSION,P68URZ,PHYSICIAN REFERRAL,SKILLED NURSING FACILITY,Medicare,ENGLISH,WIDOWED,WHITE - OTHER EUROPEAN,<NA>,<NA>,0
4,10209298,25515083,2141-02-11 17:28:00,2141-03-19 15:58:00,2141-03-19 15:58:00,DIRECT EMER.,P874LG,PHYSICIAN REFERRAL,DIED,Medicaid,ENGLISH,MARRIED,WHITE,<NA>,<NA>,1
5,19180767,21419288,2188-01-05 20:51:00,2188-01-06 18:43:00,<NA>,EW EMER.,P08BVE,EMERGENCY ROOM,HOME,Other,ENGLISH,DIVORCED,WHITE,2188-01-05 13:53:00,2188-01-05 21:35:00,0
6,10737866,23628892,2171-04-29 11:40:00,2171-05-04 15:45:00,<NA>,EW EMER.,P12UQ6,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,ENGLISH,WIDOWED,WHITE,2171-04-29 06:05:00,2171-04-29 14:04:00,0
7,10148145,28234938,2162-09-20 11:49:00,2162-10-02 13:31:00,<NA>,URGENT,P99698,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Other,ENGLISH,SINGLE,WHITE,<NA>,<NA>,0
8,10616466,26420177,2120-02-05 19:59:00,2120-02-12 16:30:00,<NA>,OBSERVATION ADMIT,P031HZ,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,ENGLISH,SINGLE,WHITE,2120-02-05 18:53:00,2120-02-05 23:14:00,0
9,10290028,24765023,2155-05-07 08:00:00,2155-05-22 11:20:00,<NA>,SURGICAL SAME DAY ADMISSION,P29BE6,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,ENGLISH,MARRIED,WHITE,<NA>,<NA>,0
10,13078944,29277779,2141-12-04 10:35:00,2141-12-08 16:49:00,<NA>,EW EMER.,P39043,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,ENGLISH,WIDOWED,WHITE,2141-12-04 07:10:00,2141-12-04 18:03:00,0
11,11389314,26808647,2184-09-09 00:53:00,2184-09-11 12:23:00,<NA>,EW EMER.,P46PUP,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,DIVORCED,WHITE,2184-09-08 22:54:00,2184-09-09 01:57:00,0
12,17002221,20841689,2182-08-15 19:23:00,2182-08-19 12:53:00,<NA>,OBSERVATION ADMIT,P733ES,EMERGENCY ROOM,HOME,Other,ENGLISH,MARRIED,WHITE,2182-08-15 14:26:00,2182-08-15 21:42:00,0
13,18449855,20066815,2114-08-19 15:58:00,2114-08-20 14:10:00,<NA>,EU OBSERVATION,P29CGZ,EMERGENCY ROOM,<NA>,Other,ENGLISH,MARRIED,PATIENT DECLINED TO ANSWER,2114-08-19 10:05:00,2114-08-19 18:04:00,0
14,15964688,23891243,2165-02-09 02:10:00,2165-02-10 21:00:00,<NA>,EW EMER.,P29CGZ,EMERGENCY ROOM,HOME HEALTH CARE,Other,ENGLISH,<NA>,WHITE,2165-02-08 22:25:00,2165-02-09 03:00:00,0
15,16437683,22713014,2149-04-02 19:46:00,2149-04-06 15:48:00,<NA>,EW EMER.,P75S70,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,ENGLISH,SINGLE,WHITE,2149-04-02 15:45:00,2149-04-02 21:00:00,0
16,12999430,26339263,2187-08-08 21:53:00,2187-08-11 18:19:00,<NA>,EW EMER.,P77EAL,EMERGENCY ROOM,HOME,Medicare,ENGLISH,SINGLE,WHITE,2187-08-08 15:33:00,2187-08-08 23:40:00,0
17,18162895,28355362,2114-12-11 23:01:00,2114-12-12 14:50:00,<NA>,EU OBSERVATION,P786Y5,EMERGENCY ROOM,<NA>,Medicaid,?,MARRIED,HISPANIC/LATINO - GUATEMALAN,2114-12-11 18:23:00,2114-12-12 00:29:00,0
18,17561076,22285610,2134-03-03 03:25:00,2134-03-05 20:00:00,<NA>,OBSERVATION ADMIT,P450WM,WALK-IN/SELF REFERRAL,HOME,Other,?,DIVORCED,BLACK/CAPE VERDEAN,2134-03-02 18:27:00,2134-03-03 04:37:00,0
19,14884739,22951744,2163-08-24 19:51:00,2163-08-27 14:25:00,<NA>,EW EMER.,P09IS0,EMERGENCY ROOM,HOME,Medicare,ENGLISH,WIDOWED,WHITE,2163-08-24 16:32:00,2163-08-24 21:17:00,0
20,11413164,26047155,2167-12-11 15:22:00,2167-12-13 17:30:00,<NA>,EW EMER.,P27SDD,EMERGENCY ROOM,HOME,Other,ENGLISH,MARRIED,WHITE,2167-12-11 09:37:00,2167-12-11 16:58:00,0
21,16917373,21317409,2199-11-22 01:48:00,2199-11-22 10:06:00,<NA>,EU OBSERVATION,P3009T,EMERGENCY ROOM,<NA>,Medicare,ENGLISH,MARRIED,WHITE,2199-11-21 22:22:00,2199-11-22 10:06:00,0
22,17522373,20846464,2147-08-21 18:41:00,2147-08-22 17:45:00,<NA>,EW EMER.,P172D4,EMERGENCY ROOM,HOME,Other,?,SINGLE,BLACK/CAPE VERDEAN,2147-08-21 13:32:00,2147-08-21 20:15:00,0
23,12007928,22303971,2187-02-09 04:29:00,2187-02-14 14:19:00,<NA>,OBSERVATION ADMIT,P68U3G,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,ENGLISH,SINGLE,WHITE,2187-02-08 21:06:00,2187-02-09 11:56:00,0
24,15718099,22158712,2178-01-09 06:14:00,2178-01-10 16:19:00,<NA>,EU OBSERVATION,P36CPU,EMERGENCY ROOM,<NA>,Medicare,ENGLISH,SINGLE,WHITE,2178-01-09 04:17:00,2178-01-09 22:20:00,0

In [ ]:
import bigframes.pandas as bf

# Define a function to calculate the average values and return a DataFrame
def calculate_average(itemid):
    return (
        filtered_labevents[filtered_labevents['itemid'] == itemid]
        .groupby(['subject_id', 'hadm_id'])
        .agg(average_value=('valuenum', 'mean'))
        .reset_index()
    )

# List of itemids and their corresponding column names
itemids_columns = {
    51003: 'average_troponin_level',
    50904: 'average_cholesterol_HDL',
    50905: 'average_cholesterol_LDL_Calculated',
    50906: 'average_cholesterol_LDL_Measured',
    50907: 'average_cholesterol_Total'
}

# Initialize a list to hold DataFrames
average_dfs = []

# Calculate average values for each itemid and handle missing values
for itemid, column_name in itemids_columns.items():
    avg_df = calculate_average(itemid)
    avg_df = avg_df.rename(columns={'average_value': column_name})  # Rename without inplace
    average_dfs.append(avg_df)

# Merge all the average DataFrames together into a single DataFrame
average_results = average_dfs[0]  # Start with the first DataFrame
for avg_df in average_dfs[1:]:
    average_results = average_results.merge(avg_df, on=['subject_id', 'hadm_id'], how='outer')

# Merge the average results with the existing non_data DataFrame
prone_data = admission_filtered.merge(average_results, on=['subject_id', 'hadm_id'], how='left')

# Replace NaN values selectively for newly added columns with 0
for column in itemids_columns.values():
    if column in prone_data.columns:  # Ensure the column exists
        prone_data[column] = prone_data[column].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 227446 (Natiurectic)
data = chartevents[chartevents['itemid'] == 227446]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
stats = data.groupby('hadm_id').agg(
    min_natiurectic=('valuenum', 'min'),
    max_natiurectic=('valuenum', 'max'),
    avg_natiurectic=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
prone_data = prone_data.merge(stats, on='hadm_id', how='left')

prone_data['min_natiurectic'] = prone_data['min_natiurectic'].fillna(0)
prone_data['max_natiurectic'] = prone_data['max_natiurectic'].fillna(0)
prone_data['avg_natiurectic'] = prone_data['avg_natiurectic'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 220615 (creatinine)
data = chartevents[chartevents['itemid'] == 220615]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
stats = data.groupby('hadm_id').agg(
    min_creatinine=('valuenum', 'min'),
    max_creatinine=('valuenum', 'max'),
    avg_creatinine=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
prone_data = prone_data.merge(stats, on='hadm_id', how='left')

prone_data['min_creatinine'] = prone_data['min_creatinine'].fillna(0)
prone_data['max_creatinine'] = prone_data['max_creatinine'].fillna(0)
prone_data['avg_creatinine'] = prone_data['avg_creatinine'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 220603 (icu_cholestrol)
data = chartevents[chartevents['itemid'] == 220603]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
stats = data.groupby('hadm_id').agg(
    min_icu_cholestrol=('valuenum', 'min'),
    max_icu_cholestrol=('valuenum', 'max'),
    avg_icu_cholestrol=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
prone_data = prone_data.merge(stats, on='hadm_id', how='left')

prone_data['min_icu_cholestrol'] = prone_data['min_icu_cholestrol'].fillna(0)
prone_data['max_icu_cholestrol'] = prone_data['max_icu_cholestrol'].fillna(0)
prone_data['avg_icu_cholestrol'] = prone_data['avg_icu_cholestrol'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 226537 (glucose)
data = chartevents[chartevents['itemid'] == 226537]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
stats = data.groupby('hadm_id').agg(
    min_glucose=('valuenum', 'min'),
    max_glucose=('valuenum', 'max'),
    avg_glucose=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
prone_data = prone_data.merge(stats, on='hadm_id', how='left')

prone_data['min_glucose'] = prone_data['min_glucose'].fillna(0)
prone_data['max_glucose'] = prone_data['max_glucose'].fillna(0)
prone_data['avg_glucose'] = prone_data['avg_glucose'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 227445 (ck_mb)
data = chartevents[chartevents['itemid'] == 227445]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
stats = data.groupby('hadm_id').agg(
    min_ck_mb=('valuenum', 'min'),
    max_ck_mb=('valuenum', 'max'),
    avg_ck_mb=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
prone_data = prone_data.merge(stats, on='hadm_id', how='left')

prone_data['min_ck_mb'] = prone_data['min_ck_mb'].fillna(0)
prone_data['max_ck_mb'] = prone_data['max_ck_mb'].fillna(0)
prone_data['avg_ck_mb'] = prone_data['avg_ck_mb'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 225634 (ck_cpk)
data = chartevents[chartevents['itemid'] == 225634]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
stats = data.groupby('hadm_id').agg(
    min_ck_cpk=('valuenum', 'min'),
    max_ck_cpk=('valuenum', 'max'),
    avg_ck_cpk=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
prone_data = prone_data.merge(stats, on='hadm_id', how='left')

prone_data['min_ck_cpk'] = prone_data['min_ck_cpk'].fillna(0)
prone_data['max_ck_cpk'] = prone_data['max_ck_cpk'].fillna(0)
prone_data['avg_ck_cpk'] = prone_data['avg_ck_cpk'].fillna(0)

In [ ]:
# Step 1: Filter chartevents for rows with itemid 228368 (c_index)
data = chartevents[chartevents['itemid'] == 228368]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
stats = data.groupby('hadm_id').agg(
    min_c_index=('valuenum', 'min'),
    max_c_index=('valuenum', 'max'),
    avg_c_index=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
prone_data = prone_data.merge(stats, on='hadm_id', how='left')

prone_data['min_c_index'] = prone_data['min_c_index'].fillna(0)
prone_data['max_c_index'] = prone_data['max_c_index'].fillna(0)
prone_data['avg_c_index'] = prone_data['avg_c_index'].fillna(0)

In [ ]:
# Add a new column 'AMI/No AMI' and assign the value 1 to all rows
prone_data['AMI/No AMI'] = 0

In [ ]:
prone_data

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,min_glucose,max_glucose,avg_glucose,min_ck_mb,max_ck_mb,avg_ck_mb,min_ck_cpk,max_ck_cpk,avg_ck_cpk,AMI/No AMI
0,18666020,23259272,2156-11-20 05:44:00,2156-11-24 16:33:00,<NA>,EW EMER.,P54RLA,EMERGENCY ROOM,HOME HEALTH CARE,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,11936434,25424317,2130-05-25 20:39:00,2130-06-02 19:00:00,<NA>,EW EMER.,P20DGX,EMERGENCY ROOM,HOME HEALTH CARE,Medicaid,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,13260794,27499028,2180-06-03 23:18:00,2180-06-06 17:22:00,<NA>,OBSERVATION ADMIT,P91RC2,EMERGENCY ROOM,HOME,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,10963517,25974873,2192-01-28 00:00:00,2192-02-05 14:21:00,<NA>,SURGICAL SAME DAY ADMISSION,P68URZ,PHYSICIAN REFERRAL,SKILLED NURSING FACILITY,Medicare,...,0.0,0.0,0.0,4.0,4.0,4.0,0.0,0.0,0.0,0
4,10209298,25515083,2141-02-11 17:28:00,2141-03-19 15:58:00,2141-03-19 15:58:00,DIRECT EMER.,P874LG,PHYSICIAN REFERRAL,DIED,Medicaid,...,96.0,96.0,96.0,2.0,4.0,3.333333,159.0,225.0,198.333333,0
5,19180767,21419288,2188-01-05 20:51:00,2188-01-06 18:43:00,<NA>,EW EMER.,P08BVE,EMERGENCY ROOM,HOME,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
6,10737866,23628892,2171-04-29 11:40:00,2171-05-04 15:45:00,<NA>,EW EMER.,P12UQ6,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7,10148145,28234938,2162-09-20 11:49:00,2162-10-02 13:31:00,<NA>,URGENT,P99698,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8,10616466,26420177,2120-02-05 19:59:00,2120-02-12 16:30:00,<NA>,OBSERVATION ADMIT,P031HZ,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9,10290028,24765023,2155-05-07 08:00:00,2155-05-22 11:20:00,<NA>,SURGICAL SAME DAY ADMISSION,P29BE6,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,...,0.0,0.0,0.0,2.0,2.0,2.0,329.0,444.0,389.333333,0
10,13078944,29277779,2141-12-04 10:35:00,2141-12-08 16:49:00,<NA>,EW EMER.,P39043,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11,11389314,26808647,2184-09-09 00:53:00,2184-09-11 12:23:00,<NA>,EW EMER.,P46PUP,EMERGENCY ROOM,HOME,Medicaid,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
12,17002221,20841689,2182-08-15 19:23:00,2182-08-19 12:53:00,<NA>,OBSERVATION ADMIT,P733ES,EMERGENCY ROOM,HOME,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
13,18449855,20066815,2114-08-19 15:58:00,2114-08-20 14:10:00,<NA>,EU OBSERVATION,P29CGZ,EMERGENCY ROOM,<NA>,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
14,15964688,23891243,2165-02-09 02:10:00,2165-02-10 21:00:00,<NA>,EW EMER.,P29CGZ,EMERGENCY ROOM,HOME HEALTH CARE,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
15,16437683,22713014,2149-04-02 19:46:00,2149-04-06 15:48:00,<NA>,EW EMER.,P75S70,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
16,12999430,26339263,2187-08-08 21:53:00,2187-08-11 18:19:00,<NA>,EW EMER.,P77EAL,EMERGENCY ROOM,HOME,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
17,18162895,28355362,2114-12-11 23:01:00,2114-12-12 14:50:00,<NA>,EU OBSERVATION,P786Y5,EMERGENCY ROOM,<NA>,Medicaid,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
18,17561076,22285610,2134-03-03 03:25:00,2134-03-05 20:00:00,<NA>,OBSERVATION ADMIT,P450WM,WALK-IN/SELF REFERRAL,HOME,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
19,14884739,22951744,2163-08-24 19:51:00,2163-08-27 14:25:00,<NA>,EW EMER.,P09IS0,EMERGENCY ROOM,HOME,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
20,11413164,26047155,2167-12-11 15:22:00,2167-12-13 17:30:00,<NA>,EW EMER.,P27SDD,EMERGENCY ROOM,HOME,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
21,16917373,21317409,2199-11-22 01:48:00,2199-11-22 10:06:00,<NA>,EU OBSERVATION,P3009T,EMERGENCY ROOM,<NA>,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
22,17522373,20846464,2147-08-21 18:41:00,2147-08-22 17:45:00,<NA>,EW EMER.,P172D4,EMERGENCY ROOM,HOME,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
23,12007928,22303971,2187-02-09 04:29:00,2187-02-14 14:19:00,<NA>,OBSERVATION ADMIT,P68U3G,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
24,15718099,22158712,2178-01-09 06:14:00,2178-01-10 16:19:00,<NA>,EU OBSERVATION,P36CPU,EMERGENCY ROOM,<NA>,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [ ]:
# Concatenate the two datasets
full_data = bf.concat([sup_data, prone_data])

In [ ]:
full_data

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,min_ck_mb,max_ck_mb,avg_ck_mb,min_ck_cpk,max_ck_cpk,avg_ck_cpk,min_c_index,max_c_index,avg_c_index,AMI/No AMI
0,15249915,25244672,2139-03-03 18:59:00,2139-03-31 17:35:00,<NA>,URGENT,P04X8Y,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicare,...,5.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,17469778,22441519,2128-11-15 03:05:00,2128-12-11 18:00:00,<NA>,EW EMER.,P48KFD,EMERGENCY ROOM,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,135.0,196.0,170.0,5088.0,31300.0,19077.75,0.0,0.0,0.0,1
2,14447847,20390421,2141-03-01 18:53:00,2141-03-04 14:00:00,<NA>,EW EMER.,P44UQI,EMERGENCY ROOM,HOME,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,11136204,25389136,2196-11-26 22:38:00,2196-12-09 15:51:00,<NA>,OBSERVATION ADMIT,P79IP0,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,12739652,25978400,2110-10-11 07:29:00,2110-10-12 20:30:00,2110-10-12 20:30:00,URGENT,P93MI7,TRANSFER FROM HOSPITAL,DIED,Medicare,...,2.0,2.0,2.0,53.0,53.0,53.0,0.0,0.0,0.0,1
5,11699868,20798077,2125-12-24 17:15:00,2125-12-27 13:30:00,<NA>,EW EMER.,P23URY,EMERGENCY ROOM,HOME,Medicare,...,6.0,6.0,6.0,116.0,116.0,116.0,0.0,0.0,0.0,1
6,19965303,22709834,2163-04-11 17:29:00,2163-04-13 15:32:00,<NA>,EW EMER.,P91RC2,EMERGENCY ROOM,HOME,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
7,17727330,24230862,2176-06-20 21:21:00,2176-06-25 15:20:00,<NA>,URGENT,P74FFH,TRANSFER FROM HOSPITAL,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,2.0,2.0,2.0,91.0,105.0,98.0,0.0,0.0,0.0,1
8,11533048,25552604,2117-04-02 23:25:00,2117-04-05 18:20:00,<NA>,OBSERVATION ADMIT,P43HX7,EMERGENCY ROOM,HOME HEALTH CARE,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
9,15710484,26736048,2186-12-19 20:04:00,2187-01-09 13:53:00,<NA>,URGENT,P44UQI,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
10,13873595,23417361,2172-11-05 17:24:00,2172-11-26 16:51:00,<NA>,EW EMER.,P09IS0,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,...,8.0,41.0,25.428571,200.0,460.0,318.8,0.0,0.0,0.0,1
11,14413724,25143811,2177-06-03 18:43:00,2177-06-08 14:26:00,<NA>,OBSERVATION ADMIT,P93MI7,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,3.0,4.0,3.666667,227.0,297.0,264.333333,0.0,0.0,0.0,1
12,15644476,24889537,2174-02-03 22:49:00,2174-03-01 17:40:00,<NA>,URGENT,P7554I,TRANSFER FROM HOSPITAL,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,6.0,6.0,6.0,22.0,37.0,29.5,0.0,0.0,0.0,1
13,12124962,23447905,2155-10-14 22:07:00,2155-10-23 14:25:00,<NA>,EW EMER.,P38V7W,EMERGENCY ROOM,SKILLED NURSING FACILITY,Other,...,9.0,14.0,11.0,395.0,912.0,589.333333,0.0,0.0,0.0,1
14,15457431,27980885,2189-08-05 21:46:00,2189-08-07 14:10:00,<NA>,EW EMER.,P132L1,EMERGENCY ROOM,HOME,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
15,12124781,27861413,2187-11-23 16:16:00,2187-12-30 14:38:00,2187-12-30 14:38:00,EW EMER.,P30KEH,EMERGENCY ROOM,DIED,Medicare,...,2.0,20.0,9.181818,98.0,3215.0,1473.357143,0.0,0.0,0.0,1
16,12007754,22791290,2154-06-27 23:38:00,2154-07-04 14:11:00,<NA>,URGENT,P99LA7,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
17,16097925,20461991,2123-02-06 02:27:00,2123-02-25 07:45:00,2123-02-25 19:11:00,EW EMER.,P99BGS,EMERGENCY ROOM,DIED,Medicaid,...,6.0,15.0,10.2,124.0,851.0,493.8,0.0,0.0,0.0,1
18,12940767,23330292,2156-02-20 23:33:00,2156-02-22 17:30:00,<NA>,EW EMER.,P637GX,PHYSICIAN REFERRAL,HOME,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
19,15803225,22177699,2164-05-30 00:10:00,2164-06-02 13:00:00,<NA>,EW EMER.,P29CGZ,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
20,17971413,21653499,2118-10-15 11:20:00,2118-10-28 13:55:00,<NA>,EW EMER.,P30KEH,EMERGENCY ROOM,REHAB,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
21,13364025,21975198,2181-02-16 20:08:00,2181-02-24 15:30:00,<NA>,URGENT,P695KR,TRANSFER FROM HOSPITAL,HOME,Other,...,2.0,3.0,2.5,92.0,109.0,100.5,0.0,0.0,0.0,1
22,10562589,22085831,2115-12-19 15:57:00,2115-12-23 16:13:00,<NA>,OBSERVATION ADMIT,P187JB,PHYSICIAN REFERRAL,HOME,Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
23,11185674,25433770,2163-07-08 11:04:00,2163-07-13 18:30:00,2163-07-13 18:30:00,EW EMER.,P44UQI,EMERGENCY ROOM,DIED,Medicare,...,17.0,28.0,22.5,263.0,414.0,338.5,0.0,0.0,0.0,1
24,19508604,28747200,2177-05-15 18:12:00,2177-05-24 14:59:00,<NA>,OBSERVATION ADMIT,P66A56,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [ ]:
# Step 1: Find the number of distinct subject_id in full_data
distinct_subject_ids = full_data['subject_id'].nunique()

# Step 2: Display the number of distinct subject_ids
print(f"Number of distinct subject_ids in full_data: {distinct_subject_ids}")

Number of distinct subject_ids in full_data: 35183

In [ ]:
# Count the number of occurrences of each subject_id
subject_id_counts = full_data['subject_id'].value_counts()

# Display counts of subject_ids that appear more than once
duplicates = subject_id_counts[subject_id_counts > 1]

print(f"Number of duplicate subject_ids: {len(duplicates)}")
print(duplicates)

Number of duplicate subject_ids: 471

subject_id
12101039    10
10108435     8
17051420     8
10702059     5
18001760     5
18203000     5
18864963     5
19131119     5
19394614     5
12881289     4
15874317     4
15919853     4
16283494     4
17959879     4
18371155     4
18631591     4
10098993     3
10404360     3
10617538     3
10702026     3
10734591     3
10751641     3
11209039     3
11456260     3
11549821     3
Name: count, dtype: Int64

In [ ]:
# Remove duplicate subject_ids, keeping only the first occurrence
full_data_cleaned = full_data.drop_duplicates(subset='subject_id', keep='first')

# Display the shape of the cleaned DataFrame
print(f"Shape of cleaned data: {full_data_cleaned.shape}")

Shape of cleaned data: (35183, 43)

In [ ]:
# Show class distribution (imbalance) in the dataset based on the 'AMI/No AMI' column
class_distribution = full_data['AMI/No AMI'].value_counts()

# Display the distribution
print(class_distribution)

AMI/No AMI
0    17881
1    17881
Name: count, dtype: Int64

In [ ]:
full_data.describe()

,subject_id,hadm_id,hospital_expire_flag,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,average_cholesterol_LDL_Measured,average_cholesterol_Total,min_natiurectic,max_natiurectic,...,min_ck_mb,max_ck_mb,avg_ck_mb,min_ck_cpk,max_ck_cpk,avg_ck_cpk,min_c_index,max_c_index,avg_c_index,AMI/No AMI
count,35762.0,35762.0,35762.0,35762.0,35762.0,35762.0,35762.0,35762.0,35762.0,35762.0,...,35762.0,35762.0,35762.0,35762.0,35762.0,35762.0,28041.0,28041.0,28041.0,35762.0
mean,15000422.537134,25020765.998602,0.084895,0.276994,2.933808,6.775041,0.921061,13.21485,370.965886,389.868436,...,4.256032,64.512798,19.620794,141.152005,489.888121,284.42066,0.044913,0.06835,0.053877,0.5
std,2887488.959813,2874443.282988,0.278729,1.200264,12.19609,28.562202,11.554293,50.118587,7995.47498,8036.274687,...,23.47643,7478.260679,1917.963644,1343.290631,9239.962453,3628.745797,0.355633,0.681566,0.422265,0.500007
min,10000084.0,20000094.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,12419767.0,22555943.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,14956117.0,25037404.0,0.0,0.015,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,17428807.0,27520164.0,0.0,0.0825,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
max,19999987.0,29999670.0,1.0,51.84,214.0,481.0,311.0,576.0,999999.0,999999.0,...,600.0,999999.0,333334.666667,90620.0,999999.0,333381.333333,6.2,48.0,9.6625,1.0

In [ ]:
# Save the final_data DataFrame as a CSV file
full_data.to_csv('full_ami_data.csv', index=False)

In [ ]:
full_data.shape

(35762, 43)

In [ ]:
final = bf.read_gbq("nimble-arcana-431708-c7.patient_cohort.final_cohort") #this variable is set based on the dataset you chose to query

/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py:3553: UserWarning: Reading cached table from 2024-10-10 22:32:03.273227+00:00 to avoid incompatibilies with previous reads of this table. To read the latest version, set `use_cache=False` or close the current session with Session.close() or bigframes.pandas.close_session().
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
patients = bf.read_gbq("physionet-data.mimiciv_hosp.patients") #this variable is set based on the dataset you chose to query

/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py:3553: UserWarning: Reading cached table from 2024-10-10 23:27:24.573885+00:00 to avoid incompatibilies with previous reads of this table. To read the latest version, set `use_cache=False` or close the current session with Session.close() or bigframes.pandas.close_session().
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
import pandas as pd

# Group by hadm_id for itemid=51003 and find minimum of charttime and storetime
timestamps = (
    elevated_troponin[elevated_troponin['itemid'] == 51003]
    .groupby(['subject_id', 'hadm_id'], as_index=False)
    .agg(
        charttime=('charttime', 'min'),
        storetime=('storetime', 'min')
    )
)

In [ ]:
timestamps

    subject_id   hadm_id            charttime            storetime
0     10000764  27897940  2132-10-15 07:45:00  2132-10-15 09:12:00
1     10000980  20897796  2193-08-15 06:40:00  2193-08-15 08:44:00
2     10000980  26913865  2189-06-27 12:58:00  2189-06-27 14:18:00
3     10000980  29654838  2188-01-03 20:43:00  2188-01-03 22:05:00
4     10001492  27463908  2136-09-24 00:15:00  2136-09-24 02:50:00
5     10001884  26184834  2131-01-10 15:03:00  2131-01-10 16:24:00
6     10001884  28664981  2130-11-29 07:45:00  2130-11-29 11:19:00
7     10002013  24760295  2160-07-11 00:09:00  2160-07-11 01:04:00
8     10002155  20345487  2131-03-10 02:04:00  2131-03-10 03:17:00
9     10002155  23822395  2129-08-04 17:56:00  2129-08-04 19:59:00
10    10002428  23473524  2156-05-11 18:52:00  2156-05-11 20:09:00
11    10002428  28662225  2156-04-20 03:30:00  2156-04-20 10:54:00
12    10002495  24982426  2141-05-22 21:23:00  2141-05-22 23:05:00
13    10003019  20962108  2176-01-12 10:40:00  2176-01-12 12:39:00
14    10003019  28836362  2181-03-04 08:13:00  2181-03-04 10:10:00
15    10003502  20459702  2166-02-16 08:09:00  2166-02-16 11:58:00
16    10003502  29011269  2169-08-27 05:51:00  2169-08-27 07:38:00
17    10003502  29460260  2163-04-13 00:55:00  2163-04-13 02:04:00
18    10003637  22082422  2146-02-19 07:35:00  2146-02-19 13:04:00
19    10004401  22869003  2144-04-05 14:39:00  2144-04-05 16:07:00
20    10004401  26488315  2144-05-16 02:26:00  2144-05-16 03:51:00
21    10004401  27939719  2144-04-11 19:07:00  2144-04-11 21:34:00
22    10004401  28154772  2143-06-20 08:00:00  2143-06-20 09:23:00
23    10004401  29988601  2144-01-23 15:55:00  2144-01-23 18:12:00
24    10004720  22081550  2186-11-13 00:30:00  2186-11-13 01:40:00
...

[38079 rows x 4 columns]

In [ ]:
print(final.dtypes)

subject_id                                     Int64
hadm_id                                        Int64
admittime             timestamp[us, tz=UTC][pyarrow]
dischtime             timestamp[us, tz=UTC][pyarrow]
deathtime             timestamp[us, tz=UTC][pyarrow]
                                   ...
max_ck_cpk_scaled                            Float64
avg_ck_cpk_scaled                            Float64
min_c_index_scaled                           Float64
max_c_index_scaled                           Float64
avg_c_index_scaled                           Float64
Length: 80, dtype: object

In [ ]:
final

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,avg_glucose_scaled,min_ck_mb_scaled,max_ck_mb_scaled,avg_ck_mb_scaled,min_ck_cpk_scaled,max_ck_cpk_scaled,avg_ck_cpk_scaled,min_c_index_scaled,max_c_index_scaled,avg_c_index_scaled
0,15144499,28969729,2144-06-07 19:55:00+00:00,2144-06-09 19:50:00+00:00,<NA>,OBSERVATION ADMIT,P80GYA,PHYSICIAN REFERRAL,HOME,Medicare,...,-0.021939,-0.182576,-0.008696,-0.010309,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
1,18725244,24275413,2186-09-12 22:40:00+00:00,2186-09-18 13:35:00+00:00,<NA>,EW EMER.,P77EAL,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,...,-0.021939,-0.182576,-0.008696,-0.010309,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
2,15618038,21390834,2168-10-02 15:04:00+00:00,2168-10-09 15:44:00+00:00,<NA>,EW EMER.,P30KEH,EMERGENCY ROOM,CHRONIC/LONG TERM ACUTE CARE,Medicare,...,-0.021939,-0.013425,-0.008166,-0.008241,-0.056056,-0.046174,-0.060513,-0.126292,-0.100285,-0.127592
3,17477876,27872441,2197-04-05 07:15:00+00:00,2197-04-06 13:35:00+00:00,<NA>,AMBULATORY OBSERVATION,P80J89,PACU,<NA>,Medicaid,...,-0.021939,-0.182576,-0.008696,-0.010309,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
4,10583681,24465993,2124-11-08 16:23:00+00:00,2124-11-10 14:25:00+00:00,<NA>,EW EMER.,P31A9M,EMERGENCY ROOM,HOME HEALTH CARE,Other,...,-0.021939,-0.182576,-0.008696,-0.010309,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
5,11417948,27658903,2186-11-29 00:00:00+00:00,2186-12-07 14:45:00+00:00,<NA>,SURGICAL SAME DAY ADMISSION,P41R5N,PHYSICIAN REFERRAL,SKILLED NURSING FACILITY,Other,...,0.076342,-0.182576,-0.008696,-0.010309,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
6,17556354,20602611,2167-09-26 16:56:00+00:00,2167-10-03 16:30:00+00:00,<NA>,EW EMER.,P03G4D,EMERGENCY ROOM,REHAB,Other,...,0.064704,-0.140288,-0.008431,-0.009448,-0.057537,-0.045423,-0.059875,-0.126292,-0.100285,-0.127592
7,11392593,20513208,2132-04-24 22:47:00+00:00,2132-05-02 15:00:00+00:00,<NA>,EW EMER.,P18I28,EMERGENCY ROOM,SKILLED NURSING FACILITY,Other,...,0.097361,0.071151,-0.007901,-0.007207,0.025394,-0.034365,-0.030433,-0.126292,-0.100285,-0.127592
8,19647910,22862928,2186-10-20 03:56:00+00:00,2186-10-26 15:00:00+00:00,<NA>,EW EMER.,P94RT6,PACU,OTHER FACILITY,Other,...,-0.021939,-0.182576,-0.008696,-0.010309,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
9,10514512,24150247,2169-01-30 22:20:00+00:00,2169-02-03 11:10:00+00:00,<NA>,EW EMER.,P04X8Y,EMERGENCY ROOM,HOSPICE,Medicare,...,-0.021939,-0.182576,-0.008696,-0.010309,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
10,19137317,22756411,2167-01-14 21:24:00+00:00,2167-02-02 17:27:00+00:00,<NA>,URGENT,P34WF1,AMBULATORY SURGERY TRANSFER,SKILLED NURSING FACILITY,Other,...,0.060372,-0.098,-0.008431,-0.009275,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
11,14928901,23803467,2130-08-12 17:42:00+00:00,2130-08-16 15:00:00+00:00,<NA>,EW EMER.,P28Z0X,EMERGENCY ROOM,HOME,Other,...,-0.021939,-0.182576,-0.008696,-0.010309,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
12,14258679,26736438,2187-09-03 20:49:00+00:00,2187-09-04 17:30:00+00:00,<NA>,EW EMER.,P12KMK,EMERGENCY ROOM,HOME,Other,...,-0.021939,-0.182576,-0.008696,-0.010309,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
13,12557215,22845638,2129-01-08 23:06:00+00:00,2129-01-12 11:08:00+00:00,<NA>,EW EMER.,P21ZEX,EMERGENCY ROOM,HOME,Other,...,-0.021939,2.143251,-0.001401,0.018134,0.236422,-0.003769,0.047501,-0.126292,-0.100285,-0.127592
14,14505788,26673382,2145-10-11 18:59:00+00:00,2145-10-13 14:06:00+00:00,<NA>,OBSERVATION ADMIT,P61Q3Q,EMERGENCY ROOM,HOME,Other,...,-0.021939,-0.182576,-0.008696,-0.010309,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
15,17793030,24110272,2140-10-23 16:36:00+00:00,2140-11-06 20:25:00+00:00,<NA>,EW EMER.,P17ARV,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,0.028492,-0.140288,-0.006839,-0.006,-0.021255,0.122052,0.160164,-0.126292,-0.100285,-0.127592
16,12335728,23896542,2140-10-15 02:45:00+00:00,2140-10-27 15:52:00+00:00,<NA>,EW EMER.,P796NT,EMERGENCY ROOM,HOME,Medicare,...,-0.021939,-0.182576,-0.008696,-0.010309,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
17,13378239,28430927,2168-10-28 04:47:00+00:00,2168-11-03 16:40:00+00:00,<NA>,OBSERVATION ADMIT,P37GX0,PHYSICIAN REFERRAL,HOSPICE,Medicare,...,-0.021939,-0.182576,-0.008696,-0.010309,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
18,12353187,22558505,2113-12-12 20:19:00+00:00,2113-12-21 14:45:00+00:00,<NA>,OBSERVATION ADMIT,P70N8P,WALK-IN/SELF REFERRAL,REHAB,Other,...,-0.021939,-0.182576,-0.008696,-0.010309,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
19,16511256,20865048,2129-11-22 14:25:00+00:00,2129-11-27 14:15:00+00:00,<NA>,URGENT,P466EI,PROCEDURE SITE,HOME HEALTH CARE,Medicaid,...,0.057239,-0.182576,-0.008696,-0.010309,-0.051613,-0.034473,-0.049393,-0.126292,-0.100285,-0.127592
20,17520507,23704981,2190-11-12 14:38:00+00:00,2190-11-27 00:00:00+00:00,2190-11-27 00:00:00+00:00,OBSERVATION ADMIT,P503K7,TRANSFER FROM HOSPITAL,DIED,Other,...,0.0787,-0.140288,-0.008564,-0.009792,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
21,14126222,25085798,2132-08-05 19:27:00+00:00,2132-08-08 14:20:00+00:00,<NA>,URGENT,P4507L,TRANSFER FROM HOSPITAL,HOME,Medicare,...,-0.021939,-0.055712,-0.007901,-0.007982,-0.050132,-0.044779,-0.057642,-0.126292,-0.100285,-0.127592
22,17866544,27123455,2195-10-02 20:05:00+00:00,2195-10-09 15:18:00+00:00,<NA>,EW EMER.,P07UJ9,TRANSFER FROM HOSPITAL,OTHER FACILITY,Medicare,...,-0.021939,0.113439,-0.007635,-0.00656,-0.044949,-0.039948,-0.048864,-0.126292,-0.100285,-0.127592
23,19035179,27653837,2194-10-26 01:39:00+00:00,2194-10-31 16:38:00+00:00,<NA>,SURGICAL SAME DAY ADMISSION,P345XU,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,...,-0.021939,-0.182576,-0.008696,-0.010309,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592
24,14953492,29177423,2144-08-06 06:09:00+00:00,2144-08-07 17:25:00+00:00,<NA>,EU OBSERVATION,P06BFR,EMERGENCY ROOM,<NA>,Other,...,-0.021939,-0.182576,-0.008696,-0.010309,-0.105666,-0.053367,-0.078834,-0.126292,-0.100285,-0.127592

In [ ]:
# Specify the columns to drop
columns_to_drop = ['admittime', 'dischtime', 'deathtime','edregtime', 'edouttime']

# Drop the specified columns from the final DataFrame
final = final.drop(columns=columns_to_drop)

# Verify the changes
print(final.columns)  # Display the remaining columns in the DataFrame

Index(['subject_id', 'hadm_id', 'admission_type', 'admit_provider_id',
       'admission_location', 'discharge_location', 'insurance', 'language',
       'marital_status', 'race', 'hospital_expire_flag',
       'average_troponin_level', 'average_cholesterol_HDL',
       'average_cholesterol_LDL_Calculated',
       'average_cholesterol_LDL_Measured', 'average_cholesterol_Total',
       'min_natiurectic', 'max_natiurectic', 'avg_natiurectic',
       'min_creatinine', 'max_creatinine', 'avg_creatinine',
       'min_icu_cholestrol', 'max_icu_cholestrol', 'avg_icu_cholestrol',
       'min_glucose', 'max_glucose', 'avg_glucose', 'min_ck_mb', 'max_ck_mb',
       'avg_ck_mb', 'min_ck_cpk', 'max_ck_cpk', 'avg_ck_cpk', 'min_c_index',
       'max_c_index', 'avg_c_index', 'AMI_No_AMI', 'troponin_level_category',
       'hdl_cholesterol_category', 'ldl_cholesterol_calculated_category',
       'ldl_cholesterol_measured_category', 'total_cholesterol_category',
       'natiuretic_category', 'creatinine_category', 'glucose_category',
       'ck_mb_category', 'ck_cpk_category', 'c_index_category',
       'average_troponin_level_scaled', 'average_cholesterol_HDL_scaled',
       'average_cholesterol_LDL_Calculated_scaled',
       'average_cholesterol_LDL_Measured_scaled',
       'average_cholesterol_Total_scaled', 'min_natiurectic_scaled',
       'max_natiurectic_scaled', 'avg_natiurectic_scaled',
       'min_creatinine_scaled', 'max_creatinine_scaled',
       'avg_creatinine_scaled', 'min_icu_cholestrol_scaled',
       'max_icu_cholestrol_scaled', 'avg_icu_cholestrol_scaled',
       'min_glucose_scaled', 'max_glucose_scaled', 'avg_glucose_scaled',
       'min_ck_mb_scaled', 'max_ck_mb_scaled', 'avg_ck_mb_scaled',
       'min_ck_cpk_scaled', 'max_ck_cpk_scaled', 'avg_ck_cpk_scaled',
       'min_c_index_scaled', 'max_c_index_scaled', 'avg_c_index_scaled'],
      dtype='object')

In [ ]:
# Assuming 'admissions' and 'final' are your DataFrames

# Perform the join on 'hadm_id' and keep specified columns from admissions
final_with_admissions = final.merge(
    admissions[['hadm_id', 'admittime', 'dischtime', 'deathtime', 'edregtime', 'edouttime']],
    on='hadm_id',
    how='left'  # Use 'left' join to keep all records from final
)

# Display the first few rows of the resulting DataFrame
print(final_with_admissions.head())

   subject_id   hadm_id          admission_type admit_provider_id  \
0    15144499  28969729       OBSERVATION ADMIT            P80GYA
1    18725244  24275413                EW EMER.            P77EAL
2    15618038  21390834                EW EMER.            P30KEH
3    17477876  27872441  AMBULATORY OBSERVATION            P80J89
4    10583681  24465993                EW EMER.            P31A9M

   admission_location            discharge_location insurance language  \
0  PHYSICIAN REFERRAL                          HOME  Medicare  ENGLISH
1      EMERGENCY ROOM      SKILLED NURSING FACILITY  Medicare  ENGLISH
2      EMERGENCY ROOM  CHRONIC/LONG TERM ACUTE CARE  Medicare  ENGLISH
3                PACU                          <NA>  Medicaid  ENGLISH
4      EMERGENCY ROOM              HOME HEALTH CARE     Other  ENGLISH

  marital_status                    race  ...  max_ck_cpk_scaled  \
0        MARRIED  WHITE - OTHER EUROPEAN  ...          -0.053367
1        MARRIED                   WHITE  ...          -0.053367
2        WIDOWED                   WHITE  ...          -0.046174
3         SINGLE  BLACK/AFRICAN AMERICAN  ...          -0.053367
4       DIVORCED                   WHITE  ...          -0.053367

   avg_ck_cpk_scaled  min_c_index_scaled  max_c_index_scaled  \
0          -0.078834           -0.126292           -0.100285
1          -0.078834           -0.126292           -0.100285
2          -0.060513           -0.126292           -0.100285
3          -0.078834           -0.126292           -0.100285
4          -0.078834           -0.126292           -0.100285

   avg_c_index_scaled            admittime            dischtime  deathtime  \
0           -0.127592  2144-06-07 19:55:00  2144-06-09 19:50:00       <NA>
1           -0.127592  2186-09-12 22:40:00  2186-09-18 13:35:00       <NA>
2           -0.127592  2168-10-02 15:04:00  2168-10-09 15:44:00       <NA>
3           -0.127592  2197-04-05 07:15:00  2197-04-06 13:35:00       <NA>
4           -0.127592  2124-11-08 16:23:00  2124-11-10 14:25:00       <NA>

             edregtime            edouttime
0                 <NA>                 <NA>
1  2186-09-12 18:15:00  2186-09-12 23:50:00
2  2168-10-02 11:45:00  2168-10-02 16:09:00
3                 <NA>                 <NA>
4  2124-11-08 14:37:00  2124-11-08 18:49:00

[5 rows x 80 columns]

In [ ]:
# Perform the join on 'hadm_id' to get charttime and storetime from timestamps
final_with_timestamps = final_with_admissions.merge(
    timestamps[['subject_id', 'charttime', 'storetime']],
    on='subject_id',
    how='left'  # Use 'left' join to keep all records from final_with_admissions
)
final_with_timestamps

,subject_id,hadm_id,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,...,min_c_index_scaled,max_c_index_scaled,avg_c_index_scaled,admittime,dischtime,deathtime,edregtime,edouttime,charttime,storetime
0,15144499,28969729,OBSERVATION ADMIT,P80GYA,PHYSICIAN REFERRAL,HOME,Medicare,ENGLISH,MARRIED,WHITE - OTHER EUROPEAN,...,-0.126292,-0.100285,-0.127592,2144-06-07 19:55:00,2144-06-09 19:50:00,<NA>,<NA>,<NA>,<NA>,<NA>
1,18725244,24275413,EW EMER.,P77EAL,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,ENGLISH,MARRIED,WHITE,...,-0.126292,-0.100285,-0.127592,2186-09-12 22:40:00,2186-09-18 13:35:00,<NA>,2186-09-12 18:15:00,2186-09-12 23:50:00,2186-09-15 06:40:00,2186-09-15 08:33:00
2,15618038,21390834,EW EMER.,P30KEH,EMERGENCY ROOM,CHRONIC/LONG TERM ACUTE CARE,Medicare,ENGLISH,WIDOWED,WHITE,...,-0.126292,-0.100285,-0.127592,2168-10-02 15:04:00,2168-10-09 15:44:00,<NA>,2168-10-02 11:45:00,2168-10-02 16:09:00,2168-10-02 20:20:00,2168-10-02 21:28:00
3,17477876,27872441,AMBULATORY OBSERVATION,P80J89,PACU,<NA>,Medicaid,ENGLISH,SINGLE,BLACK/AFRICAN AMERICAN,...,-0.126292,-0.100285,-0.127592,2197-04-05 07:15:00,2197-04-06 13:35:00,<NA>,<NA>,<NA>,<NA>,<NA>
4,10583681,24465993,EW EMER.,P31A9M,EMERGENCY ROOM,HOME HEALTH CARE,Other,ENGLISH,DIVORCED,WHITE,...,-0.126292,-0.100285,-0.127592,2124-11-08 16:23:00,2124-11-10 14:25:00,<NA>,2124-11-08 14:37:00,2124-11-08 18:49:00,<NA>,<NA>
5,11417948,27658903,SURGICAL SAME DAY ADMISSION,P41R5N,PHYSICIAN REFERRAL,SKILLED NURSING FACILITY,Other,ENGLISH,DIVORCED,WHITE,...,-0.126292,-0.100285,-0.127592,2186-11-29 00:00:00,2186-12-07 14:45:00,<NA>,<NA>,<NA>,<NA>,<NA>
6,17556354,20602611,EW EMER.,P03G4D,EMERGENCY ROOM,REHAB,Other,ENGLISH,WIDOWED,WHITE,...,-0.126292,-0.100285,-0.127592,2167-09-26 16:56:00,2167-10-03 16:30:00,<NA>,2167-09-26 14:30:00,2167-09-26 18:36:00,<NA>,<NA>
7,11392593,20513208,EW EMER.,P18I28,EMERGENCY ROOM,SKILLED NURSING FACILITY,Other,ENGLISH,SINGLE,BLACK/AFRICAN AMERICAN,...,-0.126292,-0.100285,-0.127592,2132-04-24 22:47:00,2132-05-02 15:00:00,<NA>,2132-04-24 15:08:00,2132-04-25 01:33:00,2132-04-27 14:44:00,2132-04-27 15:57:00
8,19647910,22862928,EW EMER.,P94RT6,PACU,OTHER FACILITY,Other,ENGLISH,SINGLE,BLACK/AFRICAN,...,-0.126292,-0.100285,-0.127592,2186-10-20 03:56:00,2186-10-26 15:00:00,<NA>,<NA>,<NA>,<NA>,<NA>
9,10514512,24150247,EW EMER.,P04X8Y,EMERGENCY ROOM,HOSPICE,Medicare,ENGLISH,SINGLE,WHITE,...,-0.126292,-0.100285,-0.127592,2169-01-30 22:20:00,2169-02-03 11:10:00,<NA>,2169-01-30 15:32:00,2169-01-31 00:20:00,2169-01-31 03:45:00,2169-01-31 11:00:00
10,19137317,22756411,URGENT,P34WF1,AMBULATORY SURGERY TRANSFER,SKILLED NURSING FACILITY,Other,ENGLISH,MARRIED,WHITE,...,-0.126292,-0.100285,-0.127592,2167-01-14 21:24:00,2167-02-02 17:27:00,<NA>,2167-01-14 18:45:00,2167-01-14 22:41:00,2167-01-17 01:47:00,2167-01-17 03:00:00
11,14928901,23803467,EW EMER.,P28Z0X,EMERGENCY ROOM,HOME,Other,ENGLISH,MARRIED,WHITE,...,-0.126292,-0.100285,-0.127592,2130-08-12 17:42:00,2130-08-16 15:00:00,<NA>,2130-08-12 13:53:00,2130-08-12 18:58:00,<NA>,<NA>
12,14258679,26736438,EW EMER.,P12KMK,EMERGENCY ROOM,HOME,Other,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,...,-0.126292,-0.100285,-0.127592,2187-09-03 20:49:00,2187-09-04 17:30:00,<NA>,2187-09-03 17:05:00,2187-09-03 21:53:00,<NA>,<NA>
13,12557215,22845638,EW EMER.,P21ZEX,EMERGENCY ROOM,HOME,Other,ENGLISH,UNKNOWN,UNKNOWN,...,-0.126292,-0.100285,-0.127592,2129-01-08 23:06:00,2129-01-12 11:08:00,<NA>,<NA>,<NA>,2129-01-09 00:17:00,2129-01-09 01:50:00
14,14505788,26673382,OBSERVATION ADMIT,P61Q3Q,EMERGENCY ROOM,HOME,Other,ENGLISH,SINGLE,WHITE,...,-0.126292,-0.100285,-0.127592,2145-10-11 18:59:00,2145-10-13 14:06:00,<NA>,2145-10-11 10:39:00,2145-10-11 20:10:00,2145-10-12 05:50:00,2145-10-12 08:13:00
15,17793030,24110272,EW EMER.,P17ARV,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,ENGLISH,MARRIED,WHITE,...,-0.126292,-0.100285,-0.127592,2140-10-23 16:36:00,2140-11-06 20:25:00,<NA>,2140-10-23 15:22:00,2140-10-23 16:56:00,2140-10-23 19:25:00,2140-10-23 20:18:00
16,12335728,23896542,EW EMER.,P796NT,EMERGENCY ROOM,HOME,Medicare,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,...,-0.126292,-0.100285,-0.127592,2140-10-15 02:45:00,2140-10-27 15:52:00,<NA>,2140-10-14 22:49:00,2140-10-15 03:45:00,2140-10-20 01:30:00,2140-10-20 02:15:00
17,13378239,28430927,OBSERVATION ADMIT,P37GX0,PHYSICIAN REFERRAL,HOSPICE,Medicare,ENGLISH,MARRIED,WHITE,...,-0.126292,-0.100285,-0.127592,2168-10-28 04:47:00,2168-11-03 16:40:00,<NA>,2168-10-28 00:53:00,2168-10-28 07:04:00,<NA>,<NA>
18,12353187,22558505,OBSERVATION ADMIT,P70N8P,WALK-IN/SELF REFERRAL,REHAB,Other,ENGLISH,MARRIED,ASIAN - CHINESE,...,-0.126292,-0.100285,-0.127592,2113-12-12 20:19:00,2113-12-21 14:45:00,<NA>,2113-12-12 09:03:00,2113-12-13 00:40:00,2113-12-13 06:05:00,2113-12-13 07:35:00
19,16511256,20865048,URGENT,P466EI,PROCEDURE SITE,HOME HEALTH CARE,Medicaid,ENGLISH,SINGLE,WHITE,...,-0.126292,-0.100285,-0.127592,2129-11-22 14:25:00,2129-11-27 14:15:00,<NA>,<NA>,<NA>,2129-11-22 16:39:00,2129-11-22 18:36:00
20,17520507,23704981,OBSERVATION ADMIT,P503K7,TRANSFER FROM HOSPITAL,DIED,Other,ENGLISH,MARRIED,WHITE,...,-0.126292,-0.100285,-0.127592,2190-11-12 14:38:00,2190-11-27 00:00:00,2190-11-27 00:00:00,2190-11-12 10:53:00,2190-11-12 15:44:00,2190-11-12 17:15:00,2190-11-12 18:16:00
21,14126222,25085798,URGENT,P4507L,TRANSFER FROM HOSPITAL,HOME,Medicare,ENGLISH,UNKNOWN,UNKNOWN,...,-0.126292,-0.100285,-0.127592,2132-08-05 19:27:00,2132-08-08 14:20:00,<NA>,<NA>,<NA>,2132-08-06 04:26:00,2132-08-06 06:05:00
22,17866544,27123455,EW EMER.,P07UJ9,TRANSFER FROM HOSPITAL,OTHER FACILITY,Medicare,ENGLISH,SINGLE,WHITE,...,-0.126292,-0.100285,-0.127592,2195-10-02 20:05:00,2195-10-09 15:18:00,<NA>,2195-10-02 15:27:00,2195-10-02 21:22:00,2195-05-16 04:06:00,2195-05-16 05:37:00
23,17866544,27123455,EW EMER.,P07UJ9,TRANSFER FROM HOSPITAL,OTHER FACILITY,Medicare,ENGLISH,SINGLE,WHITE,...,-0.126292,-0.100285,-0.127592,2195-10-02 20:05:00,2195-10-09 15:18:00,<NA>,2195-10-02 15:27:00,2195-10-02 21:22:00,2195-10-03 02:56:00,2195-10-03 03:57:00
24,19035179,27653837,SURGICAL SAME DAY ADMISSION,P345XU,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,ENGLISH,SINGLE,WHITE,...,-0.126292,-0.100285,-0.127592,2194-10-26 01:39:00,2194-10-31 16:38:00,<NA>,<NA>,<NA>,<NA>,<NA>

In [ ]:
final_with_timestamps.columns

Index(['subject_id', 'hadm_id', 'admission_type', 'admit_provider_id',
       'admission_location', 'discharge_location', 'insurance', 'language',
       'marital_status', 'race', 'hospital_expire_flag',
       'average_troponin_level', 'average_cholesterol_HDL',
       'average_cholesterol_LDL_Calculated',
       'average_cholesterol_LDL_Measured', 'average_cholesterol_Total',
       'min_natiurectic', 'max_natiurectic', 'avg_natiurectic',
       'min_creatinine', 'max_creatinine', 'avg_creatinine',
       'min_icu_cholestrol', 'max_icu_cholestrol', 'avg_icu_cholestrol',
       'min_glucose', 'max_glucose', 'avg_glucose', 'min_ck_mb', 'max_ck_mb',
       'avg_ck_mb', 'min_ck_cpk', 'max_ck_cpk', 'avg_ck_cpk', 'min_c_index',
       'max_c_index', 'avg_c_index', 'AMI_No_AMI', 'troponin_level_category',
       'hdl_cholesterol_category', 'ldl_cholesterol_calculated_category',
       'ldl_cholesterol_measured_category', 'total_cholesterol_category',
       'natiuretic_category', 'creatinine_category', 'glucose_category',
       'ck_mb_category', 'ck_cpk_category', 'c_index_category',
       'average_troponin_level_scaled', 'average_cholesterol_HDL_scaled',
       'average_cholesterol_LDL_Calculated_scaled',
       'average_cholesterol_LDL_Measured_scaled',
       'average_cholesterol_Total_scaled', 'min_natiurectic_scaled',
       'max_natiurectic_scaled', 'avg_natiurectic_scaled',
       'min_creatinine_scaled', 'max_creatinine_scaled',
       'avg_creatinine_scaled', 'min_icu_cholestrol_scaled',
       'max_icu_cholestrol_scaled', 'avg_icu_cholestrol_scaled',
       'min_glucose_scaled', 'max_glucose_scaled', 'avg_glucose_scaled',
       'min_ck_mb_scaled', 'max_ck_mb_scaled', 'avg_ck_mb_scaled',
       'min_ck_cpk_scaled', 'max_ck_cpk_scaled', 'avg_ck_cpk_scaled',
       'min_c_index_scaled', 'max_c_index_scaled', 'avg_c_index_scaled',
       'admittime', 'dischtime', 'deathtime', 'edregtime', 'edouttime',
       'charttime', 'storetime'],
      dtype='object')

In [ ]:
# Define the new column order
new_column_order = [
    'subject_id', 'hadm_id', 'admittime', 'dischtime', 'deathtime',
    'admission_type', 'admit_provider_id', 'admission_location',
    'discharge_location', 'insurance', 'language', 'marital_status',
    'race', 'edregtime', 'edouttime', 'hospital_expire_flag',
    'charttime', 'storetime', 'average_troponin_level',
    'average_cholesterol_HDL', 'average_cholesterol_LDL_Calculated',
    'average_cholesterol_LDL_Measured', 'average_cholesterol_Total',
    'min_natiurectic', 'max_natiurectic', 'avg_natiurectic',
    'min_creatinine', 'max_creatinine', 'avg_creatinine',
    'min_icu_cholestrol', 'max_icu_cholestrol', 'avg_icu_cholestrol',
    'min_glucose', 'max_glucose', 'avg_glucose', 'min_ck_mb',
    'max_ck_mb', 'avg_ck_mb', 'min_ck_cpk', 'max_ck_cpk',
    'avg_ck_cpk', 'min_c_index', 'max_c_index', 'avg_c_index',
    'troponin_level_category', 'hdl_cholesterol_category',
    'ldl_cholesterol_calculated_category', 'ldl_cholesterol_measured_category',
    'total_cholesterol_category', 'natiuretic_category', 'creatinine_category',
    'glucose_category', 'ck_mb_category', 'ck_cpk_category',
    'c_index_category', 'average_troponin_level_scaled',
    'average_cholesterol_HDL_scaled', 'average_cholesterol_LDL_Calculated_scaled',
    'average_cholesterol_LDL_Measured_scaled', 'average_cholesterol_Total_scaled',
    'min_natiurectic_scaled', 'max_natiurectic_scaled',
    'avg_natiurectic_scaled', 'min_creatinine_scaled',
    'max_creatinine_scaled', 'avg_creatinine_scaled',
    'min_icu_cholestrol_scaled', 'max_icu_cholestrol_scaled',
    'avg_icu_cholestrol_scaled', 'min_glucose_scaled',
    'max_glucose_scaled', 'avg_glucose_scaled',
    'min_ck_mb_scaled', 'max_ck_mb_scaled', 'avg_ck_mb_scaled',
    'min_ck_cpk_scaled', 'max_ck_cpk_scaled', 'avg_ck_cpk_scaled',
    'min_c_index_scaled', 'max_c_index_scaled', 'avg_c_index_scaled', 'AMI_No_AMI'
]

# Reindex the DataFrame with the new column order
final_with_timestamps = final_with_timestamps.reindex(columns=new_column_order)

# Check the new column order
print(final_with_timestamps.columns)

Index(['subject_id', 'hadm_id', 'admittime', 'dischtime', 'deathtime',
       'admission_type', 'admit_provider_id', 'admission_location',
       'discharge_location', 'insurance', 'language', 'marital_status', 'race',
       'edregtime', 'edouttime', 'hospital_expire_flag', 'charttime',
       'storetime', 'average_troponin_level', 'average_cholesterol_HDL',
       'average_cholesterol_LDL_Calculated',
       'average_cholesterol_LDL_Measured', 'average_cholesterol_Total',
       'min_natiurectic', 'max_natiurectic', 'avg_natiurectic',
       'min_creatinine', 'max_creatinine', 'avg_creatinine',
       'min_icu_cholestrol', 'max_icu_cholestrol', 'avg_icu_cholestrol',
       'min_glucose', 'max_glucose', 'avg_glucose', 'min_ck_mb', 'max_ck_mb',
       'avg_ck_mb', 'min_ck_cpk', 'max_ck_cpk', 'avg_ck_cpk', 'min_c_index',
       'max_c_index', 'avg_c_index', 'troponin_level_category',
       'hdl_cholesterol_category', 'ldl_cholesterol_calculated_category',
       'ldl_cholesterol_measured_category', 'total_cholesterol_category',
       'natiuretic_category', 'creatinine_category', 'glucose_category',
       'ck_mb_category', 'ck_cpk_category', 'c_index_category',
       'average_troponin_level_scaled', 'average_cholesterol_HDL_scaled',
       'average_cholesterol_LDL_Calculated_scaled',
       'average_cholesterol_LDL_Measured_scaled',
       'average_cholesterol_Total_scaled', 'min_natiurectic_scaled',
       'max_natiurectic_scaled', 'avg_natiurectic_scaled',
       'min_creatinine_scaled', 'max_creatinine_scaled',
       'avg_creatinine_scaled', 'min_icu_cholestrol_scaled',
       'max_icu_cholestrol_scaled', 'avg_icu_cholestrol_scaled',
       'min_glucose_scaled', 'max_glucose_scaled', 'avg_glucose_scaled',
       'min_ck_mb_scaled', 'max_ck_mb_scaled', 'avg_ck_mb_scaled',
       'min_ck_cpk_scaled', 'max_ck_cpk_scaled', 'avg_ck_cpk_scaled',
       'min_c_index_scaled', 'max_c_index_scaled', 'avg_c_index_scaled',
       'AMI_No_AMI'],
      dtype='object')

In [ ]:
# Save the DataFrame as a CSV file
final_with_timestamps.to_csv('final_with_timestamps.csv', index=False)

In [ ]:
fin_tim = bf.read_gbq("nimble-arcana-431708-c7.patient_cohort.train_time") #this variable is set based on the dataset you chose to query

WARNING: google.colab.auth.authenticate_user() is not supported in Colab Enterprise.

In [ ]:
fin_tim

,int64_field_0,subject_id,hadm_id,admittime,stay_time,Death,reg_time,hospital_expire_flag,average_troponin_level,average_cholesterol_HDL,...,min_ck_mb_category_numeric,max_ck_mb_category_numeric,avg_ck_mb_category_numeric,min_ck_cpk_category_numeric,max_ck_cpk_category_numeric,avg_ck_cpk_category_numeric,min_c_index_category_numeric,max_c_index_category_numeric,avg_c_index_category_numeric,AMI_No_AMI
0,17135,11668452.0,21400255.0,2138-07-09 17:59:00+00:00,1551660.0,1.0,0.0,1.0,0.33,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1,9285,11443830.0,24853682.0,2136-05-10 19:26:00+00:00,155940.0,0.0,12480.0,0.0,0.15,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,11641,11225885.0,21268249.0,2157-01-20 06:07:00+00:00,1676280.0,0.0,0.0,0.0,0.03,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4352,17759883.0,27485767.0,2156-09-26 19:22:00+00:00,239280.0,0.0,17880.0,0.0,0.035,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,16810,16303684.0,28517136.0,2149-12-01 00:00:00+00:00,481800.0,0.0,0.0,0.0,0.075,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,35155,17913794.0,21725859.0,2141-09-17 13:53:00+00:00,177120.0,0.0,16440.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,9205,12843379.0,22930953.0,2143-05-24 11:46:00+00:00,1479240.0,0.0,14580.0,0.0,0.03,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
7,33156,11300822.0,27933210.0,2122-05-01 20:29:00+00:00,1975800.0,0.0,44880.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,8040,11282159.0,28873235.0,2154-06-07 09:55:00+00:00,461400.0,0.0,38160.0,0.0,0.18,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,20259,11503717.0,21337955.0,2157-04-27 20:13:00+00:00,319620.0,0.0,29820.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,28891,17150269.0,20045301.0,2144-05-04 19:00:00+00:00,504900.0,0.0,17160.0,0.0,0.01,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,14438,15831045.0,25898715.0,2173-11-26 20:20:00+00:00,142740.0,0.0,86220.0,0.0,0.046667,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12,17035,12831424.0,27096994.0,2190-03-09 19:30:00+00:00,334500.0,0.0,18060.0,0.0,0.04,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13,1759,10598267.0,28232814.0,2136-01-02 03:15:00+00:00,1079700.0,0.0,6900.0,0.0,0.02,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
14,12069,10326078.0,23912064.0,2111-09-02 04:49:00+00:00,1585260.0,0.0,67740.0,0.0,0.0525,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
15,21914,15372856.0,24181984.0,2113-11-26 22:13:00+00:00,653520.0,0.0,15060.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,6194,10835634.0,22200574.0,2176-07-16 18:39:00+00:00,181260.0,0.0,0.0,0.0,3.55,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17,27362,17382202.0,20865773.0,2165-12-18 07:15:00+00:00,212100.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,26302,11629754.0,27885249.0,2153-04-06 17:36:00+00:00,171240.0,0.0,7560.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,11926,12805345.0,23251605.0,2136-01-29 22:07:00+00:00,332160.0,0.0,0.0,0.0,0.043333,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
20,8860,15754949.0,20628554.0,2142-02-06 16:53:00+00:00,240420.0,0.0,7320.0,0.0,0.156667,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
21,5244,14275781.0,25093856.0,2173-07-05 23:44:00+00:00,747960.0,0.0,9060.0,0.0,0.1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
22,13013,18860097.0,26748189.0,2133-09-11 19:14:00+00:00,1545240.0,0.0,22260.0,0.0,0.15,0.0,...,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
23,14235,13027516.0,24161720.0,2175-01-09 06:48:00+00:00,124320.0,0.0,85200.0,0.0,0.033333,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
24,34968,19011264.0,29791780.0,2144-12-27 14:29:00+00:00,3637560.0,0.0,18240.0,0.0,0.0,37.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Perform a left join between 'fin_tim' and 'timestamps' on 'subject_id'
fin_tim = fin_tim.merge(timestamps[['subject_id', 'charttime', 'storetime']],
                         on='subject_id', how='left')
# Display the updated 'fin_tim' dataframe
fin_tim

NameError: name 'timestamps' is not defined

In [ ]:
fin_tim.columns

Index(['int64_field_0', 'subject_id', 'hadm_id', 'admittime', 'stay_time',
       'Death', 'reg_time', 'hospital_expire_flag', 'average_troponin_level',
       'average_cholesterol_HDL', 'average_cholesterol_LDL_Calculated',
       'average_cholesterol_LDL_Measured', 'average_cholesterol_Total',
       'min_natiurectic', 'max_natiurectic', 'avg_natiurectic',
       'min_creatinine', 'max_creatinine', 'avg_creatinine',
       'min_icu_cholestrol', 'max_icu_cholestrol', 'avg_icu_cholestrol',
       'min_glucose', 'max_glucose', 'avg_glucose', 'min_ck_mb', 'max_ck_mb',
       'avg_ck_mb', 'min_ck_cpk', 'max_ck_cpk', 'avg_ck_cpk', 'min_c_index',
       'max_c_index', 'avg_c_index', 'average_troponin_level_category_numeric',
       'average_cholesterol_HDL_category_numeric',
       'average_cholesterol_LDL_Calculated_category_numeric',
       'average_cholesterol_LDL_Measured_category_numeric',
       'average_cholesterol_Total_category_numeric',
       'min_natiurectic_category_numeric', 'max_natiurectic_category_numeric',
       'avg_natiurectic_category_numeric', 'min_creatinine_category_numeric',
       'max_creatinine_category_numeric', 'avg_creatinine_category_numeric',
       'min_icu_cholestrol_category_numeric',
       'max_icu_cholestrol_category_numeric',
       'avg_icu_cholestrol_category_numeric', 'min_glucose_category_numeric',
       'max_glucose_category_numeric', 'avg_glucose_category_numeric',
       'min_ck_mb_category_numeric', 'max_ck_mb_category_numeric',
       'avg_ck_mb_category_numeric', 'min_ck_cpk_category_numeric',
       'max_ck_cpk_category_numeric', 'avg_ck_cpk_category_numeric',
       'min_c_index_category_numeric', 'max_c_index_category_numeric',
       'avg_c_index_category_numeric', 'AMI_No_AMI', 'charttime', 'storetime'],
      dtype='object')

In [ ]:
# Define the desired column order
desired_column_order = [
    'int64_field_0', 'subject_id', 'hadm_id', 'admittime', 'stay_time',
    'Death', 'reg_time', 'hospital_expire_flag', 'charttime', 'storetime',
    'average_troponin_level', 'average_cholesterol_HDL',
    'average_cholesterol_LDL_Calculated', 'average_cholesterol_LDL_Measured',
    'average_cholesterol_Total', 'min_natiurectic', 'max_natiurectic',
    'avg_natiurectic', 'min_creatinine', 'max_creatinine',
    'avg_creatinine', 'min_icu_cholestrol', 'max_icu_cholestrol',
    'avg_icu_cholestrol', 'min_glucose', 'max_glucose', 'avg_glucose',
    'min_ck_mb', 'max_ck_mb', 'avg_ck_mb', 'min_ck_cpk',
    'max_ck_cpk', 'avg_ck_cpk', 'min_c_index', 'max_c_index',
    'avg_c_index', 'average_troponin_level_category_numeric',
    'average_cholesterol_HDL_category_numeric',
    'average_cholesterol_LDL_Calculated_category_numeric',
    'average_cholesterol_LDL_Measured_category_numeric',
    'average_cholesterol_Total_category_numeric',
    'min_natiurectic_category_numeric',
    'max_natiurectic_category_numeric', 'avg_natiurectic_category_numeric',
    'min_creatinine_category_numeric', 'max_creatinine_category_numeric',
    'avg_creatinine_category_numeric', 'min_icu_cholestrol_category_numeric',
    'max_icu_cholestrol_category_numeric', 'avg_icu_cholestrol_category_numeric',
    'min_glucose_category_numeric', 'max_glucose_category_numeric',
    'avg_glucose_category_numeric', 'min_ck_mb_category_numeric',
    'max_ck_mb_category_numeric', 'avg_ck_mb_category_numeric',
    'min_ck_cpk_category_numeric', 'max_ck_cpk_category_numeric',
    'avg_ck_cpk_category_numeric', 'min_c_index_category_numeric',
    'max_c_index_category_numeric', 'avg_c_index_category_numeric',
    'AMI_No_AMI'
]

# Reorder the columns in fin_tim
fin_tim = fin_tim[desired_column_order]

# Display the reordered DataFrame
fin_tim

KeyError: 'charttime'

In [ ]:
# Save the DataFrame as a CSV file
fin_tim.to_csv('train_timestamps.csv', index=False)

In [ ]:
import os

# Get the current working directory
current_directory = os.getcwd()
print(current_directory)

/content

## Blood Pressure and heart rate

In [ ]:
fun_time = bf.read_gbq("nimble-arcana-431708-c7.patient_cohort.train_timestamps")

In [ ]:
icd = bf.read_gbq("physionet-data.mimiciv_hosp.diagnoses_icd") #this variable is set based on the dataset you chose to query

### Arterial Systolic

In [ ]:
# Step 1: Filter chartevents for rows with itemid 220615 (Creatinine)
abp_data = chartevents[chartevents['itemid'] == 220050]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
abp_stats = abp_data.groupby('hadm_id').agg(
    min_abp=('valuenum', 'min'),
    max_abp=('valuenum', 'max'),
    avg_abp=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
fin_tim = fin_tim.merge(abp_stats, on='hadm_id', how='left')

In [ ]:
# Step 4: Replace missing values (NaN) with 0 for each column individually in the final_data
fin_tim['min_abp'] = fin_tim['min_abp'].fillna(0)
fin_tim['max_abp'] = fin_tim['max_abp'].fillna(0)
fin_tim['avg_abp'] = fin_tim['avg_abp'].fillna(0)

# Display the updated final_data DataFrame
fin_tim

,subject_id,hadm_id,admittime,stay_time,Death,reg_time,hospital_expire_flag,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,...,min_ck_cpk_category_numeric,max_ck_cpk_category_numeric,avg_ck_cpk_category_numeric,min_c_index_category_numeric,max_c_index_category_numeric,avg_c_index_category_numeric,AMI_No_AMI,min_abp,max_abp,avg_abp
0,11668452.0,21400255.0,2138-07-09 17:59:00+00:00,1551660.0,1.0,0.0,1.0,0.33,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,171.0,112.218978
1,11443830.0,24853682.0,2136-05-10 19:26:00+00:00,155940.0,0.0,12480.0,0.0,0.15,0.0,130.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,11225885.0,21268249.0,2157-01-20 06:07:00+00:00,1676280.0,0.0,0.0,0.0,0.03,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,17759883.0,27485767.0,2156-09-26 19:22:00+00:00,239280.0,0.0,17880.0,0.0,0.035,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,16303684.0,28517136.0,2149-12-01 00:00:00+00:00,481800.0,0.0,0.0,0.0,0.075,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,17913794.0,21725859.0,2141-09-17 13:53:00+00:00,177120.0,0.0,16440.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,12843379.0,22930953.0,2143-05-24 11:46:00+00:00,1479240.0,0.0,14580.0,0.0,0.03,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,86.0,151.0,122.764706
7,11300822.0,27933210.0,2122-05-01 20:29:00+00:00,1975800.0,0.0,44880.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,11282159.0,28873235.0,2154-06-07 09:55:00+00:00,461400.0,0.0,38160.0,0.0,0.18,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,72.0,152.0,124.072727
9,11503717.0,21337955.0,2157-04-27 20:13:00+00:00,319620.0,0.0,29820.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,17150269.0,20045301.0,2144-05-04 19:00:00+00:00,504900.0,0.0,17160.0,0.0,0.01,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,15831045.0,25898715.0,2173-11-26 20:20:00+00:00,142740.0,0.0,86220.0,0.0,0.046667,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12,12831424.0,27096994.0,2190-03-09 19:30:00+00:00,334500.0,0.0,18060.0,0.0,0.04,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
13,10598267.0,28232814.0,2136-01-02 03:15:00+00:00,1079700.0,0.0,6900.0,0.0,0.02,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,1.0,75.0,146.0,103.513889
14,10326078.0,23912064.0,2111-09-02 04:49:00+00:00,1585260.0,0.0,67740.0,0.0,0.0525,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
15,15372856.0,24181984.0,2113-11-26 22:13:00+00:00,653520.0,0.0,15060.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,10835634.0,22200574.0,2176-07-16 18:39:00+00:00,181260.0,0.0,0.0,0.0,3.55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
17,17382202.0,20865773.0,2165-12-18 07:15:00+00:00,212100.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,11629754.0,27885249.0,2153-04-06 17:36:00+00:00,171240.0,0.0,7560.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,12805345.0,23251605.0,2136-01-29 22:07:00+00:00,332160.0,0.0,0.0,0.0,0.043333,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
20,15754949.0,20628554.0,2142-02-06 16:53:00+00:00,240420.0,0.0,7320.0,0.0,0.156667,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
21,14275781.0,25093856.0,2173-07-05 23:44:00+00:00,747960.0,0.0,9060.0,0.0,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,86.0,136.0,108.533333
22,18860097.0,26748189.0,2133-09-11 19:14:00+00:00,1545240.0,0.0,22260.0,0.0,0.15,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
23,13027516.0,24161720.0,2175-01-09 06:48:00+00:00,124320.0,0.0,85200.0,0.0,0.033333,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
24,19011264.0,29791780.0,2144-12-27 14:29:00+00:00,3637560.0,0.0,18240.0,0.0,0.0,37.0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.0,171.0,143.73913

In [ ]:
# Rename 'min_abp' to 'min_abpm_sys'
fin_tim = fin_tim.rename(columns={'min_abp': 'min_abp_sys'})
fin_tim = fin_tim.rename(columns={'max_abp': 'max_abp_sys'})
fin_tim = fin_tim.rename(columns={'avg_abp': 'avg_abp_sys'})

### Arterial Diastolic

In [ ]:
# Step 1: Filter chartevents for rows with itemid 220615 (Creatinine)
abpd_data = chartevents[chartevents['itemid'] == 220051]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
abpd_stats = abpd_data.groupby('hadm_id').agg(
    min_abpd=('valuenum', 'min'),
    max_abpd=('valuenum', 'max'),
    avg_abpd=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
fin_tim = fin_tim.merge(abpd_stats, on='hadm_id', how='left')

In [ ]:
# Step 4: Replace missing values (NaN) with 0 for each column individually in the final_data
fin_tim['min_abpd'] = fin_tim['min_abpd'].fillna(0)
fin_tim['max_abpd'] = fin_tim['max_abpd'].fillna(0)
fin_tim['avg_abpd'] = fin_tim['avg_abpd'].fillna(0)

# Display the updated final_data DataFrame
fin_tim.head(10)

,subject_id,hadm_id,admittime,stay_time,Death,reg_time,hospital_expire_flag,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,...,min_c_index_category_numeric,max_c_index_category_numeric,avg_c_index_category_numeric,AMI_No_AMI,min_abp_sys,max_abp_sys,avg_abp_sys,min_abpd,max_abpd,avg_abpd
0,11668452.0,21400255.0,2138-07-09 17:59:00+00:00,1551660.0,1.0,0.0,1.0,0.33,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,171.0,112.218978,0.0,153.0,36.268293
1,11443830.0,24853682.0,2136-05-10 19:26:00+00:00,155940.0,0.0,12480.0,0.0,0.15,0.0,130.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11225885.0,21268249.0,2157-01-20 06:07:00+00:00,1676280.0,0.0,0.0,0.0,0.03,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,17759883.0,27485767.0,2156-09-26 19:22:00+00:00,239280.0,0.0,17880.0,0.0,0.035,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,16303684.0,28517136.0,2149-12-01 00:00:00+00:00,481800.0,0.0,0.0,0.0,0.075,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,17913794.0,21725859.0,2141-09-17 13:53:00+00:00,177120.0,0.0,16440.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,12843379.0,22930953.0,2143-05-24 11:46:00+00:00,1479240.0,0.0,14580.0,0.0,0.03,0.0,0.0,...,2.0,2.0,2.0,1.0,86.0,151.0,122.764706,48.0,136.0,68.831933
7,11300822.0,27933210.0,2122-05-01 20:29:00+00:00,1975800.0,0.0,44880.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,11282159.0,28873235.0,2154-06-07 09:55:00+00:00,461400.0,0.0,38160.0,0.0,0.18,0.0,0.0,...,0.0,0.0,0.0,1.0,72.0,152.0,124.072727,40.0,120.0,63.781818
9,11503717.0,21337955.0,2157-04-27 20:13:00+00:00,319620.0,0.0,29820.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### ABP mean

In [ ]:
# Step 1: Filter chartevents for rows with itemid 220615 (Creatinine)
abpm_data = chartevents[chartevents['itemid'] == 220052]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
abpm_stats = abpm_data.groupby('hadm_id').agg(
    min_abpm=('valuenum', 'min'),
    max_abpm=('valuenum', 'max'),
    avg_abpm=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
fin_tim = fin_tim.merge(abpm_stats, on='hadm_id', how='left')

In [ ]:
# Step 4: Replace missing values (NaN) with 0 for each column individually in the final_data
fin_tim['min_abpm'] = fin_tim['min_abpm'].fillna(0)
fin_tim['max_abpm'] = fin_tim['max_abpm'].fillna(0)
fin_tim['avg_abpm'] = fin_tim['avg_abpm'].fillna(0)

# Display the updated final_data DataFrame
fin_tim.head(10)

,subject_id,hadm_id,admittime,stay_time,Death,reg_time,hospital_expire_flag,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,...,AMI_No_AMI,min_abp_sys,max_abp_sys,avg_abp_sys,min_abpd,max_abpd,avg_abpd,min_abpm,max_abpm,avg_abpm
0,11668452.0,21400255.0,2138-07-09 17:59:00+00:00,1551660.0,1.0,0.0,1.0,0.33,0.0,0.0,...,1.0,0.0,171.0,112.218978,0.0,153.0,36.268293,0.0,242.0,57.403423
1,11443830.0,24853682.0,2136-05-10 19:26:00+00:00,155940.0,0.0,12480.0,0.0,0.15,0.0,130.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11225885.0,21268249.0,2157-01-20 06:07:00+00:00,1676280.0,0.0,0.0,0.0,0.03,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,17759883.0,27485767.0,2156-09-26 19:22:00+00:00,239280.0,0.0,17880.0,0.0,0.035,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,16303684.0,28517136.0,2149-12-01 00:00:00+00:00,481800.0,0.0,0.0,0.0,0.075,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,17913794.0,21725859.0,2141-09-17 13:53:00+00:00,177120.0,0.0,16440.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,12843379.0,22930953.0,2143-05-24 11:46:00+00:00,1479240.0,0.0,14580.0,0.0,0.03,0.0,0.0,...,1.0,86.0,151.0,122.764706,48.0,136.0,68.831933,62.0,141.0,87.193277
7,11300822.0,27933210.0,2122-05-01 20:29:00+00:00,1975800.0,0.0,44880.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,11282159.0,28873235.0,2154-06-07 09:55:00+00:00,461400.0,0.0,38160.0,0.0,0.18,0.0,0.0,...,1.0,72.0,152.0,124.072727,40.0,120.0,63.781818,52.0,281.0,89.945455
9,11503717.0,21337955.0,2157-04-27 20:13:00+00:00,319620.0,0.0,29820.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### NBP Systolic

In [ ]:
# Step 1: Filter chartevents for rows with itemid 220615 (Creatinine)
nbps_data = chartevents[chartevents['itemid'] == 220179]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
nbps_stats = nbps_data.groupby('hadm_id').agg(
    min_nbps=('valuenum', 'min'),
    max_nbps=('valuenum', 'max'),
    avg_nbps=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
fin_tim = fin_tim.merge(nbps_stats, on='hadm_id', how='left')

In [ ]:
# Step 4: Replace missing values (NaN) with 0 for each column individually in the final_data
fin_tim['min_nbps'] = fin_tim['min_nbps'].fillna(0)
fin_tim['max_nbps'] = fin_tim['max_nbps'].fillna(0)
fin_tim['avg_nbps'] = fin_tim['avg_nbps'].fillna(0)

# Display the updated final_data DataFrame
fin_tim.head(10)

,subject_id,hadm_id,admittime,stay_time,Death,reg_time,hospital_expire_flag,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,...,avg_abp_sys,min_abpd,max_abpd,avg_abpd,min_abpm,max_abpm,avg_abpm,min_nbps,max_nbps,avg_nbps
0,11668452.0,21400255.0,2138-07-09 17:59:00+00:00,1551660.0,1.0,0.0,1.0,0.33,0.0,0.0,...,112.218978,0.0,153.0,36.268293,0.0,242.0,57.403423,77.0,153.0,115.586047
1,11443830.0,24853682.0,2136-05-10 19:26:00+00:00,155940.0,0.0,12480.0,0.0,0.15,0.0,130.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11225885.0,21268249.0,2157-01-20 06:07:00+00:00,1676280.0,0.0,0.0,0.0,0.03,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,76.0,173.0,139.224138
3,17759883.0,27485767.0,2156-09-26 19:22:00+00:00,239280.0,0.0,17880.0,0.0,0.035,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,16303684.0,28517136.0,2149-12-01 00:00:00+00:00,481800.0,0.0,0.0,0.0,0.075,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,17913794.0,21725859.0,2141-09-17 13:53:00+00:00,177120.0,0.0,16440.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,12843379.0,22930953.0,2143-05-24 11:46:00+00:00,1479240.0,0.0,14580.0,0.0,0.03,0.0,0.0,...,122.764706,48.0,136.0,68.831933,62.0,141.0,87.193277,81.0,149.0,119.546667
7,11300822.0,27933210.0,2122-05-01 20:29:00+00:00,1975800.0,0.0,44880.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,11282159.0,28873235.0,2154-06-07 09:55:00+00:00,461400.0,0.0,38160.0,0.0,0.18,0.0,0.0,...,124.072727,40.0,120.0,63.781818,52.0,281.0,89.945455,73.0,150.0,108.537037
9,11503717.0,21337955.0,2157-04-27 20:13:00+00:00,319620.0,0.0,29820.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### NBP Diastolic

In [ ]:
# Step 1: Filter chartevents for rows with itemid 220615 (Creatinine)
nbpd_data = chartevents[chartevents['itemid'] == 220180]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
nbpd_stats = nbpd_data.groupby('hadm_id').agg(
    min_nbpd=('valuenum', 'min'),
    max_nbpd=('valuenum', 'max'),
    avg_nbpd=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
fin_tim = fin_tim.merge(nbpd_stats, on='hadm_id', how='left')

In [ ]:
# Step 4: Replace missing values (NaN) with 0 for each column individually in the final_data
fin_tim['min_nbpd'] = fin_tim['min_nbpd'].fillna(0)
fin_tim['max_nbpd'] = fin_tim['max_nbpd'].fillna(0)
fin_tim['avg_nbpd'] = fin_tim['avg_nbpd'].fillna(0)

# Display the updated final_data DataFrame
fin_tim.head(10)

,subject_id,hadm_id,admittime,stay_time,Death,reg_time,hospital_expire_flag,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,...,avg_abpd,min_abpm,max_abpm,avg_abpm,min_nbps,max_nbps,avg_nbps,min_nbpd,max_nbpd,avg_nbpd
0,11668452.0,21400255.0,2138-07-09 17:59:00+00:00,1551660.0,1.0,0.0,1.0,0.33,0.0,0.0,...,36.268293,0.0,242.0,57.403423,77.0,153.0,115.586047,22.0,96.0,35.883721
1,11443830.0,24853682.0,2136-05-10 19:26:00+00:00,155940.0,0.0,12480.0,0.0,0.15,0.0,130.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11225885.0,21268249.0,2157-01-20 06:07:00+00:00,1676280.0,0.0,0.0,0.0,0.03,0.0,0.0,...,0.0,0.0,0.0,0.0,76.0,173.0,139.224138,40.0,110.0,62.275862
3,17759883.0,27485767.0,2156-09-26 19:22:00+00:00,239280.0,0.0,17880.0,0.0,0.035,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,16303684.0,28517136.0,2149-12-01 00:00:00+00:00,481800.0,0.0,0.0,0.0,0.075,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,17913794.0,21725859.0,2141-09-17 13:53:00+00:00,177120.0,0.0,16440.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,12843379.0,22930953.0,2143-05-24 11:46:00+00:00,1479240.0,0.0,14580.0,0.0,0.03,0.0,0.0,...,68.831933,62.0,141.0,87.193277,81.0,149.0,119.546667,46.0,126.0,66.573333
7,11300822.0,27933210.0,2122-05-01 20:29:00+00:00,1975800.0,0.0,44880.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,11282159.0,28873235.0,2154-06-07 09:55:00+00:00,461400.0,0.0,38160.0,0.0,0.18,0.0,0.0,...,63.781818,52.0,281.0,89.945455,73.0,150.0,108.537037,31.0,116.0,59.296296
9,11503717.0,21337955.0,2157-04-27 20:13:00+00:00,319620.0,0.0,29820.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### NBP mean

In [ ]:
# Step 1: Filter chartevents for rows with itemid 220615 (Creatinine)
nbpm_data = chartevents[chartevents['itemid'] == 220181]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
nbpm_stats = nbpm_data.groupby('hadm_id').agg(
    min_nbpm=('valuenum', 'min'),
    max_nbpm=('valuenum', 'max'),
    avg_nbpm=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
fin_tim = fin_tim.merge(nbpm_stats, on='hadm_id', how='left')

In [ ]:
# Step 4: Replace missing values (NaN) with 0 for each column individually in the final_data
fin_tim['min_nbpm'] = fin_tim['min_nbpm'].fillna(0)
fin_tim['max_nbpm'] = fin_tim['max_nbpm'].fillna(0)
fin_tim['avg_nbpm'] = fin_tim['avg_nbpm'].fillna(0)

# Display the updated final_data DataFrame
fin_tim.head(10)

,subject_id,hadm_id,admittime,stay_time,Death,reg_time,hospital_expire_flag,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,...,avg_abpm,min_nbps,max_nbps,avg_nbps,min_nbpd,max_nbpd,avg_nbpd,min_nbpm,max_nbpm,avg_nbpm
0,11668452.0,21400255.0,2138-07-09 17:59:00+00:00,1551660.0,1.0,0.0,1.0,0.33,0.0,0.0,...,57.403423,77.0,153.0,115.586047,22.0,96.0,35.883721,37.0,101.0,55.169014
1,11443830.0,24853682.0,2136-05-10 19:26:00+00:00,155940.0,0.0,12480.0,0.0,0.15,0.0,130.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11225885.0,21268249.0,2157-01-20 06:07:00+00:00,1676280.0,0.0,0.0,0.0,0.03,0.0,0.0,...,0.0,76.0,173.0,139.224138,40.0,110.0,62.275862,26.0,116.0,79.534483
3,17759883.0,27485767.0,2156-09-26 19:22:00+00:00,239280.0,0.0,17880.0,0.0,0.035,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,16303684.0,28517136.0,2149-12-01 00:00:00+00:00,481800.0,0.0,0.0,0.0,0.075,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,17913794.0,21725859.0,2141-09-17 13:53:00+00:00,177120.0,0.0,16440.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,12843379.0,22930953.0,2143-05-24 11:46:00+00:00,1479240.0,0.0,14580.0,0.0,0.03,0.0,0.0,...,87.193277,81.0,149.0,119.546667,46.0,126.0,66.573333,56.0,132.0,78.746667
7,11300822.0,27933210.0,2122-05-01 20:29:00+00:00,1975800.0,0.0,44880.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,11282159.0,28873235.0,2154-06-07 09:55:00+00:00,461400.0,0.0,38160.0,0.0,0.18,0.0,0.0,...,89.945455,73.0,150.0,108.537037,31.0,116.0,59.296296,42.0,124.0,70.703704
9,11503717.0,21337955.0,2157-04-27 20:13:00+00:00,319620.0,0.0,29820.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Heart Rate Vital

In [ ]:
# Step 1: Filter chartevents for rows with itemid 220615 (Creatinine)
heartv_data = chartevents[chartevents['itemid'] == 220045]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
heartv_stats = heartv_data.groupby('hadm_id').agg(
    min_heartv=('valuenum', 'min'),
    max_heartv=('valuenum', 'max'),
    avg_heartv=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
fin_tim = fin_tim.merge(heartv_stats, on='hadm_id', how='left')

In [ ]:
# Step 4: Replace missing values (NaN) with 0 for each column individually in the final_data
fin_tim['min_heartv'] = fin_tim['min_heartv'].fillna(0)
fin_tim['max_heartv'] = fin_tim['max_heartv'].fillna(0)
fin_tim['avg_heartv'] = fin_tim['avg_heartv'].fillna(0)

# Display the updated final_data DataFrame
fin_tim.columns

Index(['subject_id', 'hadm_id', 'admittime', 'stay_time', 'Death', 'reg_time',
       'hospital_expire_flag', 'average_troponin_level',
       'average_cholesterol_HDL', 'average_cholesterol_LDL_Calculated',
       'average_cholesterol_LDL_Measured', 'average_cholesterol_Total',
       'min_natiurectic', 'max_natiurectic', 'avg_natiurectic',
       'min_creatinine', 'max_creatinine', 'avg_creatinine',
       'min_icu_cholestrol', 'max_icu_cholestrol', 'avg_icu_cholestrol',
       'min_glucose', 'max_glucose', 'avg_glucose', 'min_ck_mb', 'max_ck_mb',
       'avg_ck_mb', 'min_ck_cpk', 'max_ck_cpk', 'avg_ck_cpk', 'min_c_index',
       'max_c_index', 'avg_c_index', 'average_troponin_level_category_numeric',
       'average_cholesterol_HDL_category_numeric',
       'average_cholesterol_LDL_Calculated_category_numeric',
       'average_cholesterol_LDL_Measured_category_numeric',
       'average_cholesterol_Total_category_numeric',
       'min_natiurectic_category_numeric', 'max_natiurectic_category_numeric',
       'avg_natiurectic_category_numeric', 'min_creatinine_category_numeric',
       'max_creatinine_category_numeric', 'avg_creatinine_category_numeric',
       'min_icu_cholestrol_category_numeric',
       'max_icu_cholestrol_category_numeric',
       'avg_icu_cholestrol_category_numeric', 'min_glucose_category_numeric',
       'max_glucose_category_numeric', 'avg_glucose_category_numeric',
       'min_ck_mb_category_numeric', 'max_ck_mb_category_numeric',
       'avg_ck_mb_category_numeric', 'min_ck_cpk_category_numeric',
       'max_ck_cpk_category_numeric', 'avg_ck_cpk_category_numeric',
       'min_c_index_category_numeric', 'max_c_index_category_numeric',
       'avg_c_index_category_numeric', 'AMI_No_AMI', 'min_abp_sys',
       'max_abp_sys', 'avg_abp_sys', 'min_abpd', 'max_abpd', 'avg_abpd',
       'min_abpm', 'max_abpm', 'avg_abpm', 'min_nbps', 'max_nbps', 'avg_nbps',
       'min_nbpd', 'max_nbpd', 'avg_nbpd', 'min_nbpm', 'max_nbpm', 'avg_nbpm',
       'min_heartv', 'max_heartv', 'avg_heartv'],
      dtype='object')

### Heart Rate Alarm

In [ ]:
# Step 1: Filter chartevents for rows with itemid 220615 (Creatinine)
hearta_data = chartevents[chartevents['itemid'] == 220047]

# Step 2: Group by hadm_id and calculate min, max, and avg (mean) for 'valuenum'
hearta_stats = hearta_data.groupby('hadm_id').agg(
    min_hearta=('valuenum', 'min'),
    max_hearta=('valuenum', 'max'),
    avg_hearta=('valuenum', 'mean')
).reset_index()

# Step 3: Merge the computed statistics with final_data based on hadm_id
fin_tim = fin_tim.merge(hearta_stats, on='hadm_id', how='left')

In [ ]:
# Step 4: Replace missing values (NaN) with 0 for each column individually in the final_data
fin_tim['min_hearta'] = fin_tim['min_hearta'].fillna(0)
fin_tim['max_hearta'] = fin_tim['max_hearta'].fillna(0)
fin_tim['avg_hearta'] = fin_tim['avg_hearta'].fillna(0)

# Display the updated final_data DataFrame
fin_tim.head(10)

,subject_id,hadm_id,admittime,stay_time,Death,reg_time,hospital_expire_flag,average_troponin_level,average_cholesterol_HDL,average_cholesterol_LDL_Calculated,...,avg_nbpd,min_nbpm,max_nbpm,avg_nbpm,min_heartv,max_heartv,avg_heartv,min_hearta,max_hearta,avg_hearta
0,11668452.0,21400255.0,2138-07-09 17:59:00+00:00,1551660.0,1.0,0.0,1.0,0.33,0.0,0.0,...,35.883721,37.0,101.0,55.169014,0.0,149.0,83.815739,55.0,60.0,57.211538
1,11443830.0,24853682.0,2136-05-10 19:26:00+00:00,155940.0,0.0,12480.0,0.0,0.15,0.0,130.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11225885.0,21268249.0,2157-01-20 06:07:00+00:00,1676280.0,0.0,0.0,0.0,0.03,0.0,0.0,...,62.275862,26.0,116.0,79.534483,75.0,117.0,93.586207,50.0,130.0,70.0
3,17759883.0,27485767.0,2156-09-26 19:22:00+00:00,239280.0,0.0,17880.0,0.0,0.035,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,16303684.0,28517136.0,2149-12-01 00:00:00+00:00,481800.0,0.0,0.0,0.0,0.075,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,17913794.0,21725859.0,2141-09-17 13:53:00+00:00,177120.0,0.0,16440.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,12843379.0,22930953.0,2143-05-24 11:46:00+00:00,1479240.0,0.0,14580.0,0.0,0.03,0.0,0.0,...,66.573333,56.0,132.0,78.746667,96.0,128.0,109.370787,50.0,60.0,50.666667
7,11300822.0,27933210.0,2122-05-01 20:29:00+00:00,1975800.0,0.0,44880.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,11282159.0,28873235.0,2154-06-07 09:55:00+00:00,461400.0,0.0,38160.0,0.0,0.18,0.0,0.0,...,59.296296,42.0,124.0,70.703704,60.0,91.0,77.258824,50.0,60.0,56.25
9,11503717.0,21337955.0,2157-04-27 20:13:00+00:00,319620.0,0.0,29820.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Perform the join on 'hadm_id' to get charttime and storetime from timestamps
fin_tim = fin_tim.merge(
    timestamps[['subject_id', 'charttime', 'storetime']],
    on='subject_id',
    how='left'  # Use 'left' join to keep all records from final_with_admissions
)

### ordering data

In [ ]:
fin_tim.columns

Index(['subject_id', 'hadm_id', 'admittime', 'stay_time', 'Death', 'reg_time',
       'hospital_expire_flag', 'charttime', 'storetime',
       'average_troponin_level', 'average_cholesterol_HDL',
       'average_cholesterol_LDL_Calculated',
       'average_cholesterol_LDL_Measured', 'average_cholesterol_Total',
       'min_natiurectic', 'max_natiurectic', 'avg_natiurectic',
       'min_creatinine', 'max_creatinine', 'avg_creatinine',
       'min_icu_cholestrol', 'max_icu_cholestrol', 'avg_icu_cholestrol',
       'min_glucose', 'max_glucose', 'avg_glucose', 'min_ck_mb', 'max_ck_mb',
       'avg_ck_mb', 'min_ck_cpk', 'max_ck_cpk', 'avg_ck_cpk', 'min_c_index',
       'max_c_index', 'avg_c_index', 'min_abp_sys', 'max_abp_sys',
       'avg_abp_sys', 'min_abpd', 'max_abpd', 'avg_abpd', 'min_abpm',
       'max_abpm', 'avg_abpm', 'min_nbps', 'max_nbps', 'avg_nbps', 'min_nbpd',
       'max_nbpd', 'avg_nbpd', 'min_nbpm', 'max_nbpm', 'avg_nbpm',
       'min_heartv', 'max_heartv', 'avg_heartv', 'min_hearta', 'max_hearta',
       'avg_hearta', 'average_troponin_level_category_numeric',
       'average_cholesterol_HDL_category_numeric',
       'average_cholesterol_LDL_Calculated_category_numeric',
       'average_cholesterol_LDL_Measured_category_numeric',
       'average_cholesterol_Total_category_numeric',
       'min_natiurectic_category_numeric', 'max_natiurectic_category_numeric',
       'avg_natiurectic_category_numeric', 'min_creatinine_category_numeric',
       'max_creatinine_category_numeric', 'avg_creatinine_category_numeric',
       'min_icu_cholestrol_category_numeric',
       'max_icu_cholestrol_category_numeric',
       'avg_icu_cholestrol_category_numeric', 'min_glucose_category_numeric',
       'max_glucose_category_numeric', 'avg_glucose_category_numeric',
       'min_ck_mb_category_numeric', 'max_ck_mb_category_numeric',
       'avg_ck_mb_category_numeric', 'min_ck_cpk_category_numeric',
       'max_ck_cpk_category_numeric', 'avg_ck_cpk_category_numeric',
       'min_c_index_category_numeric', 'max_c_index_category_numeric',
       'avg_c_index_category_numeric', 'AMI_No_AMI'],
      dtype='object')

In [ ]:
# Define the desired column order
desired_column_order = [
    'subject_id', 'hadm_id', 'admittime', 'stay_time', 'Death', 'reg_time',
       'hospital_expire_flag','charttime', 'storetime', 'average_troponin_level',
       'average_cholesterol_HDL', 'average_cholesterol_LDL_Calculated',
       'average_cholesterol_LDL_Measured', 'average_cholesterol_Total',
       'min_natiurectic', 'max_natiurectic', 'avg_natiurectic',
       'min_creatinine', 'max_creatinine', 'avg_creatinine',
       'min_icu_cholestrol', 'max_icu_cholestrol', 'avg_icu_cholestrol',
       'min_glucose', 'max_glucose', 'avg_glucose', 'min_ck_mb', 'max_ck_mb',
       'avg_ck_mb', 'min_ck_cpk', 'max_ck_cpk', 'avg_ck_cpk', 'min_c_index',
       'max_c_index', 'avg_c_index', 'min_abp_sys',
       'max_abp_sys', 'avg_abp_sys', 'min_abpd', 'max_abpd', 'avg_abpd',
       'min_abpm', 'max_abpm', 'avg_abpm', 'min_nbps', 'max_nbps', 'avg_nbps',
       'min_nbpd', 'max_nbpd', 'avg_nbpd', 'min_nbpm', 'max_nbpm', 'avg_nbpm',
       'min_heartv', 'max_heartv', 'avg_heartv', 'min_hearta', 'max_hearta',
       'avg_hearta', 'average_troponin_level_category_numeric',
       'average_cholesterol_HDL_category_numeric',
       'average_cholesterol_LDL_Calculated_category_numeric',
       'average_cholesterol_LDL_Measured_category_numeric',
       'average_cholesterol_Total_category_numeric',
       'min_natiurectic_category_numeric', 'max_natiurectic_category_numeric',
       'avg_natiurectic_category_numeric', 'min_creatinine_category_numeric',
       'max_creatinine_category_numeric', 'avg_creatinine_category_numeric',
       'min_icu_cholestrol_category_numeric',
       'max_icu_cholestrol_category_numeric',
       'avg_icu_cholestrol_category_numeric', 'min_glucose_category_numeric',
       'max_glucose_category_numeric', 'avg_glucose_category_numeric',
       'min_ck_mb_category_numeric', 'max_ck_mb_category_numeric',
       'avg_ck_mb_category_numeric', 'min_ck_cpk_category_numeric',
       'max_ck_cpk_category_numeric', 'avg_ck_cpk_category_numeric',
       'min_c_index_category_numeric', 'max_c_index_category_numeric',
       'avg_c_index_category_numeric', 'AMI_No_AMI'
]

# Reorder the columns in fin_tim
fin_tim = fin_tim[desired_column_order]

# Display the reordered DataFrame
fin_tim

,subject_id,hadm_id,admittime,stay_time,Death,reg_time,hospital_expire_flag,charttime,storetime,average_troponin_level,...,min_ck_mb_category_numeric,max_ck_mb_category_numeric,avg_ck_mb_category_numeric,min_ck_cpk_category_numeric,max_ck_cpk_category_numeric,avg_ck_cpk_category_numeric,min_c_index_category_numeric,max_c_index_category_numeric,avg_c_index_category_numeric,AMI_No_AMI
0,11668452.0,21400255.0,2138-07-09 17:59:00+00:00,1551660.0,1.0,0.0,1.0,2138-07-09 19:09:00,2138-07-09 22:03:00,0.33,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1,11443830.0,24853682.0,2136-05-10 19:26:00+00:00,155940.0,0.0,12480.0,0.0,2136-05-11 06:48:00,2136-05-11 08:18:00,0.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,11225885.0,21268249.0,2157-01-20 06:07:00+00:00,1676280.0,0.0,0.0,0.0,2157-01-20 06:12:00,2157-01-20 07:24:00,0.03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,17759883.0,27485767.0,2156-09-26 19:22:00+00:00,239280.0,0.0,17880.0,0.0,2156-09-27 07:43:00,2156-09-27 14:04:00,0.035,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,16303684.0,28517136.0,2149-12-01 00:00:00+00:00,481800.0,0.0,0.0,0.0,2149-12-01 22:18:00,2149-12-01 23:21:00,0.075,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,17913794.0,21725859.0,2141-09-17 13:53:00+00:00,177120.0,0.0,16440.0,0.0,<NA>,<NA>,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,12843379.0,22930953.0,2143-05-24 11:46:00+00:00,1479240.0,0.0,14580.0,0.0,2143-05-24 22:12:00,2143-05-25 02:49:00,0.03,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
7,11300822.0,27933210.0,2122-05-01 20:29:00+00:00,1975800.0,0.0,44880.0,0.0,<NA>,<NA>,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,11282159.0,28873235.0,2154-06-07 09:55:00+00:00,461400.0,0.0,38160.0,0.0,2154-06-11 19:40:00,2154-06-11 20:51:00,0.18,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,11503717.0,21337955.0,2157-04-27 20:13:00+00:00,319620.0,0.0,29820.0,0.0,<NA>,<NA>,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,17150269.0,20045301.0,2144-05-04 19:00:00+00:00,504900.0,0.0,17160.0,0.0,<NA>,<NA>,0.01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,15831045.0,25898715.0,2173-11-26 20:20:00+00:00,142740.0,0.0,86220.0,0.0,2173-11-26 23:28:00,2173-11-27 00:26:00,0.046667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12,12831424.0,27096994.0,2190-03-09 19:30:00+00:00,334500.0,0.0,18060.0,0.0,2190-03-09 23:45:00,2190-03-10 00:46:00,0.04,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13,10598267.0,28232814.0,2136-01-02 03:15:00+00:00,1079700.0,0.0,6900.0,0.0,2136-01-02 05:12:00,2136-01-02 08:16:00,0.02,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
14,10326078.0,23912064.0,2111-09-02 04:49:00+00:00,1585260.0,0.0,67740.0,0.0,2111-09-02 11:35:00,2111-09-02 15:30:00,0.0525,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
15,15372856.0,24181984.0,2113-11-26 22:13:00+00:00,653520.0,0.0,15060.0,0.0,<NA>,<NA>,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,10835634.0,22200574.0,2176-07-16 18:39:00+00:00,181260.0,0.0,0.0,0.0,2176-07-16 21:28:00,2176-07-16 23:05:00,3.55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17,17382202.0,20865773.0,2165-12-18 07:15:00+00:00,212100.0,0.0,0.0,0.0,<NA>,<NA>,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,11629754.0,27885249.0,2153-04-06 17:36:00+00:00,171240.0,0.0,7560.0,0.0,<NA>,<NA>,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,12805345.0,23251605.0,2136-01-29 22:07:00+00:00,332160.0,0.0,0.0,0.0,2136-01-29 22:50:00,2136-01-29 23:43:00,0.043333,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
20,15754949.0,20628554.0,2142-02-06 16:53:00+00:00,240420.0,0.0,7320.0,0.0,2142-02-06 22:20:00,2142-02-07 00:05:00,0.156667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
21,14275781.0,25093856.0,2173-07-05 23:44:00+00:00,747960.0,0.0,9060.0,0.0,2173-07-06 05:00:00,2173-07-06 05:56:00,0.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
22,18860097.0,26748189.0,2133-09-11 19:14:00+00:00,1545240.0,0.0,22260.0,0.0,2133-09-11 22:23:00,2133-09-11 23:10:00,0.15,...,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
23,13027516.0,24161720.0,2175-01-09 06:48:00+00:00,124320.0,0.0,85200.0,0.0,2175-01-09 07:37:00,2175-01-09 08:33:00,0.033333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
24,19011264.0,29791780.0,2144-12-27 14:29:00+00:00,3637560.0,0.0,18240.0,0.0,<NA>,<NA>,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
import os

# Get the current working directory
current_directory = os.getcwd()
print(current_directory)

/content

In [ ]:
# Define a dictionary with the column names and their corresponding replacement values
replacement_values = {
    'average_troponin_level': 0.02,
    'average_cholesterol_HDL': 60,
    'average_cholesterol_LDL_Calculated': 120,
    'average_cholesterol_LDL_Measured': 120,
    'average_cholesterol_Total': 195,
    'min_creatinine': 0.55,
    'max_creatinine': 1.15,
    'avg_creatinine': 0.85,
    'min_icu_cholestrol': 190,
    'max_icu_cholestrol': 200,
    'avg_natiurectic': 300,
    'min_natiurectic': 100,
    'max_natiurectic': 500,
    'avg_icu_cholestrol': 195,
    'min_glucose': 70,
    'max_glucose': 100,
    'avg_glucose': 85,
    'min_ck_mb': 2,
    'max_ck_mb': 6,
    'avg_ck_mb': 4,
    'min_ck_cpk': 32,
    'max_ck_cpk': 162,
    'avg_ck_cpk': 97,
    'min_c_index': 2.5,
    'max_c_index': 4,
    'avg_c_index': 3.25,
    'min_abp_sys': 120,
    'max_abp_sys': 129,
    'avg_abp_sys': 124.5,
    'min_abpd': 80,
    'max_abpd': 89,
    'avg_abpd': 84.5,
    'min_abpm': 70,
    'max_abpm': 100,
    'avg_abpm': 85,
    'min_nbps': 120,
    'max_nbps': 129,
    'avg_nbps': 124.5,
    'min_nbpd': 80,
    'max_nbpd': 89,
    'avg_nbpd': 84.5,
    'min_nbpm': 70,
    'max_nbpm': 100,
    'avg_nbpm': 85,
    'min_heartv': 60,
    'max_heartv': 100,
    'avg_heartv': 80,
    'min_hearta': 55,
    'max_hearta': 85,
    'avg_hearta': 70
}

# Iterate through the dictionary and replace 0 values in each column with the corresponding value
for column, replacement in replacement_values.items():
    fin_tim[column] = fin_tim[column].replace(0, replacement)

In [ ]:
fin_tim

,subject_id,hadm_id,admittime,stay_time,Death,reg_time,hospital_expire_flag,charttime,storetime,average_troponin_level,...,min_ck_mb_category_numeric,max_ck_mb_category_numeric,avg_ck_mb_category_numeric,min_ck_cpk_category_numeric,max_ck_cpk_category_numeric,avg_ck_cpk_category_numeric,min_c_index_category_numeric,max_c_index_category_numeric,avg_c_index_category_numeric,AMI_No_AMI
0,11668452.0,21400255.0,2138-07-09 17:59:00+00:00,1551660.0,1.0,0.0,1.0,2138-07-09 19:09:00,2138-07-09 22:03:00,0.33,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1,11443830.0,24853682.0,2136-05-10 19:26:00+00:00,155940.0,0.0,12480.0,0.0,2136-05-11 06:48:00,2136-05-11 08:18:00,0.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,11225885.0,21268249.0,2157-01-20 06:07:00+00:00,1676280.0,0.0,0.0,0.0,2157-01-20 06:12:00,2157-01-20 07:24:00,0.03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,17759883.0,27485767.0,2156-09-26 19:22:00+00:00,239280.0,0.0,17880.0,0.0,2156-09-27 07:43:00,2156-09-27 14:04:00,0.035,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,16303684.0,28517136.0,2149-12-01 00:00:00+00:00,481800.0,0.0,0.0,0.0,2149-12-01 22:18:00,2149-12-01 23:21:00,0.075,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,17913794.0,21725859.0,2141-09-17 13:53:00+00:00,177120.0,0.0,16440.0,0.0,<NA>,<NA>,0.02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,12843379.0,22930953.0,2143-05-24 11:46:00+00:00,1479240.0,0.0,14580.0,0.0,2143-05-24 22:12:00,2143-05-25 02:49:00,0.03,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
7,11300822.0,27933210.0,2122-05-01 20:29:00+00:00,1975800.0,0.0,44880.0,0.0,<NA>,<NA>,0.02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,11282159.0,28873235.0,2154-06-07 09:55:00+00:00,461400.0,0.0,38160.0,0.0,2154-06-11 19:40:00,2154-06-11 20:51:00,0.18,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,11503717.0,21337955.0,2157-04-27 20:13:00+00:00,319620.0,0.0,29820.0,0.0,<NA>,<NA>,0.02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,17150269.0,20045301.0,2144-05-04 19:00:00+00:00,504900.0,0.0,17160.0,0.0,<NA>,<NA>,0.01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,15831045.0,25898715.0,2173-11-26 20:20:00+00:00,142740.0,0.0,86220.0,0.0,2173-11-26 23:28:00,2173-11-27 00:26:00,0.046667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12,12831424.0,27096994.0,2190-03-09 19:30:00+00:00,334500.0,0.0,18060.0,0.0,2190-03-09 23:45:00,2190-03-10 00:46:00,0.04,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13,10598267.0,28232814.0,2136-01-02 03:15:00+00:00,1079700.0,0.0,6900.0,0.0,2136-01-02 05:12:00,2136-01-02 08:16:00,0.02,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
14,10326078.0,23912064.0,2111-09-02 04:49:00+00:00,1585260.0,0.0,67740.0,0.0,2111-09-02 11:35:00,2111-09-02 15:30:00,0.0525,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
15,15372856.0,24181984.0,2113-11-26 22:13:00+00:00,653520.0,0.0,15060.0,0.0,<NA>,<NA>,0.02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,10835634.0,22200574.0,2176-07-16 18:39:00+00:00,181260.0,0.0,0.0,0.0,2176-07-16 21:28:00,2176-07-16 23:05:00,3.55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17,17382202.0,20865773.0,2165-12-18 07:15:00+00:00,212100.0,0.0,0.0,0.0,<NA>,<NA>,0.02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,11629754.0,27885249.0,2153-04-06 17:36:00+00:00,171240.0,0.0,7560.0,0.0,<NA>,<NA>,0.02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,12805345.0,23251605.0,2136-01-29 22:07:00+00:00,332160.0,0.0,0.0,0.0,2136-01-29 22:50:00,2136-01-29 23:43:00,0.043333,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
20,15754949.0,20628554.0,2142-02-06 16:53:00+00:00,240420.0,0.0,7320.0,0.0,2142-02-06 22:20:00,2142-02-07 00:05:00,0.156667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
21,14275781.0,25093856.0,2173-07-05 23:44:00+00:00,747960.0,0.0,9060.0,0.0,2173-07-06 05:00:00,2173-07-06 05:56:00,0.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
22,18860097.0,26748189.0,2133-09-11 19:14:00+00:00,1545240.0,0.0,22260.0,0.0,2133-09-11 22:23:00,2133-09-11 23:10:00,0.15,...,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
23,13027516.0,24161720.0,2175-01-09 06:48:00+00:00,124320.0,0.0,85200.0,0.0,2175-01-09 07:37:00,2175-01-09 08:33:00,0.033333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
24,19011264.0,29791780.0,2144-12-27 14:29:00+00:00,3637560.0,0.0,18240.0,0.0,<NA>,<NA>,0.02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Save the DataFrame as a CSV file
fin_tim.to_csv('data_not_scaled.csv', index=False)

In [ ]:
# Drop the 'min_abp_x' column from the fin_tim DataFrame
fin_tim = fin_tim.drop(columns=['int64_field_0'])

In [ ]:
import pandas as pd

# Assume `fin_tim` and `icd` dataframes are already loaded

# Define the ICD codes for "Chest pain, unspecified"
icd10_code = 'R074'
icd9_code = '78650'

# Merge fin_tim with icd to check for the diagnoses
diagnose = fin_tim.merge(icd, on=['subject_id', 'hadm_id'], how='left')

# Create a new column for "Chest pain, unspecified" and check for both codes
diagnose['Chest pain, unspecified'] = 0  # Initialize the column with 0
diagnose.loc[(diagnose['icd_code'] == icd10_code) | (diagnose['icd_code'] == icd9_code), 'Chest pain, unspecified'] = 1

# Select only the required columns
diagnose = diagnose[['subject_id', 'hadm_id', 'Chest pain, unspecified']]

# Optionally, you can drop duplicates if necessary
diagnose = diagnose.drop_duplicates()

# Display the resulting dataframe
diagnose

     subject_id   hadm_id  Chest pain, unspecified
0      11668452  21400255                        0
27     11443830  24853682                        0
33     11225885  21268249                        0
65     17759883  27485767                        0
80     16303684  28517136                        0
103    17913794  21725859                        0
124    12843379  22930953                        0
150    11300822  27933210                        0
171    11282159  28873235                        0
186    11503717  21337955                        0
197    17150269  20045301                        0
210    15831045  25898715                        0
221    12831424  27096994                        0
239    10598267  28232814                        0
263    10326078  23912064                        0
293    15372856  24181984                        0
305    10835634  22200574                        0
314    17382202  20865773                        0
325    11629754  27885249                        0
343    12805345  23251605                        0
364    15754949  20628554                        0
369    14275781  25093856                        0
380    18860097  26748189                        0
397    13027516  24161720                        0
413    19011264  29791780                        0
...

[35696 rows x 3 columns]

In [ ]:
# Step 1: Merge fin_tim with icd to check for diagnoses
merged_df = fin_tim.merge(icd, on=['subject_id', 'hadm_id'], how='left')

# Step 2: Define ICD codes for "Chest pain, unspecified"
icd10_code = 'R42'
icd9_code = '7804'

# Step 3: Initialize the new column "Chest pain, unspecified" with 0 in the diagnose dataframe
diagnose['Dizziness and giddiness'] = 0

# Step 4: Update the "Chest pain, unspecified" column based on the presence of either ICD-10 or ICD-9 codes
diagnose.loc[(merged_df['icd_code'] == icd10_code) | (merged_df['icd_code'] == icd9_code), 'Dizziness and giddiness'] = 1

# Step 5: The column is now added to the existing diagnose dataframe, no need to select columns again
# Display the updated diagnose dataframe
diagnose

,subject_id,hadm_id,"Chest pain, unspecified",Generalized hyperhidrosis,Dyspnoea - Shortness of breath,Pain(s) arm,Dizziness and giddiness
0,11668452,21400255,0,0,0,0,0
27,11443830,24853682,0,0,0,0,0
33,11225885,21268249,0,0,0,0,0
65,17759883,27485767,0,0,0,0,0
80,16303684,28517136,0,0,0,0,0
103,17913794,21725859,0,0,0,0,0
124,12843379,22930953,0,0,0,0,0
150,11300822,27933210,0,0,0,0,0
171,11282159,28873235,0,0,0,0,0
186,11503717,21337955,0,0,0,0,0
197,17150269,20045301,0,0,0,0,0
210,15831045,25898715,0,0,0,0,0
221,12831424,27096994,0,0,0,0,0
239,10598267,28232814,0,0,0,0,0
263,10326078,23912064,0,0,0,0,0
293,15372856,24181984,0,0,0,0,0
305,10835634,22200574,0,0,0,0,0
314,17382202,20865773,0,0,0,0,0
325,11629754,27885249,0,0,0,0,0
343,12805345,23251605,0,0,0,0,0
364,15754949,20628554,0,0,0,0,0
369,14275781,25093856,0,0,0,0,0
380,18860097,26748189,0,0,0,0,0
397,13027516,24161720,0,0,0,0,0
413,19011264,29791780,0,0,0,0,0

In [ ]:
# Define the conditions and their corresponding ICD-9 and ICD-10 codes
conditions = {
    'Nausea': {'icd10': 'R110', 'icd9': '78701'},
    'Vomiting, unspecified': {'icd10': 'R1110', 'icd9': '78703'},
    'Palpitations': {'icd10': 'R002', 'icd9': '7851'},
    'Wheezing': {'icd10': 'R062', 'icd9': '78607'},
    'Cough': {'icd10': 'R05', 'icd9': '7862'},
    'Cardiogenic shock': {'icd10': 'R570', 'icd9': '78551'},
    'Chest pain on breathing': {'icd10': 'R071', 'icd9': '78652'},
    'Other chest pain': {'icd10': 'R073', 'icd9': '78659'},
    'Pericardial effusion': {'icd10': 'I313', 'icd9': '4230'},
    'Disease of pericardium, unspecified': {'icd10': 'I319', 'icd9': '4239'},
    'Pulmonary oedema': {'icd10': 'J81', 'icd9': '5185'},
    'Haemopericardium following MI': {'icd10': 'I230', 'icd9': '4290'},
    'Atrial septal defect following MI': {'icd10': 'I231', 'icd9': '7455'},
    'Ventricular septal defect following MI': {'icd10': 'I232', 'icd9': '7454'},
    'Rupture of cardiac wall following MI': {'icd10': 'I233', 'icd9': '4294'},
    'Rupture of chordae tendineae following MI': {'icd10': 'I234', 'icd9': '4294'},
    'Rupture of papillary muscle following MI': {'icd10': 'I235', 'icd9': '4294'},
    'Thrombosis of atrium following MI': {'icd10': 'I236', 'icd9': '4293'},
    'Other complications following MI': {'icd10': 'I238', 'icd9': '4299'}
}

# Step 1: Merge fin_tim with icd to check for diagnoses
merged_df = fin_tim.merge(icd, on=['subject_id', 'hadm_id'], how='left')

# Step 2: Loop through each condition and add a corresponding column in diagnose
for condition, codes in conditions.items():
    icd10_code = codes['icd10']
    icd9_code = codes['icd9']

    # Step 3: Initialize the new column for each condition with 0
    diagnose[condition] = 0

    # Step 4: Update the new column based on the presence of either ICD-10 or ICD-9 codes
    diagnose.loc[(merged_df['icd_code'] == icd10_code) | (merged_df['icd_code'] == icd9_code), condition] = 1

# Step 5: Display the updated diagnose dataframe
diagnose

In [ ]:
distinct_values = diagnose["Pain(s) arm"].value_counts()
distinct_values

Pain(s) arm
0    35676
1       20
Name: count, dtype: Int64

In [ ]:
'Dizziness and giddiness': {'icd10': 'R42', 'icd9': '780.4'},
    'Nausea': {'icd10': 'R11.0', 'icd9': '787.01'},
    'Vomiting, unspecified': {'icd10': 'R11.10', 'icd9': '787.03'},
    'Palpitations': {'icd10': 'R00.2', 'icd9': '785.1'},
    'Wheezing': {'icd10': 'R06.2', 'icd9': '786.07'},
    'Cough': {'icd10': 'R05', 'icd9': '786.2'},
    'Cardiogenic shock': {'icd10': 'R57.0', 'icd9': '785.51'},
    'Chest pain on breathing': {'icd10': 'R07.1', 'icd9': '786.52'},
    'Other chest pain': {'icd10': 'R07.3', 'icd9': '786.59'},
    'Pericardial effusion': {'icd10': 'I31.3', 'icd9': '423.0'},
    'Disease of pericardium, unspecified': {'icd10': 'I31.9', 'icd9': '423.9'},
    'Pulmonary oedema': {'icd10': 'J81', 'icd9': '518.5'},
    'Haemopericardium following MI': {'icd10': 'I23.0', 'icd9': '429.0'},
    'Atrial septal defect following MI': {'icd10': 'I23.1', 'icd9': '745.5'},
    'Ventricular septal defect following MI': {'icd10': 'I23.2', 'icd9': '745.4'},
    'Rupture of cardiac wall following MI': {'icd10': 'I23.3', 'icd9': '429.4'},
    'Rupture of chordae tendineae following MI': {'icd10': 'I23.4', 'icd9': '429.4'},
    'Rupture of papillary muscle following MI': {'icd10': 'I23.5', 'icd9': '429.4'},
    'Thrombosis of atrium following MI': {'icd10': 'I23.6', 'icd9': '429.3'},
    'Other complications following MI': {'icd10': 'I23.8', 'icd9': '429.9'}